[2018-05-21 09:56] pellyadolfo commented on #429
Thanks for this fix. How should I upgrade nebular to get this fix into my project? Thanks

[2018-05-22 14:31] #418 closed

[2018-05-22 20:06] #326 closed

[2018-05-23 13:30] dedpnd commented on #114
Hi @nnixaa, i imagined it that way.
If `rememberMe` is not selected then the token is recorded in `sessionStorage`, respectively, if selected then recorded in the `localStorage`.

[2018-05-24 01:27] hosseinGanjyar commented on #11
@sKaouech very good tick...
I used of routerlink into logout function that has a problem and redirected to login page.

[code]

@nnixaa Why past my solution has a problem?

[2018-05-24 08:24] Hexor opened #442 "How to display the error message from the server."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
I want to know how to display the error message from the server.
For example, if the password was not right for login, what exact json response should server response so that nebular could display the error.

Currently my serve will return the api res

[2018-05-24 08:33] Morta1 commented on #305
hey @nnixaa, are you considering adding this feature in the future?

[2018-05-24 11:02] muysewinkel opened #443 "set the width of ngbModal"
### Issue type

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

I want certain modals to be larger then the current 800px.

I tried several things
1) add a custom windowClass

[code]

2) just try to overwrite the max-width value

in the scss of the component I added:

[code]

The modal always keeps its 800px size and the styles do not appear in the element sty

[2018-05-24 11:10] nnixaa commented on #442
Hi @Hexor, I presume you use `NbEmailPassAuthProvider`, if so, please take a look at the available options here https://akveo.github.io/nebular/#/docs/auth/nbemailpassauthprovider. By default this provider waits for an array of errors by the `data.errors` path in your response object, so something like this:
[code]
So you can either change your API to conform to this format or adjust the provider

[2018-05-24 11:36] nnixaa commented on #404
Hi @Safo91, I have just checked your archive, and from the first look - you copied the whole auth module, not only the components. Then you never registered copied components in any module (as per step 2 from the docs https://akveo.github.io/nebular/#/docs/auth/configuring-ui).
I'd suggest you start over and carefully go through each spets double checking you didn't miss anything.

[2018-05-24 11:54] #391 closed

[2018-05-24 12:16] Hexor commented on #442
Thank you. I forgot to return the http status code. Once I return a error code like 404, everything works fine.

[2018-05-24 12:16] #442 closed

[2018-05-24 12:17] nnixaa commented on #429
Hi @pellyadolfo, this will be released in the next rc.

[2018-05-24 12:18] nnixaa commented on #62
@louisamoros cool! Looking forward to it.

[2018-05-24 15:17] ruisebastiao opened #444 "menu does not expand correctly"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

when sub-menu items are added asynchronous  the parent menu does not expand correctly if a sub-menu is selected and a page reload occurs.

![peek 2018-05-24 16-04](https://user-images.githubusercontent.com/5761011/40494837-b9626b62-5f6d-11e8-9379-1a

[2018-05-25 11:53] Hexor opened #447 "How to tell the user whether authenticated or not?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
How to tell the user whether authenticated or not?

**Related code:**

In login.component.ts, I did this. And of course this is not working.

[code]

All I want to do is
if the user was authenticated, the page will redirect to /pages/dashboard.

I'm not familiar with Rxjs,

[2018-05-25 16:58] JavierFuentes opened #449 "In Firefox v60.0.1 (64-bit) only, all sidebar items and many elements disappear with Light Theme (default theme)"
### Issue type

**I'm submitting a ...**

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
In Firefox v60.0.1 (64-bit) for Windows 10 only, all sidebar items and many elements disappear with Light Theme.
It works OK with latest releases of Chrome, Edge and Opera.

**Expected behavior:**
All content should remain visible with Light Theme

**Steps to reproduce:**

[2018-05-25 18:25] KelvinPrimo opened #450 "Unexpected value 'NbAuthJWTToken'"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report?
* [ ] feature request

### Issue description
I'm learning angular with pre-built sites like NGX-admin. I was following this section
[https://akveo.github.io/nebular/#/docs/auth/getting-user-token](url) but, when I import the NbAuthJWTToken. it returns an error on chrome console.

**Current behavior:**

**Expected beh

[2018-05-25 20:12] muysewinkel opened #451 "Flip Card not working as described in the documentation"
**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I took the code from the documentation as found [here](https://akveo.github.io/nebular/?utm_source=github&utm_medium=nebular_readme#/docs/components/flip-card)

[code]
This displays a card, with the flip arrow not positioned nicely.

<img width="195" alt="image" src=

[2018-05-25 23:11] ahall-medullan commented on #404
has anyone gotten this to work? I am getting the same kinds of errors. my custom form is showing but I get `ERROR TypeError: Nb auth provider 'null' is not registered` when I submit the register form. someone should push a project that has a working example of one of the auth forms being customized.

[2018-05-25 23:43] ahall-medullan commented on #404
I found the issue for my problem. It was a breaking change provider was changed to strategy, after I started using the **starter-kit** branch. y'all need to keep the starter-ket branch up to date or advise that it is out of sync with master

[2018-05-26 22:09] ruisebastiao commented on #444
this is how i solve this problem:

when the submenu  is changend at runtime and if the and the

`expand` property is false the submenuhigh is not calculated and gets value 0 as we can see in the function:
https://github.com/akveo/nebular/blob/16314e8fb7dcebe23aca3b754d277e20a726597f/src/framework/theme/components/menu/menu.component.ts#L32

[code]
so i changed my code and set the expanded variable

[2018-05-27 18:17] Safo91 commented on #404
so my issue is because the starter pack is outdated? @ahall-medullan

[2018-05-27 20:38] Jennilein1991 opened #452 "Not centered context menu"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

When creating a `<nb-user>` component only showing the picture (`onlyPicture=true`), the corresponding context menu is not centered under the picture. It looks like, even without showing the title or name of the user, a `div` with the class `info-con

[2018-05-28 03:06] MpBling commented on #23
Hi, when I select a item on menu, the other items expanded doesn't should collapsed?

thanks

[2018-05-28 12:33] Bangood opened #453 "How to update user info on HeaderComponet"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
The headerComponent include user info which i get from token, when I change the token in other component(ProfileComponent), the headerComponent didn't change.

**Expected behavior:**
I change the user info in ProfileComponet, and refresh the token. I

[2018-05-28 14:12] ahall-medullan commented on #404
In my case, that was the primary issues. I had other side issues, I looked back at the instructions and followed them to a T, and that got rid of the other issue. ensure you only copy the components folders, not the services etc. I also had to change the imports in the components as follows:
[code]

[2018-05-28 17:42] ahall-medullan commented on #404
ensure your app-routing.module.ts is importing your components from the path that you copied them to and not from nebular, and those components are being used on the routes config. mine looks like this
[code]

and
[code]

[2018-05-28 20:15] Safo91 commented on #404
I did, here is my project: [ngx-admin.zip](https://github.com/akveo/nebular/files/2035491/ngx-admin.zip)

is my routing.module.ts fine? I made sure to point to the one I copied over.

[2018-05-29 03:10] zhaoyipeng commented on #288
I think this feature is cool, and can add close button in tabtitle?

[2018-05-29 07:02] #450 closed

[2018-05-29 07:03] KelvinPrimo commented on #450
just removed from the imports and I think it worked
[code]

[2018-05-29 08:42] nnixaa commented on #204
Invalid

[2018-05-29 08:42] #204 closed

[2018-05-30 09:55] nnixaa commented on #453
Hi @Bangood, could you please post a reproducible example to https://stackblitz.com/?

[2018-05-30 09:56] nnixaa commented on #452
Hi @Jennilein1991, good catch! Thanks for reporting.

[2018-05-30 09:58] nnixaa commented on #451
Hi @muysewinkel, it looks to me like your setup is not complete, but I can't say example why from the issue description. Could you please post a reproducible example to https://stackblitz.com/?

[2018-05-30 09:59] nnixaa commented on #449
Hi @JavierFuentes, thanks for reporting. Was it working before rc.8?

[2018-05-30 10:01] nnixaa commented on #447
Hi @Hexor, you need to subscribe to `onTokenChange` method to be able to listen to changes of the token.
And yes, rxjs is one of the requirements to be able to develop Angular apps.

[2018-05-30 10:02] nnixaa commented on #444
Hi @ruisebastiao, thanks for reporting!

[2018-05-30 10:08] nnixaa commented on #114
@gael-ft this is a good point, though this would introduce a conditional switching between storages. Have to think about it.

[2018-05-30 12:47] nnixaa opened #460 "Sidebar: should consider changes to responsive breakpoints even if they made afterwards"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-05-30 12:53] #178 closed

[2018-05-30 16:25] muysewinkel commented on #451
Hi,

It is pretty easy to reproduce.
1) setup vanilla ngx-admin
[code]
2) create a module under pages ( eg copy the files from forms (forms-routing, forms.component and forms.module) to a new directory straight under pages, call it flipcard
-rename the files so forms becomes flipcard
- change the files so that all references to forms is gone.
- in the flipcard-routing.module.ts remove the routes t

[2018-05-30 23:16] denisobrienirl commented on #403
Just a follow up on this strange issue. Turned out it's an easy one to fix, but i still can't explain the nature of it. Here is the [link](https://github.com/swimlane/ngx-charts/issues/601) to the solution. Changing the loading order worked for me - no issues with routing and all the content loads up correctly so far. Will let you know if anything else occurs.

[2018-05-30 23:16] #403 closed

[2018-05-31 02:10] Bangood commented on #453
Hi @nnixaa , thanks for your response, this is the brief example: https://stackblitz.com/edit/angular-occx3e

[2018-06-01 07:30] EvgenyProkopovich opened #463 "problem nebular auth"
![image](https://user-images.githubusercontent.com/39822739/40827486-5a62f0fe-6586-11e8-96ab-21087c6b7d35.png)
Who faced such a problem?

[2018-06-01 08:04] nnixaa commented on #453
Hey @Bangood, I looked at your example and it uses an outdated rc.5 version of the Auth module. Please update to the latest rc.8. The API changed a bit since rc.5 so /CHANGELOG.md should be a good help. Here is a working example https://stackblitz.com/edit/angular-1gkctq?file=src%2Fapp%2Fapp.component.ts.

[2018-06-01 08:06] nnixaa commented on #463
Hi @EvgenyProkopovich, most likely the auth module is configured incorrectly on your side. Please post a reproducible example to http://stackblitz.com.

[2018-06-01 09:53] EvgenyProkopovich commented on #463
[test1.zip](https://github.com/akveo/nebular/files/2062226/test1.zip)

could not start in the editor, if you can look please in the archive

[2018-06-01 17:38] JavierFuentes commented on #449
Sorry @nnixaa, I don't know, but it happens in ngx-admin live Demo too.

[2018-06-04 07:17] Bangood commented on #453
hey @nnixaa , it's a good solution, thanks for your help!

[2018-06-04 07:17] #453 closed

[2018-06-04 08:02] nabeelriaz1001 opened #465 "Context menu is not hidden when user clicks an item."
**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I have a logout button in context menu. Context menu is not hidden when I click it.

**Expected behavior:**
 Context menu should hide.

[2018-06-04 09:51] denStrigo commented on #449
Hi @JavierFuentes, could you please add more details(screenshots) how to reproduce this bug. This bug is reproduced on local machine on [Live Demo](http://akveo.com/ngx-admin) too ?

I need more details because I could not reproduce this bug
![screenshot_1](https://user-images.githubusercontent.com/8480994/40910870-f46cba38-67f5-11e8-90cb-d9a20a9bc091.jpg)

[2018-06-05 02:26] jinxiu3939 opened #467 "how to add a badge on the NbMenuComponent"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

can not add badge on NbMenuComponent
**Expected behavior:**

**Steps to reproduce:**

I try to add nb-badge in the title of the nb-menu items ,but it is not working, and show the html text not show the component.
**Related code:**

[code]

### Other

[2018-06-06 07:03] jayrajkachariya commented on #443
That's because NgbModal allows only two types of modal with size : 'sm' and 'lg'.
Custom styling is not allowed.

I also faced this problem.

[2018-06-06 12:20] nnixaa commented on #241
And a bit more:
- common for components - `status` (color, primary, success, info, ect)
- common for components - `size` (small, large, etc)

[2018-06-06 12:22] muysewinkel commented on #443
I understand that there are only two sizes of modals, but I would have expected the ability to change this using CSS.

[2018-06-07 07:06] lukele1607 opened #474 "How to disable a nb-menu item ?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

Is there any way to disable a nb-menu item?

[2018-06-08 17:59] gtame commented on #465
Me too.

[2018-06-09 06:55] stefanwuthrich commented on #222
up vote

[2018-06-09 11:18] ruisebastiao commented on #222
+1

[2018-06-09 11:40] JavierFuentes commented on #449
Hi again @nnixaa , sorry I can't help you more, but in my computer it show all this page in blank with light theme.

It works ok with latest versions of Chrome, Edge and Opera, but not with Firefox.

![image](https://user-images.githubusercontent.com/5801847/41191004-d62cd7e6-6be8-11e8-9aa1-56abe3d09bec.png)

![image](https://user-images.githubusercontent.com/5801847/41191006-dd44d088-6be8-11e8-81

[2018-06-10 10:36] nnixaa commented on #222
Hey @stefanwuthrich, @ruisebastiao could you please share your use cases so that we can better design this feature? I presume this would be like this:
- user can have one or more roles (like `user` & `editor`)
- permissions will be merged allowing the user to do what both `user` and `editor` roles are allowed to do

[2018-06-10 18:09] ruisebastiao commented on #222
Hello @nnixaa , in my case i have the following user schema (mongodb):

[code]

I have a global 'role' (root,admin,enduser) and i have a 'unitrole' in each unit of my array of units, some of this units could be added by other users and have a 'enduser' role for example). So there are some items on my page that are linked to my global role and  other items that depends of the 'unitrole' of the sele

[2018-06-10 21:02] nsankaranarayanan opened #480 "Cannot Bind to nbContextMenu After Upgrading to 2.0.0-rc.7"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description
I followed the instructions to upgrading from rc.5 to rc.7 and made all the necessary changes.
I changed to the nbContextMenu directive as per the instructions

`    <nb-user [nbContextMenu]="userMenu" [name]="user?.email" [picture]="user?.picture"></nb-user>
`
Now I am get

[2018-06-12 06:09] stefanwuthrich commented on #222
Hi @nnixaa
for my case it's enough to getRoles() as array

[2018-06-12 12:45] nnixaa commented on #480
Hi @nsankaranarayanan, it looks like you still need to import `NbContextMenuModule` into your module.

[2018-06-12 16:04] nsankaranarayanan commented on #480
I imported the NbContextMenuModule and still the same error.

[2018-06-12 19:10] oshodi commented on #480
Hello @nnixaa I'm experriencing the same thing too. Upgraded to rc.7 as instructions said like @nsankaranarayanan

[2018-06-12 19:42] oshodi commented on #480
Hi,
Think I found the solution.

When you upgrade, you need to add NbContextMenuModule to your const NB_MODULES = [ in your src\app\@theme\theme.module.ts.

[2018-06-14 15:01] jalbersdorfer commented on #274
Is there a way to filter the Menu based on NbSecurity NbAccessChecker.isGranted() Method?

[2018-06-14 16:40] #166 closed

[2018-06-15 08:29] nnixaa commented on #463
Hey @EvgenyProkopovich, the issue is that you copied sources from the master branch (which has the latest changes) but Nebular package in its turn is rc.8. Just copy the components from the rc.8 tag and it's going to be fine https://github.com/akveo/nebular/tree/2.0.0-rc.8

[2018-06-15 08:29] #463 closed

[2018-06-15 09:00] nnixaa opened #490 "NbMenuModule - forRoot - should it be there?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
https://github.com/akveo/ngx-admin/issues/1641

At least we need to update documentation to make sure forRoot it called.

[2018-06-15 09:34] nnixaa commented on #465
Duplicate of https://github.com/akveo/nebular/issues/423

[2018-06-15 09:34] #465 closed

[2018-06-15 09:35] nnixaa commented on #474
Hey @lukele1607, no, there is no such ability out of the box. Would you mind describing your use case?

[2018-06-15 09:37] nnixaa commented on #449
Well, let's keep it open to see if anyone is experiencing the same.

[2018-06-15 10:57] nnixaa commented on #216
Have to postpone it until new menu component we are planning to do instead of the current one.

[2018-06-15 11:07] nnixaa commented on #307
Have to postpone it until the new menu component release.

[2018-06-15 11:07] #273 closed

[2018-06-15 11:41] nnixaa commented on #214
postponed

[2018-06-15 12:08] #413 closed

[2018-06-15 12:33] nnixaa commented on #444
Hey @ruisebastiao, have you tried `NbMenuService`.`addItems()` instead of modifying the variable by reference?  Is it working properly in that case?

[2018-06-15 15:11] guilnorth commented on #463
@nnixaa Perfect, it worked. Thanks!

[2018-06-15 16:27] manusisnova commented on #463
@nnixaa it worked great, thanks for your help!

[2018-06-15 23:45] ruisebastiao commented on #444
Hi @nnixaa , the only async data are the menu children, how can i use addItems to add children items? But i try to use the addItems to add the root Item with the children data and the problem persists and now the  child item doesn't get selected, here is my code:

`
 this.userService.currentUser.takeUntil(this._destroyed).subscribe(user => {
      if (user && user.units) {
        const molds_menu

[2018-06-19 11:06] chiu0602 commented on #20
You can find the icon demo [here](http://akveo.com/ngx-admin/#/pages/ui-features/icons)

[2018-06-19 15:42] nnixaa opened #497 "RTL/Layout - make sure that default values for left/start have the same behavior across components"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-06-21 12:10] #322 closed

[2018-06-22 04:41] pick-one-fish commented on #274
@jalbersdorfer I have the same problem. 😱

[2018-06-22 05:31] pick-one-fish commented on #274
It could be iterate items of Menu, and check every item who carry Granted attribute.

Reference: https://akveo.github.io/nebular/docs/security/acl-configuration--usage#usage

[code]

and `MENU_ITEMS` carry `data` object with `granted` and `user`.

[code]

[2018-06-22 07:48] nnixaa commented on #467
Hey @jinxiu3939, unfortunately, there is no way to do this now, unless you copy over the menu component and manually modify its template. Hopefully, we see this feature in a new version of the menu component, which is planned but has no clear release date for now.

[2018-06-22 07:51] nnixaa commented on #451
Hey @muysewinkel, could you post your `flipcard.module.ts` please?

[2018-06-22 07:54] nnixaa commented on #314
Hi @hosseinGanjyar, `logout` method returns an observable, so you need to `subscribe` to it to call it.

[2018-06-22 07:57] muysewinkel commented on #451
Hi

This ist the flipcard.module.ts file
[code]

[2018-06-22 11:37] ruisebastiao commented on #467
+1

[2018-06-22 16:43] JavierFuentes opened #505 "Add parameter to nb-route-tabset to sticky at top"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**
nb-route-tabset doesn't sticky at top and scrolls with all his content.

**Expected behavior:**
I expect nb-route-tabset can sticky at top with a new parameter to control this behaviour and show all his content in a vertical scrollable div with max available height in mobi

[2018-06-22 19:37] RodrigoPauletti opened #506 "Auth: Error after log in"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
After I fill the fields (email and password) correctly, the local storage "auth_app_token" is added, but show the error in console.

**Expected behavior:**
After I fill the fields, add the local storage "auth_app_token" and redirect to home page.

**S

[2018-06-22 20:15] #506 closed

[2018-06-25 11:48] ksavidetove opened #514 "rxjs Compatibility errors Upgrading to 2.0.0-rc.9"
### Issue type

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Hi

I can't install the latest version nebular/auth or security since they need rxjs@~5.5.5 and angular 6, when angular 6 is using rxjs@^6.x.x

**Expected behavior:**

nebular/auth and security should have rxjs@^6.x.x in their peer dependencies

**Steps to reproduce:**

npm install

### Other infor

[2018-06-25 12:12] nnixaa commented on #514
Hey @ksavidetove, thanks for reporting! This is an unfortunate mistake in the `package.json` file. Real required version is `6+`, so for now you can just ignore the peer dependency warning. We will fix this in the upcoming release.

[2018-06-25 12:46] schuettecarsten opened #517 "Invalid JWT token in local storage will crash App / NbAuthJWTToken"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When login response of a NbPasswordAuthStrategy returns an broken JWT token, it is stored in the local storage without validation. On the next request, the app will fail because NbAuthJWTToken cannot parse the token.

**Expected behavior:**
A broken t

[2018-06-25 13:20] nsankaranarayanan commented on #480
@oshodi Your solution works.

[2018-06-25 13:20] #480 closed

[2018-06-25 14:44] nnixaa commented on #517
Hey @schuettecarsten, good catch! Thanks for reporting.

[2018-06-26 16:24] nnixaa commented on #386
Hey @ruisebastiao, Stepper is already in master and will be released in the next version!

[2018-06-26 17:56] Dikymon opened #528 "Upgrading from rc.8 to rc.9 - JWT tokens not being stored by NbAuthService?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
After upgrading from rc.8 to rc.9 and refactoring to use the new Auth strategy, the JWT token emitted from NbAuthService.getToken() is empty (type NbAuthSimpleToken) after a succesful sign-in. I have verified that the token is correctly returned from

[2018-06-26 18:00] nnixaa commented on #528
Hey @Dikymon, thanks for reporting. Could you provide a complete configuration of the auth module? Do you use a custom auth form or provided? And where you are trying to access the `getToken()` method?

[2018-06-26 19:11] Dikymon commented on #528
Here is the auth configuration
[code]

I am using a custom form, in the sense that I copied the auth components and made minor layout and wording changes. I updated those to use 'strategy' instead of 'provider' with reference to rc.9 component source - but most changes were just re-naming/typing variables.

After succesful login, the user is redirected to a page with a Guard
[code]

Subscribing to

[2018-06-26 19:45] Dikymon commented on #528
Here is the output, seems okay?
[code]

[2018-06-26 19:53] nnixaa commented on #528
Right, this part is okay. And If you check the Application -> Localstorage tab in the chrome dev tools, could you post here what is stored there under then `auth_app_token` key?
The other possible issue is that it might not be able to parse the stored token for some reason here https://github.com/akveo/nebular/blob/3428ec3777afa48e87b65cd7ad47195987da0898/src/framework/auth/services/token/token-pa

[2018-06-26 19:57] Dikymon commented on #528
key 'app_auth_token' seems to store it correctly:
[code]

[2018-06-26 20:05] nnixaa commented on #528
Okay, now please open `token-parceler.js` on line 23 and `console.log` like this:

[code]

[2018-06-26 20:15] Dikymon commented on #528
It prints tokenPack
[code]
then throws an exception on the call to .getClassByName.
[code]

Which explains the use of the fallback class.

[2018-06-26 20:29] Dikymon commented on #528
this.tokenClasses:
[code]

[2018-06-26 20:36] nnixaa commented on #528
This is strange. It should be an array as it is provided by the NbAuthModule. Is `NB_AUTH_TOKENS` by any chance provided  (`{ provide: NB_AUTH_TOKENS, ... }`) somewhere in your modules?

[2018-06-26 20:41] Dikymon commented on #528
Yes! That was it. Does that conflict with in some way?

Thank you so much for your help, I hope it was not a complete waste of your time.

[2018-06-26 20:48] nnixaa commented on #528
Starting with rc.9 there is no need to provide a token (or tokens) anymore, just mention it is the strategy configuration
 (`{ token: { class: NbSomeTokenClass } }`and it will do the rest.

No problem, glad we resolved it.

I will leave the issue opened as supressing all of the errors in the token parceler class looks like a not very good idea as it hides such issues.

[2018-06-27 00:28] devcrmbmp812 opened #529 "nbPasswordAuthStrategy"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] feature request

### Issue description

**Current behavior:**

I get the errors like the following when I tried to log in .
I used nbPasswordAuthStrategy , my back-end api has already been succeeded on postman,
but when I tried on ngx-admin login front-end, it is like this.
password-strategy.js:313 NbEmailPassAuthProvider:

[2018-06-27 07:17] nnixaa commented on #529
Hey @devcrmbmp812, have you checked the [Getting user token](https://akveo.github.io/nebular/docs/auth/getting-user-token) article on the documentation?

[2018-06-27 07:20] nnixaa commented on #505
Hey @JavierFuentes, that totally makes sense, labeled as an enhancement.

@denisobrienirl, thanks for the suggestion, let's track it here https://github.com/akveo/nebular/issues/288.

[2018-06-27 10:44] #199 closed

[2018-06-27 10:44] #269 closed

[2018-06-27 14:19] pick-one-fish commented on #340
https://github.com/akveo/nebular/blob/2f28cbc073a8615236a3e0fbeef4c69ccc34b40d/src/framework/auth/strategies/password/password-strategy.ts#L276

It will get a queryParams from URL parameter and the parameter's name from variable `resetPasswordTokenKey`, its default value is 'reset_password_token'.

When submit reset password request, and Nebular will send a json format data include `password`, `co

[2018-06-28 06:03] denisobrienirl opened #532 "nb-sidebar does not display NbMenuItem children"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report (at least it seems so)

### Issue description

**Current behavior:**
It's a tough one to explain in English, but here is my best attempt at it...

nb-sidebar does not display NbMenuItem children if initiated with state="compacted" and returned to from any auth pages(login, password reset, etc...)
NOTE: This issue does

[2018-06-28 09:11] nnixaa opened #533 "Docs: live example viewer cannot calculate height for tabs example"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

![image](https://user-images.githubusercontent.com/230527/42025049-5aba788c-7acc-11e8-9c97-63bd9932a541.png)

**Expected behavior:**

Should be no scroll.

**Steps to reproduce:**

https://akveo.github.io/nebular/docs/components/tabs/overview#nbtabco

[2018-06-28 14:29] nnixaa opened #535 "Docs: add install component docs"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

No install component docs
**Expected behavior:**

There should be a note where to import the component/service and where to put it.
**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angul

[2018-06-29 08:25] EvgenyProkopovich opened #537 "how to get refresh_token in interceptor?"
![image](https://user-images.githubusercontent.com/39822739/42081706-cd3e9be6-7b8e-11e8-9fac-2dd545859855.png)
![image](https://user-images.githubusercontent.com/39822739/42081737-e22a6bca-7b8e-11e8-877e-791cd02fb4e5.png)
![image](https://user-images.githubusercontent.com/39822739/42101841-070eda96-7bcd-11e8-8330-d5581c3b363f.png)
![image](https://user-images.githubusercontent.com/39822739/4208181

[2018-06-29 10:57] muysewinkel commented on #451
Hi,

I just checked https://akveo.github.io/nebular/example/flip-card/flip-card-showcase.component

It has the same issue as I have.
I am using safari. Version 11.1.1 (13605.2.8)
When I try it using chrome. it is working fine.

Thanks

[2018-06-29 11:56] nnixaa commented on #537
Hey @EvgenyProkopovich, yes, it is. The only thing, in your strategy configuration you used `NbAuthSimpleToken` when in your interceptor you used `NbAuthOAuth2Token`.
Just fox your strategy config and it should be fine.

[2018-06-29 12:04] nnixaa commented on #444
https://github.com/akveo/nebular/issues/532

[2018-06-29 12:05] nnixaa commented on #532
Hi @denisobrienirl, thanks for reporting! Yes, we can see it (probably related to https://github.com/akveo/nebular/issues/444). Should be fixed in the next rc.

[2018-06-29 12:06] nnixaa commented on #451
Hey @muysewinkel, yes you are right, adding to the next milestone.

[2018-06-29 13:39] nnixaa commented on #444
https://github.com/akveo/ngx-admin/issues/1703

[2018-06-29 13:53] nnixaa opened #538 "Docs: menu click example"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

https://github.com/akveo/ngx-admin/issues/1737

[2018-06-29 13:56] nnixaa opened #539 "Sidebar: collapse on click outside when mode=fixed"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

https://github.com/akveo/ngx-admin/issues/1747

[2018-06-29 15:47] EvgenyProkopovich commented on #537
@nnixaa , I changed the class NbAuthSimpleToken to NbAuthOAuth2Token in my strategy settings, but the error did not disappear
![image](https://user-images.githubusercontent.com/39822739/42101782-d2d1d166-7bcc-11e8-834b-543544407ed4.png)

[2018-06-29 19:06] EatonZ opened #540 "Tabs are shifted on hover"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When hovering over tabs, other tabs to the left or right will shift, which is very distracting.

**Expected behavior:**
Hovering over a tab should not affect the other tabs at all.

**Steps to reproduce:**
This can be seen on the [demo page](https://a

[2018-06-29 19:53] jjgriff93 opened #541 "Auth callback continually redirecting"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I've followed the documentation for setting up [OAuth authentication]('https://akveo.github.io/nebular/docs/auth/configuring-google-oauth2#complete-example') (which I've done in the ngx-admin starter app) - instead of Google however I'm setting up Azu

[2018-06-29 23:52] EatonZ commented on #237
I've noticed `fixed` doesn't seem to change the footer behavior as of 6/29/18 - is this the reason why?
At this point is it safe to say it will probably be removed?

[2018-06-30 07:32] ruisebastiao commented on #237
I'm waiting for the fix, i would like to have the footer fixed

[2018-07-01 11:40] fransyozef commented on #20
Are the FontAwesome and IONIC icons up to date? When I try so search one for example at ionicons (https://ionicons.com/) , let's say 'airplane' , I cannot use it at Nebula. I tried forexample 'ion-airplane'.

Same goes for fontawesome.

So the ones on the demo page works, but what about the rest?

[2018-07-01 11:44] fransyozef opened #544 "How to register click on an action item component?"
Is there an example how you can register a click even on an action item component (https://akveo.github.io/nebular/docs/components/actions/overview#nbactionscomponent) ?

I've tried

`<nb-action icon="ion-edit" (click)="myfunction()"></nb-action>`

but that doesn't work.

[2018-07-01 12:06] fransyozef commented on #544
Never mind .. I had the wrong .ts file.

`(click)=`

does works

[2018-07-01 12:06] #544 closed

[2018-07-02 00:11] HerreraG commented on #20
@fransyozef the same thing is happening to me with the icons from FontAwesome. :(

regards

[2018-07-02 10:09] suku-h opened #545 "No mixin named nb-install"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I followed the steps mentioned in the [installation guide](https://akveo.github.io/nebular/docs/auth/introduction#auth-module) for the auth module. But this results in the following error:
`Module build failed:
@include nb-install() {
        ^

[2018-07-02 13:36] nnixaa commented on #541
Hey @jjgriff93, I believe this is the same (almost) issue as with the https://github.com/akveo/ngx-admin/issues/1757.
The first stop is the `isRedirectResult` method, which is trying to determine whether the request is a redirect request or not. The decision is based on the presence of particular parameters in the callback url, such as `access_token` or `error` (https://github.com/akveo/nebular/bl

[2018-07-03 06:47] suku-h commented on #545
Solved this issue.

**The documentation for nebular auth is not updated!!**

**Angular.json**

[code]

***styles.scss***

[code]

[2018-07-03 06:47] #545 closed

[2018-07-03 09:49] jalbersdorfer commented on #17
I think I have the same issue - started to use ngx-admin with a feathersjs backend and don't get the websocket (socket.io) connection authenticated. The solution above seems no longer valid as there is no longer something like a `NbEmailPassAuthProvider`, but a `password-strategy` which seems to be an evolution of it.

Any help to integrate Websocket Auth would be appreciated. - Thanks.

[2018-07-04 20:38] jjgriff93 commented on #541
Hi @nnixaa , thanks very much for getting back to me and for your suggestions. I've tried to implement what you suggest but have a few validation errors cropping up (likely due to my inexperience with Angular!). I've created a class in `core.module.ts` that extends `NbOAuth2AuthStrategy` and redefined the `redirectResults` and `getValue` methods like so:

[code]

I'm getting an error on `redirectR

[2018-07-05 09:12] #318 closed

[2018-07-05 09:15] nnixaa commented on #318
@fadifannoun, @macpatel since the next release `failWhenNoToken` option will be available per a method (login/register/refresh-token) for `NbAuthPasswordStrategy`. So that you can make that token check optional.

[2018-07-05 10:19] nnixaa commented on #541
Hey @jjgriff93, you should have something like this:

[code]
- so that the CODE also exists on  `redirectResults` (fixes the first TS error)
- then route is injected by a different `activatedRoute` name (name conflict with a private field from the parent class) and also other contructor services are injected and passed to the parent (fixes the second error)
- and the third error is that you need t

[2018-07-05 11:12] #514 closed

[2018-07-05 13:56] VictorSchleumer opened #550 "Can't make the authenticate method to make a request to baseEndpoint"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

After following the docs, i could not make request to baseEndpoint specified in the app.module.

**Expected behavior:**

Being possible to make this request.

**Related code:**

Github Repository (https://github.com/VictorSchleumer/admin-dashboard/tree/master/frontend)
[c

[2018-07-05 14:21] #222 closed

[2018-07-05 14:37] #258 closed

[2018-07-05 15:56] jjgriff93 commented on #541
Thanks @nnixaa, really appreciate your help. I've done as you suggested above and that's resolved all the validation errors (thank you!) - just getting a js console error now on compilation:

`Uncaught Error: Can't resolve all parameters for NbAzureADB2CAuthStrategy: ([object Object], [object Object], ?). at syntaxError (compiler.js:215) at CompileMetadataResolver.push../node_modules/@angular/comp

[2018-07-06 08:33] ruisebastiao commented on #222
well done :+1:

[2018-07-06 08:37] nnixaa commented on #537
Hey @EvgenyProkopovich, there is no need to inject the token itself, you can inject the `NbTokenService` and get the token from there.

[2018-07-06 08:39] nnixaa commented on #541
Right, my example is missing the correct inject of the `window` property. Your constructor should be like this:
[code]

[2018-07-06 08:46] nnixaa commented on #550
Hi @VictorSchleumer, could you please elaborate? Are you getting an error?
Also, your stackblitz example isn't' working, could you fix it so that we can check?

[2018-07-06 10:27] nnixaa opened #554 "Header: add `subheader` options which places the header on a side of the sidebar"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

Like this one http://webapplayers.com/inspinia_admin-v2.8/

[2018-07-06 12:29] nnixaa commented on #550
@VictorSchleumer as far as I can tell you have two strategies configured under the same name (`email`), the first one is in your `app.module` and the second one is here https://github.com/VictorSchleumer/admin-dashboard/blob/master/frontend/src/app/%40core/core.module.ts#L44.
Leave just one of them and it should be fine.

[2018-07-06 12:35] VictorSchleumer commented on #550
Thank you, i removed one and it worked. Thanks for your time.

[2018-07-06 12:35] #550 closed

[2018-07-06 14:08] #554 closed

[2018-07-06 15:37] #393 closed

[2018-07-06 22:20] jjgriff93 commented on #541
Hey @nnixaa, that's fixed the error thank you, so now all compiles ok - however unfortunately the original problem has returned, it's still continually redirecting after trying to authenticate, still doesn't seem to be picking up the token out of the callback URL payload and converting it into a token object. It gets to the callback component, then after a second or two goes back to another authen

[2018-07-09 08:47] #210 closed

[2018-07-09 08:48] #247 closed

[2018-07-10 19:15] nnixaa commented on #541
Hey @jjgriff93, hard to tell, have you tried to debug it? For example, what would be the result if you print it from this line https://github.com/akveo/nebular/blob/2.0.0-rc.9/src/framework/auth/strategies/oauth2/oauth2-strategy.ts#L161?

[2018-07-13 10:51] somq commented on #402
@denisobrienirl Did you find a solution in the end ?
I ran across a ton of issues trying to integrate SSR onto ngx-amin or nebular-starter-kit and I got it now at the state of this issue.
Can you help in any way ?

[2018-07-13 13:57] denisobrienirl commented on #402
@somq No, sir. I have not followed this issue through. It doesn't seem to affect my application at all, so no major focus given. Sorry, can't be more helpful.

[2018-07-13 15:15] somq commented on #402
@denisobrienirl alright, thanks for your answer anyway.

This is the weird thing here, I'm getting this error about the ```NbSearchFieldComponent``` even though it works properly.
This whole SSR thing is waaayyy overcomplicated and obscure...

[2018-07-13 17:36] marlonoso commented on #467
New in Angular. How can one do this?:  unless you copy over the menu component and manually modify its template

[2018-07-13 20:47] EatonZ opened #561 "Style conflicts with DevExtreme"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Nebular styles are bleeding into a 3rd party component, the DevExtreme Data Grid.

**Expected behavior:**
Nebular styles should not be influencing the look and behavior of the grid at all. [This page](https://github.com/akveo/nebular/blob/master/docs/

[2018-07-14 08:42] janabimustafa opened #562 "Sidebar has no shadow in Safari for iOS"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Sidebar has no shadow in Safari for iOS

**Expected behavior:**

The sidebar box shadow should work on Safari for iOS

**Steps to reproduce:**

1. Use iOS device with Safari
2. Go to ngx-admin light theme demo
3. Open sidebar
4. Observe that the side

[2018-07-14 18:00] hosseinGanjyar commented on #326
@Tibing heyyyyyyyyyyyyyyyyyyyyyyyyyyyyy...Why did you close this issue, without any answer.

[2018-07-15 09:01] tsupakit commented on #398
Hi, I'm also using this translation feature thank to all of the comments here that made me achieved.
By the way, I found some little improvement from above code which can fix a couple issues
1. Side menu no longer translating if went to login page and come back (logout and login again) because the translation key has been replaced with a translated value.
2. Subscriptions of stream() need to be un

[2018-07-15 11:28] HMubaireek opened #563 "Issue with using Auth0 for authentication"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

I'm trying to implement login using Auth0 as authentication service. Once the login is successful, I'm redirected to the callback page but the token is empty.

**Expected behavior:**

Token should be saved.

**Steps to reproduce:**

**Related code:*

[2018-07-15 14:10] schuettecarsten opened #564 "Wrong implementation of "getTokenExpDate" in NbAuthOAuth2Token"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Related code:**
[code]

Assuming token object will contain the number of seconds when the token expires in 'expires_in'. The number of seconds is valid at the moment when the token is received from the server. The client can use this information to calculate the exact ex

[2018-07-15 20:38] schuettecarsten opened #565 "Add user-defined properties to "login" model in NbPasswordAuthStrategy"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description

Please add options to add additional properties (like client_id or others) to the request body that is sent on "login". Currently, only email and password are send, I need to add a grant_type and a client_id value to implement a refresh token handling that does not rely on

[2018-07-15 21:37] #565 closed

[2018-07-15 21:37] schuettecarsten commented on #565
Okay, I can use the "new" OAuth2 strategy modifications to solve my issue.

[2018-07-16 07:08] alain-charles commented on #564
I agree the implementation above is wrong.
I sent a pull request three days ago concerning refreshToken management and i have proposed a correction for that because i needed it to be correct.
In the constuctor of the NbAuthOauth2Token, the proposed code search the 'exp' property in the token's payload if any, and if not found, uses the expires_in to calculate and store the expiration date.
[code]

[2018-07-16 08:57] chhatrapati opened #566 "How to send grant_type through the NbPasswordAuthStrategy?"

[2018-07-16 08:58] schuettecarsten commented on #564
@alain-charles you mean your PR https://github.com/akveo/nebular/pull/560? It's currently blocked for merge :-(

[2018-07-16 09:11] alain-charles commented on #564
@schuettecarsten yes exactly.
The code has to be reviewed by nnixaa before he merges, especially because there are quite heavy changes in this PR and architectural questions.
So it may take a little time, but we are on our way.

[2018-07-16 09:18] alain-charles commented on #566
@chhatrapati grant-type is a parameter of the NbOAuth2AuthStrategy and not one of NbPasswordAuthStrategy.

If you want to authenticate against a Oauth2 server with a login and a password, you have to use the NbOAuth2AuthStrategy, posting the request to the token endpoint, with these options
[code]
You can have a look at the playground/oauth2-password/ directory in the playground for an example.

H

[2018-07-16 09:18] chhatrapati commented on #564
Hi guys can you please help me in #566

[2018-07-16 09:18] schuettecarsten commented on #564
@alain-charles Maybe it's a good idea to move the Bugfix into a separate PR?

[2018-07-16 09:20] schuettecarsten commented on #566
@alain-charles You're right, but it would be a good idea to add the grant_type to the NbPasswordAuthStrategy, also. For example, our existing implementations require a grant_type value and won't work with NbPasswordAuthStrategy at the moment.

[2018-07-16 09:36] alain-charles commented on #566
@chhatrapati if your auth server needs this value, did you try adding
`?grant-type=yourgrantypevalue`
 to your login endpoint ?
(not tested)

[2018-07-16 10:00] chhatrapati commented on #566
@alain-charles i need to send grant type with username and password.

[2018-07-16 10:19] schuettecarsten commented on #566
@alain-charles This does not work on POST methods.

[2018-07-16 10:59] nnixaa commented on #564
Agree with @schuettecarsten, it makes more sense to fix this bug separately.
@alain-charles not sure about the proposed solution, as this part:
[code]
still has the same issue - token will never be expired as we always add `expires_in` to the current datetime.

Also, the `exp` property is not a part of the specification https://tools.ietf.org/html/rfc6749#section-4.3.3 so I believe it should not b

[2018-07-16 11:12] nnixaa commented on #566
So to consolidate - ideally it should be possible to add additional arbitrary parameters to `NbPasswordAuthStrategy` methods.

Currently, if you have a custom login component, the `authenticate` method accepts a data object which is passed directly to `http.request`, so there is nothing blocking here as you can add anothing you need to.

But if you want to use the out-of-the-box components we prob

[2018-07-16 11:24] #563 closed, assigned to nobody

[2018-07-16 11:36] nnixaa commented on #561
Hey @EatonZ, this is clearly a bug in the Nebular tabs. Thanks for the report.

[2018-07-16 11:57] HMubaireek opened #567 "Logout redirect not working"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description
I'm using ngx-admin template, I've changed the strategy from dummy to oath2 using the following code as in the guides:

[code]

**Current behavior:**
I navigate to /auth/logout to logout but the page remains in the logout component and never redirects.

**Expected behavior

[2018-07-16 12:12] alain-charles commented on #564
@nnixaa have a look at the entire code block i posted above (maybe the code is not clear as it is but i think it's working)

If the expiration date is set (i.e. getting from storage), we do nothing so i think the issue is corrected.
If not (coming back from backend), we set the expiration date:
-  if the exp property is found (case of jwt token)  to the exp value,
- and if not, we calculate and st

[2018-07-17 13:45] macin40 opened #568 "ngpopover is not working"
### Issue type

**I'm submitting popover bug

### Issue description

**Current behavior:**
Hover text is not appearing.
![image](https://user-images.githubusercontent.com/22330484/42820914-f2779a10-89f4-11e8-8e86-c2214583ed07.png)
![image](https://user-images.githubusercontent.com/22330484/42820925-f8b66578-89f4-11e8-8888-76d744847dec.png)
These are the states

**Expected behavior:**

![image](htt

[2018-07-17 14:14] muysewinkel commented on #423
No it is fixed.

Upgrade to
"@nebular/theme": "^2.0.0-rc.9",

and it is fixed

[2018-07-17 14:42] blankstar85 commented on #423
My bad, I assumed ngx-admin was keeping up with the nebular releases, but I now see it is at rc2. I've updated to rc9, thanks! shouldn't this get closed then?

[2018-07-20 02:00] jjgriff93 commented on #541
Hi @nnixaa - yes, have stepped through what happens during the auth circling and have done so with the breakpoint you've suggested - the local variable `result` is `false` which explains why it's continually retrying. The variables when the breakpoint is hit are as follows:

[code]

It looks like the token endpoint is still showing as `token` and not `id_token`, could this be what's causing it to

[2018-07-20 16:28] lfagundes opened #574 "Auth UI customization very complicated"
### Issue type

**I'm submitting a ...**
* [X] proposal (will send pull request with code and docs if accepted)
* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Configuration of auth screens is very complicated. To put a simple logo in login screen documentation suggests you copy a lot of code com Nebular components, which will likely break things in future whe

[2018-07-21 22:51] blankstar85 commented on #423
update: OK, I've narrowed down the behavior, but this may be over my head (I've been digging around). Closing the menu works when the link parameter isn't there. So in my example above the log out item works perfectly, however the profile item with the link doesn't. The router will navigate to the profile page, but the menu will remain open. Does the router navigation destroy the subscribed onItem

[2018-07-25 02:24] ma7euus commented on #423
I "solved" this the problem with:
`
userMenu: NbMenuItem[] = [
        {title: 'Profile', data: {path: '/profile'}},
        {title: 'Logout', data: {path: '/logout'}}
    ];

ngOnInit() {
     this.nbMenuService.onItemClick()
            .pipe(
                filter(({tag}) => tag === 'user-menu'),
                map((item) => item),
            )
            .subscribe(({item}) => {

[2018-07-25 08:57] AndyBTuttofare commented on #443
in your component add the following:
`import { ViewEncapsulation } from '@angular/core';`

below style inside component decorator:
`encapsulation: ViewEncapsulation.None`

then the custome style you created for the modal will work

[2018-07-25 12:53] nnixaa commented on #574
Hey @lfagundes, thanks for your suggestions. I cannot say these are unreasonable, however, we have to move carefully here as a lot of people already using the components the way they are and we don't want to introduce a lot of breaking changes. So let's move one change at a time.
I believe separate files for auth templates would be a good start. Then we can discuss the other changes here.

What do

[2018-07-25 13:11] nnixaa commented on #568
Hi @macin40, are there any errors? Could you create a reproducible example?

[2018-07-26 09:29] rakesh-sharma opened #581 "I gave the clientId and clientSecret but the request doesn't include Authorization header with Basic string"
I am using NbOAuth2AuthStrategy like below

[code]
It should ideally send the Authorization header with Basic string generated using clientId and clientSecret, but it's not sending is there any way I can send this header?

Also the payload has parameter with name 'email' instead of that Can I name it 'username'

[2018-07-26 12:36] alain-charles commented on #581
You are right, it is a TODO in the NbOAuth2AuthStrategy.

According to [https://tools.ietf.org/html/rfc6749#section-2.3](https://tools.ietf.org/html/rfc6749#section-2.3) :

- Clients in possession of a client password MAY use the HTTP Basic authentication scheme (...)
- Alternatively, the authorization server MAY support including the
   client credentials in the request-body using the following

[2018-07-26 13:58] #564 closed

[2018-07-27 12:47] antonellopasella opened #585 "Override default bootstrap theme"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
If I put a basic Bootstrap component (not Nebular's one), it will not be styled correctly
[code]

**Expected behavior:**
class badge-danger will be overrided by current theme

**Steps to reproduce:**
Simply put
[code]
into a template

[2018-07-27 15:07] nnixaa commented on #567
Hi @HMubaireek, is there any error in the console?

[2018-07-27 15:17] nnixaa commented on #533
Closed in https://github.com/akveo/nebular/pull/586

[2018-07-27 15:17] #533 closed

[2018-07-28 11:19] Huang9495 commented on #316
@huybn5776  Thanks, it's OK

[2018-07-29 10:01] luislard opened #589 "Issue when extending environments"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Cannot extend environment variables when building or serving with another configuration.
This is giving issues to use angular translations or building to staging.
**Expected behavior:**

We could use an environmentBase and import it in other envirom

[2018-07-30 15:57] nnixaa commented on #517
My suggestion to resolve this one would be as following:

1) We don't fail the token when parsing it. So that if the token has incorrect JSON or any other cause for parsing to fail, we just leave the payload as empty. Empty payload will make the `isValid` method to return false (with an exception for `NbAuthSimpleToken`).

2) Upon token creation, during the authentication (login/register/refreshTo

[2018-07-30 16:32] #581 closed

[2018-07-30 16:35] nnixaa commented on #517
@alain-charles thanks! Agree, `requireValidToken` makes more sense. Let's see if this resolves @schuettecarsten's issue and then we can schedule it.

[2018-07-30 16:58] MrEdgariux opened #592 "not work"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-07-30 19:37] schuettecarsten commented on #517
👍

[2018-07-31 16:01] nnixaa commented on #592
Hey @MrEdgariux, anything we can help you with?

[2018-07-31 19:53] luislard commented on #589
Thx, any advise? best practice? I ended up copying all info for all environments

[2018-07-31 23:01] jjgriff93 commented on #541
Hey @nnixaa , thanks very much for putting this together - took me a while to test as I've been away for a few days. Unfortunately still getting `result: false` returned after implementing the above in the code, not sure why.

Here's the full .ts file with your modified section included:

[code]

May be something I've done wrong on either side of the section? This is the trace I'm now getting when

[2018-08-01 08:14] crossRT opened #596 "register: false doesn't disable the registration"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
I set `register: false` in the NbPasswordAuthStrategy. but the registration link is still open for the user to click.

**Expected behavior:**
If the `register` is set to false, then the registration link should be hidden.

### Other information:

**np

[2018-08-01 10:03] alain-charles commented on #517
I have begun to work on that.
The behavior of the framework is now not exactly the same as presented here, because we introduced the tokens created_at attribute. So, the payload is parsed at token creation, so that the app now "crashes" at login if the token is malformed.

So we have to decide what to do.
If the jwt token is malformed, i don't think we shoud accept it and  store it, because it is

[2018-08-01 10:37] nnixaa commented on #517
@alain-charles yes, I completely agree.

Just thinking what is the best way to do this.
One of the options would be to re-do the `createToken` method so that it throws an exception if the token is not valid, so that in the following example:

[code]
if the `createToken` method throws an exception, it will be catched by `handleResponseError` so that the amout of changes we need to do through all st

[2018-08-01 12:29] alain-charles commented on #517
I verified.
For the moment, it is almost always the case, but not in :

- `NbDummyAuthStrategy.createDummyResult()`
- `NbOAuth2AuthStrategy.redirectResultHandlers`

[2018-08-02 07:46] crossRT commented on #261
@danshou the reference you provide no longer working.
using an empty endpoint will still trigger the logout HTTP call which should provide the JWT token.
Any other better solution to do this?

[2018-08-02 08:33] alain-charles commented on #517
@nnixaa I am getting near a satisfying solution for this issue.

However we are running into concurrent issue between the new `requireValidToken` flag positionned at the strategy level and the existing `failWhenNoToken` flag positionned at the login/register/refresh levels  in `NbAuthPasswordStrategy`.

`requireValidToken` takes precedence so that if set to true, positionning `failWhenNoToken` to

[2018-08-02 17:11] danshou commented on #261
@crossRT can you provide some code? Maybe you are injecting a valid url and by leaving the logout endpoint with just '/' will still be a valid url, not an empty endpoint.

[2018-08-03 00:18] Caspain commented on #288
What is the status on this?

[2018-08-03 08:28] FatSquirrel93 commented on #261
@crossRT I might have found a solution:
`
logout: {
  method: null,
  redirect: {
    success: '/',
    failure: '/'
  }
},
`
Using this configuration will not trigger any http requests upon logout and redirect the user to any given url.

[2018-08-04 23:34] Prefix1802 commented on #574
Hi Nnixaa,

I have to comment on your statement "we don't want to introduce a lot of breaking changes.".

Recently you introduced some changes in Nebular, login.component.ts that breaks the possibility to make a custom login page. Is it possible you could fix it?

With kind regards,

Clyde

[2018-08-05 11:18] steven274 opened #600 "Tab route auto scroll"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Tab route tabset scroll page to top when select tab

**Expected behavior:**
Tab route tabset not scroll page to top when select tab

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angul

[2018-08-05 11:21] steven274 opened #601 "Tab title not break line"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

<img width="591" alt="screen shot 2018-08-05 at 6 20 34 pm" src="https://user-images.githubusercontent.com/7889676/43685389-69253d02-98dc-11e8-9a19-1ef16d4c29a8.png">

[2018-08-05 23:07] Prefix1802 opened #603 "Can not build:prod nebular-2. 0.0-rc.9"
0.0-rc.9

module.js:538
    throw err;
    ^

Error: Cannot find module 'collection-visit'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (internal/module.js:11:18)
    at Object.<anonymous> (nebular-2.
0.0-rc.9\node_modules\cache-base\index.js:5:13)
    at Module._compile (module.js

[2018-08-05 23:53] Prefix1802 opened #604 "Support UHD and resolutions higher then 1920 x 1080"
Is it possible to support UHD? res 3840 x 2160

currently it looks like this:

![afbeelding](https://user-images.githubusercontent.com/40199655/43691332-3c8fc6d8-991b-11e8-806b-6c42437dcf17.png)

[2018-08-06 11:11] #296 closed

[2018-08-06 12:10] nnixaa commented on #517
@alain-charles since we never released the `failWhenNoToken` flag feature we can just remove it, as `requireValidToken` replaces this functionality.

[2018-08-06 12:12] nnixaa commented on #600
Hey @steven274, thanks for reporting. Could you provide a reproducible example, please?

[2018-08-06 12:13] nnixaa commented on #601
Hey @steven274, could you please elaborate?

[2018-08-06 12:14] nnixaa commented on #603
Hi @Prefix1802, could you please elaborate? It's hard to tell what's causing the issue from the description.

[2018-08-06 12:17] nnixaa commented on #604
Hey @Prefix1802, what is the desired behavior for the UHD displays?

[2018-08-06 12:38] lfagundes commented on #574
Hi,

Sorry for the delay, just got back from vacations.

That seems okay to me. So, I'll work on a pull request and document the way I did, using current code, on how to extend the classes, which is much simpler than the current suggested way to customize layout.

[2018-08-06 13:15] nnixaa opened #605 "Sidebar Suggestion | Feature Request ngx-admin/#1796"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description
Tooltip options should be available on menu-item.component.

**Current behavior:**
 On the left **sidebar > menu-item.component** an major options is missing that's belong to usability and that is tooltip with right

[2018-08-06 13:41] nnixaa commented on #574
@lfagundes looking forward to it!

[2018-08-06 15:14] Prefix1802 commented on #603
Can you please close thisissue for me?

[2018-08-06 15:55] nnixaa commented on #603
Sure!

[2018-08-06 15:55] #603 closed

[2018-08-06 18:40] Tibing opened #606 "RTL support improvement"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
For now, we have only `NbLayoutDirectionService` which provides information about a state of our layout. So, when we using ChangeDetectionStrategy.OnPush in component and wanna use layout service we have to trigger change detection manually or use `as

[2018-08-06 22:39] jjgriff93 commented on #541
Hi @nnixaa any thoughts on what could be missing? Struggling to find anything that could still be causing the redirect

[2018-08-07 08:36] MrEdgariux commented on #592
help me does not work http://gestyy.com/wKhrSr photos!

https://www.cognitoforms.com/MrEdgariux/DovanuAnketa

2018-07-31 19:02 GMT+03:00 Dmitry Nehaychik <notifications@github.com>:

[2018-08-07 14:18] #288 closed

[2018-08-07 15:12] valiaga opened #610 "@mixin install-placeholder cleans the background text of an input."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description
When you click on an input the text of the bacgroud is deleted. I do not want this action, I want it to remain as the default configuration of boostrap.

**Current behavior:**
When I click on an input the background text is deleted. I do not want this action

**Expected beh

[2018-08-07 15:56] Prefix1802 commented on #592
Looks like spam to me.

[2018-08-08 06:54] ips-illuminz commented on #261
@FatSquirrel93  Thanks for your solution, but still JWT token not deleted, how can i delete that? I have tried the other solutions but nothing worked.

[2018-08-08 12:40] nnixaa opened #614 "Docs: add component groups"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-08-08 12:50] nnixaa opened #615 "Calendar: `Today`is not showing the day"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-08-08 12:53] nnixaa opened #616 "Infinite List: add example when placeholders are shown at the top"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-08-08 13:03] lugovsky opened #617 "Calendar: Make selection behavior work some"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Currently calendar selection behavior works really simple, where 3rd click on date clears the selection.

**Expected behavior:**
Calendar should work in the same way as AirBnb calendar works.

**Steps to reproduce:**

**Related code:**

[code]

### Ot

[2018-08-09 10:27] shalinjames commented on #601
I am assuming that he is expecting it to display the title in without text being wrapped.

[2018-08-09 12:55] nnixaa opened #618 "Popover: broken example"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

https://akveo.github.io/nebular/?p=/example/popover/popover-custom-component.component

![image](https://user-images.githubusercontent.com/230527/43900050-655d4a80-9bec-11e8-9624-ccabe62fffea.png)

**Expected behavior:**

Should work as expected.

[2018-08-09 12:58] nnixaa opened #619 "Popover: docs - no theme tab"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-08-09 14:26] nnixaa commented on #541
Hey @jjgriff93, I guess your router setting `useHash` is set to false, isn't it? I most likely missed that part modifying that example. This one works fine on my side (note I have to remove some of imported files as I don't have those):

[code]

To sum up, the main issue is "where to look for the token":
[code]

As some of the backend services return it as url `hash` (fragment), some as `query par

[2018-08-09 14:36] bali-ibrahim opened #620 "Navigation Menu Item(s) Appear Selected Despite Not Being the Active Page"
### Issue type

**I'm submitting a:**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Navigation menu item(s) appear selected _despite_ not being the active page.

**Expected behavior:**
_Only_ the active page is selected at all times.

**Steps to reproduce:**

1. Navigate to /auth/login by any means
2. Paste & Go /pages/ui-features/buttons using browser URL b

[2018-08-09 16:48] nnixaa commented on #620
@bali-ibrahim thanks for reporting. https://github.com/akveo/nebular/issues/392 might be related.

[2018-08-09 17:17] jjgriff93 commented on #541
Hi @nnixaa - thank you, yes I've got useHash set to `false` - when you got it working was this set to `true`? Unfortunately the callback URL you provide to Azure AD B2C isn't allowed to have a # in it (I'm guessing to avoid clashes with the JWT is provided in the fragment it sends back) which is why I've opted for HTML5 based routing for the dashboard

Is there any way we can resolve this just for

[2018-08-11 07:06] malwageddon commented on #402
@nnixaa Hi Dmitry,

Feel free to close this issue. I don't think it's relevant anymore.

Cheers,

[2018-08-11 09:02] Prefix1802 opened #622 "Menu (scrollbar) not rendered correctly"
Hi,

I have reported an issue in ngx-admin "collapsed sidebar not rendered correctly" # 1821. But my guess is i should report it here for obvious reasons. https://github.com/akveo/ngx-admin/issues/1821

When you have a lot of menu items or menu is bigger the window height a scrollbar appears.

![afbeelding](https://user-images.githubusercontent.com/40199655/43935985-c9290f94-9c56-11e8-8351-6e23cbc

[2018-08-11 09:59] denisobrienirl commented on #402
ah, damn it... posted under wrong ID... apologies, but the same stands... it's no longer an issue...

[2018-08-11 15:46] sukeshlaghate opened #623 "Question regarding use of NbPasswordAuthStrategy as username login strategy"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] Bug report
* [ ] Feature request
* [x] Question

### Issue description
My understanding is that NbPasswordAuthStrategy uses email and password and can not be used as normal username password strategy that is for e.g username: john.doe password: SomePassword.

How can I use NbPasswordAuthStrategy to use username and password for

[2018-08-11 15:55] sukeshlaghate commented on #623
same issue and question raised in ngx-admin repository by another user Jonathan002  #1805.
Thanks

[2018-08-11 16:36] Prefix1802 commented on #623
@Jonathan002 and @sukeshlaghate ,

As far as i can see in the source code of nebular the email address is passed as a string. My guess is that if you remove validation on the input box, or replace the email address input box with a new input box that, for testing purposes does not do any validation and accepts any string as input, it should work.

[2018-08-12 00:25] bingika commented on #574
@lfagundes is this done. i am having difficulty in customizing the auth module and is looking forward to try your suggestion. it will be really helpful if you provide the documentation.

[2018-08-12 03:59] nsankaranarayanan opened #624 "Need ID Property for NbMenuItem"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
Currently the NbMenuItem class does not have an ID property or other property to uniquely identify a menu item. This is necessary to remove menus dynamically or change their properties.

**Expected behavior:**
To have an ID property in the NbMenuItem

[2018-08-12 14:53] lfagundes commented on #574
Hi @bingika,

I just pushed some code to my fork, check: https://github.com/lfagundes/nebular/commit/7ceb2566de18902e03bd5ea4d50c1ddf97f52639

I didn't test that code yet and I didn't see the documentation rendered, so I have to do that before making a pull request. I'm not yet completely familiar with angular2 and nebular, so have yet to find how to render that documentation.

[2018-08-13 02:44] jaysoniscale opened #625 "Cannot find NbCalendarRange, NbDateTimeUtil"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Expected behavior:**
I cannot use the calendar library on my project. I'm following this instruction https://akveo.github.io/nebular/docs/components/calendar/examples but the  NbCalendarRange, NbDateTimeUtil are not found on @nebular/theme

**Related code:**

[code]

###

[2018-08-13 07:09] denisobrienirl opened #626 "NbLayoutScrollService code example request"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] feature request

### Issue description

**Current behavior:**
NbLayoutScrollService documentation is really dry.

**Expected behavior:**
Some code examples would be much appreciated.

**Steps to reproduce:**
- open https://akveo.github.io/nebular/docs/services/layoutscrollservice#nblayoutscrollservice

**Related code:**
I attemp

[2018-08-13 07:54] nnixaa commented on #622
Hi @Prefix1802, thanks for reporting, could you let me know your browser?

[2018-08-13 07:55] nnixaa commented on #402
@denisobrienirl no problem!

[2018-08-13 07:55] #402 closed

[2018-08-13 07:59] nnixaa commented on #623
Hey @sukeshlaghate, @Prefix1802 is perfectly right, you just need to use a custom html template for the login/register form (or custom components). The strategy itself doesn't validate the input in any way.

[2018-08-13 08:01] nnixaa commented on #574
@lfagundes `npm run docs:serve` should do it (then open your browser at http://localhost:4100).

[2018-08-13 08:04] nnixaa commented on #625
Hi @jaysoniscale, is there any error?
@Tibing could you check?

[2018-08-13 08:08] nnixaa commented on #626
Hi @denisobrienirl, could you please elaborate on what is not working? Is there any error?

[2018-08-13 08:17] denisobrienirl commented on #626
Hi @nnixaa , Maybe i'm conceptually wrong here. My understanding is that this service allows for a page scroll similar to scrollIntoView() function. I'm looking for an alternative to this function as its following usage doesn't work in Safari:
[code]
So, i was looking for some example of NbLayoutScrollService usage, just to see how the service should be used. With the code i provided in the origin

[2018-08-13 08:27] jaysoniscale commented on #625
Hi @nnixaa I have this error when using import { NbCalendarRange, NbDateTimeUtil } from '@nebular/theme'

![image](https://user-images.githubusercontent.com/40819612/44020857-cde3cd28-9f15-11e8-888a-7b3a4ac86f81.png)

[2018-08-13 08:48] Prefix1802 commented on #622
@nnixaa,

![afbeelding](https://user-images.githubusercontent.com/40199655/44021917-52661428-9ee6-11e8-948f-fb6796060c35.png)

[2018-08-13 08:49] nnixaa commented on #625
@jaysoniscale can you check the package.json version of the `@nebular/theme` module under your `node_modules` folder?

[2018-08-13 09:12] Tibing commented on #625
Hi, @jaysoniscale, I've created [stackblitz](https://stackblitz.com/edit/angular-hhe5ru?file=src%2Fapp%2Fapp.component.ts) that imports `NbCalendarRange` and `NbDateTimeUtil` and it works properly. So, could you please check that another version of nebular isn't linked to your project and real version of the installed packed is *2.0.0-rc.10*. Also check your *package-lock.json*.

[2018-08-13 09:12] #625 closed

[2018-08-13 10:02] PrabakarKaruppasamy opened #627 "StaticInjectorError in Creating the Menu Items"
I am newbie to nebular. I have experience on Angular 5. I would like to know how to create the menu items in the nebular.

When I try to create the menu item I am facing the below issues.

`ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[NbMenuComponent -> NbMenuInternalService]:
  StaticInjectorError(Platform: core)[NbMenuComponent -> NbMenuInternalService]:
    NullInje

[2018-08-13 10:39] Prefix1802 commented on #627
@PrabakarKaruppasamy

Did you import nebular into your own project or are you using ngx-admin?

[2018-08-13 10:45] PrabakarKaruppasamy commented on #627
Yes I have imports into my own project. The app.module.ts is given below for reference.

`import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { AppComponent } from './app.component';

import { NbThemeModule } from '@nebular/theme';

import { AppRouteModule } from './app-routing.module';
import { HomeComponent } from './home/home.component';

[2018-08-13 10:49] mfarhani opened #628 "ngx-admin customized login style"
### Issue type
Style not works
**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-08-13 10:55] Prefix1802 commented on #628
@mfarhani

Can you provide more information? What are you doing, what's the error?

[2018-08-13 10:58] Prefix1802 commented on #627
@PrabakarKaruppasa

https://akveo.github.io/nebular/docs/guides/add-into-existing-project#add-into-existing-project
So when you followed these steps, Everything was working?

[2018-08-13 11:04] PrabakarKaruppasamy commented on #627
@Prefix1802
 Yes That works perfect. When I try to create menus I have faced the above issues.

[2018-08-13 11:11] #620 closed

[2018-08-13 11:13] #369 closed

[2018-08-13 11:13] #532 closed

[2018-08-13 11:13] #307 closed

[2018-08-13 11:13] #444 closed

[2018-08-13 11:14] #392 closed

[2018-08-13 11:51] nnixaa commented on #622
I see, unfortunately, there is not we can customize scrollbars using CSS in Firefox, here are some more details https://github.com/akveo/nebular/issues/347
Closing this one as a duplicate.

[2018-08-13 11:51] #622 closed

[2018-08-13 12:27] seanbotha123 commented on #216
Hi, any feedback on this issue?

[2018-08-13 12:36] yggg opened #630 "NbSidebar: menu item toggled when expanding sidebar"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
When sidebar is compacted, clicking on menu items with submenus causes menu item toggling.

**Current behavior:**
Menu item 'expanded' state changed after each click.

**Expected behavior:**
Clicked menu item should always be expanded.

**Steps to reproduce:**
1. Go to [ngx

[2018-08-13 12:40] oldpirate opened #631 "HttpClientModule Import in sub-modules override HttpClient defined in the AppModule"
Hi guys, i found a little problem with the HttpClientModule,

If a define a HTTP_INTERCEPTOR in app module if in a submodule (lazy loaded) there's a import of H
HttpClientModule the interceptors not work cause the new import rewrite the HTTP_INTERCEPTOR

reference:

MODULE: ng2-completer
[https://github.com/oferh/ng2-completer/issues/393](https://github.com/oferh/ng2-completer/issues/393)

MODULE:

[2018-08-13 12:42] oldpirate commented on #631
angular reference:

[https://github.com/angular/angular/issues/20575](https://github.com/angular/angular/issues/20575)

[2018-08-13 12:46] mfarhani commented on #628
@Prefix1802
I am customizing ngx-admin login, after resolving many errors i managed to change its contents to what i wanted, but the style is not working properly. I edited the _component.scss file as shown below:
`/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import '../../components/l

[2018-08-13 12:59] seanbotha123 commented on #467
Hi,

I am looking for something similar, I need to add a button onto the item like so:
![image](https://user-images.githubusercontent.com/5496698/44033068-7ab704be-9f09-11e8-9a92-b27593d58df6.png)

[2018-08-13 14:06] Prefix1802 commented on #628
@mfarhani

For customizing your login page you should follow this guide.

https://akveo.github.io/nebular/docs/auth/configuring-ui#custom-ui-components

If you did that i am assuming that you copied the auth pages from the master repo of nebular. That is where things go wrong because thare are some breaking changes in the auth pages. Instead you should copy the auth pages from RC 10. I myself used

[2018-08-13 14:35] denisobrienirl commented on #330
Folks, mind including this one in the next release? Would be nice to have it available at the same time the disappearing Login sub-menu items fix. :)

[2018-08-13 14:38] yggg commented on #275
Closed in #414

[2018-08-13 14:38] #275 closed

[2018-08-13 14:42] nnixaa commented on #627
Hey @PrabakarKaruppasamy, as menu services are global on the app level, you need to import the menu module as `NbMenuModule.forRoot()` in your `app.module.ts`. This should fix the issue.

[2018-08-13 14:46] nnixaa commented on #631
Hey @oldpirate, so am I correct that we shouldn't import `HttpClientModule` in the `auth.module`?

[2018-08-13 14:47] #592 closed

[2018-08-13 14:47] nnixaa commented on #601
I believe this can be simply fixed using CSS. Closing as there is no issue in Nebular.

[2018-08-13 14:47] #601 closed

[2018-08-13 14:48] nnixaa commented on #407
Hi @tdespenza, you can open a new issue with the details of the issues you are having.

[2018-08-13 15:07] oldpirate commented on #631
hi nnixaa,
i think so, I'm looking for more information because as you can see there are other third-party modules that import httpclientmodule, I think they have to do a fix at the level of angular.
For now if you want to use http interceptors at the appmodule level you do not have to import httpmodule into other modules.

[2018-08-13 16:09] #419 closed

[2018-08-13 18:47] pblazinski commented on #631
Hi guys.
Maybe this can help you.

[https://github.com/MurhafSousli/ngx-sharebuttons/issues/174](url)

[2018-08-13 18:49] pblazinski commented on #631
Hi guys.
https://github.com/MurhafSousli/ngx-sharebuttons/issues/174
Here you can also find more information. They had the same bug.

[2018-08-14 00:58] jinxiu3939 commented on #467
Looking forward to the new version.

[2018-08-14 00:58] #467 closed

[2018-08-14 01:25] jaysoniscale commented on #625
Hi @Tibing It works now I do install again the nebular theme using npm install -g @nebular/theme --latest. Thanks for the support. Cheers

[2018-08-14 01:45] jaysoniscale opened #633 "Error on <nb-calendar-range> tag"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Expected behavior:**
The <nb-calendar-range> tag does not seems to work even importing the NbCalendarRange, NbDateTimeUtil

**Steps to reproduce:**
I'm following the instructions here https://akveo.github.io/nebular/docs/components/calendar/examples for the Date Range.

[2018-08-14 05:58] PrabakarKaruppasamy commented on #627
Hi @nnixaa  Thanks.. It was resolved.  But its not showing in view.

[2018-08-14 08:05] prashantkaushik-cipl commented on #568
![image](https://user-images.githubusercontent.com/37144125/44079515-e86ce132-9fc6-11e8-9652-ad54b22dd1f2.png)
I am getting this error

[2018-08-14 08:54] #517 closed

[2018-08-14 08:56] nnixaa commented on #633
@Tibing should we import a module or something?

[2018-08-14 08:58] nnixaa commented on #627
@PrabakarKaruppasamy any error? Could you push your example to stackblitz?

[2018-08-14 08:59] nnixaa commented on #568
@Tibing could you check?

[2018-08-14 09:21] Tibing commented on #568
Hi @prashantkaushik-cipl, I've created [stackblitz](https://stackblitz.com/edit/angular-zqsmmw?file=src%2Fapp%2Fhello.component.ts).
So, are you sure you've registered nebular styles correctly?
Are you sure you're using popover inside `<nb-layout></nb-layout>`?

[2018-08-14 09:29] jaysoniscale commented on #633
Hi @Tibing  it's working now.Thanks

[2018-08-14 10:17] #633 closed

[2018-08-14 14:07] BertrandGouny opened #635 "Angular 6 library compile error: Directive NbContextMenuDirective, Expected 0 arguments, but got 1."
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Can't compile angular 6 library using `NbContextMenuDirective` got the error :
`
projects/demo/src/lib/demo.component.ts.DemoComponent.html(4,7): : Directive NbContextMenuDirective, Expected 0 arguments, but got 1.
`

**Expected behavior:**

Should compile :D

**Steps to

[2018-08-14 17:04] nnixaa commented on #574
Hey @lfagundes, we decided to rewrite this article completely based on your suggestion for components inheritance. Tomorrow I will open a PR and if you and @bingika could take a look - that would be great.

[2018-08-15 00:05] bingika commented on #574
Hi @lfagundes, I have tried it and the call to super is to be included.
Also i found the issue in customizing, it was due to the version issue which is already reported in #1807. Thanks for your support.

[2018-08-15 08:17] jaysoniscale opened #636 "Multiple select on select tag"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Expected behavior:**
Is it possible to have a multiple select dropdown as a UI Feature of ngx-admin like ng2-bootstrap multiple select dropdown. I have used the ng2-bootstrap select dropdown but its design does not match the theme.

![image](https://user-images.githubuse

[2018-08-15 08:20] EvgenyProkopovich opened #637 "nb-checkbox validation"
![image](https://user-images.githubusercontent.com/39822739/44138486-cae4ebb2-a07c-11e8-9a2f-543d34388328.png)
![image](https://user-images.githubusercontent.com/39822739/44138527-e6db29e4-a07c-11e8-9ac8-7765c1842e7f.png)
How to validate nb-checkbox? Tell me please.

[2018-08-15 13:06] nnixaa commented on #574
@lfagundes, @bingika here you go https://github.com/akveo/nebular/pull/639. Please take a look if you have some time.

[2018-08-16 01:28] jaysoniscale opened #640 "How to track the change event on <nb-calendar-range> tag"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Expected behavior:**
I'm using the **nb-calendar-range** as a parameters for my service in loading data to chart and tables I successfully do it on load but I cannot track the change event of the **nb-calendar-range** tag.

![image](https://user-images.githubusercontent.

[2018-08-16 06:15] PrabakarKaruppasamy commented on #627
It is working now I am closing this issue

[2018-08-16 06:15] #627 closed

[2018-08-16 11:06] Tibing commented on #640
Hi @jaysoniscale, could you please provide more context. Maybe you can create stackblitz?

[2018-08-16 12:07] #616 closed

[2018-08-16 14:02] #330 closed

[2018-08-16 16:33] #574 closed

[2018-08-17 01:09] jaysoniscale commented on #640
Hi @Tibing  I managed to work with it somehow with this

<nb-calendar-range [range]="range" [min]="min" [max]="max" (rangeChange)="getRangeDate($event)"></nb-calendar-range>

getRangeDate(event) {

    if (event.start && event.end) {
      this.fromDate = new Date(event.start);
      this.toDate = new Date(event.end);

      this.range = {
        start: NbDateTimeUtil.addDay(this.fromDate, 0),

[2018-08-17 05:15] sukeshlaghate commented on #623
@nnixaa and @Prefix1802 Thank you for pointing out the right direction. I dug around the repo code and observed that `strategy.authenticate` does not accept headers as its parameters instead one has to write http interceptors to modify requests( as pointed out by @nnixaa in one of the questions asked in this repo) however, wouldn't it make sense to have authenticate method accept headers as option

[2018-08-17 14:56] RodrigoPauletti opened #647 "Nebular Auth in NativeScript"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I'm trying to use the Nebular Auth and Theme in my NativeScript project, but the project doesn't compile successfully.

**Related code:**

NativeScript Playground: https://play.nativescript.org/?template=play-ng&id=ivxKp2&v=2

Error log:
[code]

**A

[2018-08-17 15:11] nnixaa commented on #647
Hey @RodrigoPauletti, I'm not that good with NativeScript, but the error says that you don't have @nebular/theme module installed. Do you have it?

[2018-08-17 15:29] Prefix1802 commented on #647
@nnixaa @RodrigoPauletti

If you look at his code, the folder Theme in @nebular is indeed missing.

[2018-08-17 15:32] RodrigoPauletti commented on #647
@nnixaa @Prefix1802

First, I try to use @nebular/auth without @nebular/theme, but I got errors too.
The documentation (https://akveo.github.io/nebular/docs/auth/installation#installation) says, if I don't need to use Auth Components, I don't need to install @nebular/theme:

[2018-08-17 15:33] nnixaa commented on #64
Hey @cloakedch, take a look at the following PR https://github.com/akveo/nebular/pull/638. It is not merged yet but has a lot of info on this matter.

[2018-08-17 15:39] Prefix1802 commented on #647
If you look at https://akveo.github.io/nebular/docs/guides/add-into-existing-project#install-nebular-modules

I think you need at leat theme installed, because it includes css for your login pages. But i could be wrong.

I recommend you also install theme.

[2018-08-17 15:42] nnixaa commented on #647
@RodrigoPauletti, unfortunately, this is not completely true at the moment, so we have to fix the docs. You would need to install the theme module anyway, but this is mostly (mostly - because you still need to install it :/) fine in terms of bundle size, and it doesn't not include all of the components (those are separate modules)

[2018-08-17 15:42] denStrigo opened #648 "Update documentation."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

Outdated Documentation

**Current behavior:**

After migration to Angular 6 `angular-cli.json` no longer used.

**Expected behavior:**

Сhange `angular-cli.json` to `angular.json` in documenation.
Update paths in `angular.json` e.g. instead of `"../node_modules/bootstrap/d

[2018-08-17 15:44] Prefix1802 commented on #647
When you look at  nebular/src/framework/auth/package.json

"peerDependencies": {
    "@angular/common": "^6.0.0",
    "@angular/core": "^6.0.0",
    "@angular/router": "^6.0.0",
    "@angular/forms": "^6.0.0",
    "@angular/http": "^6.0.0",
    "@nebular/theme": "2.0.0-rc.10", <--- theme is needed
    "rxjs": "^6.1.0"
}

My guess based on this finding is that you need to have theme installed. But

[2018-08-17 15:46] RodrigoPauletti commented on #647
@nnixaa No problem :)
@Prefix1802 Ok. I will install the theme right now and try to build again.
Thanks, guys!

[2018-08-17 16:28] RodrigoPauletti commented on #647
@nnixaa @Prefix1802

I install the @nebular/theme now and no more errors appears. Everything is fine.
Thanks again!

[2018-08-17 16:28] #647 closed

[2018-08-17 17:43] Prefix1802 commented on #347
@nnixaa

As i am now well aware of Firefox not implementing/supporting webkit-scrollbar in CSS. I am having a really hard time understanding why the team does not want to provide supprt via a JS-driven solutions.

I hope you can understand when i say this, and please don't take it personally when i say you ;)

You can not expect your community to all disregard Firefox and use Chrome. My guess is t

[2018-08-17 20:53] cloakedch commented on #64
Thank you @nnixaa, the PR sounds promising. Looking forward to getting it merged.

[2018-08-18 13:42] DmytroLitvinov opened #650 "rememberMe=false does not hide checkbox and text from UI"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

At `NbPasswordAuthStrategy.setup` I tried to setup at `forms` for `login` field `rememberMe` to `false` and it should hide from layout( as described at docs near rememberMe field:https://akveo.github.io/nebular/docs/auth/configuring-ui)

**Expected b

[2018-08-19 12:26] cmajsmith commented on #637
Can you, please, describe what exactly you want to achieve in some more details?

Technically the checkbox being checked can be validated with `required` and I believe no `pattern` check is needed.

[2018-08-20 15:18] nnixaa commented on #650
Hi @DmytroLitvinov, thanks for reporting, but this is a duplicate of #330  which has been fixed and will be available in the next release.

[2018-08-20 15:18] #650 closed

[2018-08-20 15:33] nnixaa commented on #347
Hey @Prefix1802, I'm pretty sure that the decision made by Firefox team has a reason for that.
Moreover, I'm not sure I understand how the "not styled" sidebars are affecting Firefox users? As in my view, "not styled" sidebars would be a default behavior which means it is expected by Firefox users.

Could you please elaborate, probably I'm missing the point.

[2018-08-20 15:35] nnixaa commented on #636
Hi @jaysoniscale, this is planned and hopefully will be ready in the upcoming releases.

[2018-08-20 16:14] DmytroLitvinov commented on #650
Sorry for duplication and thanks for the answer.

[2018-08-20 16:50] Prefix1802 commented on #347
@nnixaa

By this:

"I am having a really hard time understanding why the team does not want to provide supprt via a JS-driven solution."

I meant the nebular team.

"I'm not sure I understand how the "not styled" sidebars are affecting Firefox users?"

![afbeelding](https://user-images.githubusercontent.com/40199655/44354338-dda7f380-a4a9-11e8-9fee-51898520f412.png)

[2018-08-20 19:05] nnixaa opened #652 "Lint config allows unnecessary spaces and other formatting issues"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
Subj.
**Current behavior:**

**Expected behavior:**

We need to improve lint config or start using some style enhancers.
**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-08-20 20:02] cloakedch opened #653 "NbAuthService removes properties from object"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Properties added to the object that is sent to the token endpoint are modified to (apparently) include only `email` and `password`.

**Expected behavior:**
Be able to include properties if desired by the user.

**Steps to reproduce:**
Auth0 working co

[2018-08-21 08:45] 1benayatei opened #655 "Error in use nb-list"
Why not work nb-list ?

My code :
`<nb-card [size]="'medium'">
    <nb-card-header>List inside nb-card</nb-card-header>
    <nb-list>
        <nb-list-item>12313</nb-list-item>
    </nb-list>
</nb-card>`

Error message :
'nb-list-item' is not a known element:
1. If 'nb-list-item' is an Angular component, then verify that it is part of this module.
2. If 'nb-list-item' is a Web Component then add '

[2018-08-21 10:09] nnixaa commented on #655
Hi @1benayatei, have you imported the `NbListModule` into the module where you use it? Also, what is your Nebular version?

[2018-08-21 10:12] nnixaa commented on #347
@Prefix1802, yeah, I understand that you mentioned our team, just referenced the Firefox team.
As for the screenshot - you can simply adjust the `compacted` width of the sidebar by using `sidebar-width-compact` nb-theme variable. This way you can make it wider avoiding the overlay.

[2018-08-21 10:44] 1benayatei commented on #655
Hi @nnixaa , No, I have not done this. How can i add ? Nebular version : v2.0.0-rc.10

[2018-08-21 22:21] jesus-ibanez opened #656 "How to get dynamic permissions for ACL from backend?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [X] Question

### Issue description

**Current behavior:**
How to get dynamic permissions for ACL from backend instead of static as below:

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**

[2018-08-21 23:26] jaysoniscale commented on #636
Glad to hear that. Thanks

[2018-08-22 00:59] agencia commented on #655
hi @1benayatei  , at module level add `import { NbListModule } from '@nebular/theme';` and then append NbListModule to the import list
`@NgModule({
  imports: [
    ThemeModule,
    NbListModule,
  `

[2018-08-22 01:04] pickonefish commented on #656
I think it could override [NbAclServic](https://github.com/akveo/nebular/blob/a4da28938a2dd633f19008bfa8d9298af45f867a/src/framework/security/services/acl.service.ts) and intercept NbAclServic in App module.

` { provide: NbAclService, useClass: AclBackendService }`

reference: [NbSecurityModule](https://github.com/akveo/nebular/blob/a4da28938a2dd633f19008bfa8d9298af45f867a/src/framework/security/

[2018-08-22 10:02] cmajsmith commented on #640
I think the problem here is that `rangeChange` event isn't mentioned in the documentation for calendar component. Actually the whole `NbCalendarRangeComponent` is not covered by docs.

[2018-08-22 11:43] Tibing commented on #640
Hi @cmajsmith , @jaysoniscale , we'll update docs asap.

[2018-08-22 14:31] nnixaa commented on #656
Hey @jesus-ibanez, please check the following comment here https://github.com/akveo/ngx-admin/issues/1779#issuecomment-407459034. Hope this helps!

[2018-08-22 14:47] AbelValdez opened #657 "I couldn't found Nb Stepper into @nebular/theme v2.rc.10"
Hello,

I'm trying to use the newest components from nebular to keep the same format in my applications in particular **Stepper** Component, I have installed  **ngx-admin starter kit**  but I can not find it even installing **@nebular/theme v2.rc.10**

Does some body knows how can I implement it?

[2018-08-22 16:24] #656 closed, assigned to nobody

[2018-08-22 18:33] alain-charles commented on #653
@nnixaa i think @cloakedch is right.
I had a closer look to the RFC [here](https://tools.ietf.org/html/rfc6749#section-4.3.2).

The request should have a `username`parameter and not an `email` parameter.

In NbOAuth2AuthStrategy, we build the request like this
[code]
email instead of username.

What do you think ?
OK for a PR correcting this issue ?

[2018-08-22 19:07] Prefix1802 commented on #347
@nnixaa

Nothing i can think of right now, but when ithink of something i will let you know ;)

[2018-08-22 19:10] Prefix1802 commented on #653
@alain-charles

+1

[2018-08-22 20:16] nnixaa commented on #347
@Prefix1802 cool then! Hope there is no blocker for particularly your or anyone else's project :)

[2018-08-23 08:26] #614 closed

[2018-08-23 08:27] nnixaa opened #660 "new cdk folder with proxies to @angular/cdk"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
So that we can utilize features angular Angular CDK and still be able to re-define something if necessary.

[2018-08-23 08:28] nnixaa opened #661 "CDK Overlays"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
Base features for overlays-based components.

[2018-08-23 08:30] nnixaa opened #662 "Search update according to new Overlays"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [s] feature request

### Issue description

[2018-08-23 08:31] nnixaa opened #663 "New component - Tooltip"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:32] nnixaa opened #664 "Update popover according to new overlays"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:32] nnixaa opened #665 "New component - modal"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:33] nnixaa opened #666 "New component - Dialog"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:33] nnixaa opened #667 "New component - toast"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:34] nnixaa opened #668 "Update context menu according to new overlays"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:35] nnixaa opened #669 "New component - Collapsable Window"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:35] nnixaa opened #670 "New component - Bottom sheet"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:36] nnixaa opened #671 "New component - dropdown"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 08:37] nnixaa opened #672 "New component - Date Picker"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

[2018-08-23 10:34] #653 closed

[2018-08-23 12:33] Tibing opened #673 "NbInput - debounce"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

I think we have to add debounce property to the nbInput directive.

[2018-08-23 12:45] Prefix1802 commented on #673
@Tibing

Could you elaborate why?

[2018-08-23 12:50] Tibing commented on #673
Hi @Prefix1802, I mean, this is a really common use case when you need to add debouncing on your inputs: search, filter, maybe error handling, whatever. And if input itself can't debounce its events you have to write rxjs every time you need debouncing.
Anyway, it's just the proposal.

[2018-08-23 12:53] Prefix1802 commented on #673
@Tibing

I understand now. You said property ;), so we can use it as a parameter.

+1

[2018-08-23 19:19] nnixaa commented on #64
It's merged now so I guess we can close this one.

[2018-08-23 19:19] #64 closed

[2018-08-24 09:40] Mrsbetter opened #675 "nb-news-post"
NbInfiniteListDirective update has some trouble, if it is beacause of nb-news-post ,how to add this component?  Can I ask for more detail issue about NbInfiniteListDirective?

[2018-08-24 09:48] nnixaa commented on #675
Hi @Mrsbetter, could you please post a complete example of what you are doing and what's not working? Thanks.

[2018-08-24 09:49] #529 closed

[2018-08-24 09:50] #537 closed

[2018-08-24 09:52] nnixaa commented on #567
Hi @HMubaireek, have you resolved the issue?

[2018-08-24 09:59] Mrsbetter commented on #675
Angular6 + nebular2.0.0-rc.10： I want to reload when the list scrolls to the bottom，but it loads when the mouse rolls over，reload too many times

[2018-08-24 10:01] Mrsbetter commented on #675
[threshold]="500"
 (bottomThreshold)="loadNext()"
The  [threshold] has no effect， and the  (bottomThreshold) has effect too many times when the mouse rolls over. I don/t know what happened and how to use this new Directive

[2018-08-24 10:10] nnixaa commented on #675
@Mrsbetter could you push a reproducible example to https://stackblitz.com?

[2018-08-24 10:13] Mrsbetter commented on #675
OK,  waiting some days , i use it  in my compony task, i will spent some time write a reproducible example and push it. Thank you! Have a good weekday

[2018-08-24 11:52] nnixaa opened #676 "Auth Screen improvements"
Moved from https://github.com/akveo/ngx-admin/issues/1831

[2018-08-24 11:53] #540 closed

[2018-08-24 14:48] aefox commented on #657
@AbelValdez I just had the same issue while trying to play with the stepper.

It seems that the stepper and other new components which have just been added to `nebular 2.0.0-rc.10` are currently not imported by the `ngx-admin` project (you can look [here ](https://github.com/akveo/ngx-admin/blob/master/src/app/%40theme/theme.module.ts#L6)for what modules are currently imported).

So, in order to u

[2018-08-24 14:49] aefox commented on #655
@1benayatei  if you're using the `ngx-admin` template you can update `theme.module.ts` file to import the `NbListModule`. One thing to note in this particular case is that you will also have to update the `NB_MODULES` const to include the new module so it is loaded by angular. For extra details see [here](https://github.com/akveo/nebular/issues/657#issuecomment-415782425)

[2018-08-24 15:26] minextu opened #677 "Automatic refresh token doesn't work for NbPasswordAuthStrategy"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

When using the password strategy and the token has expired, no new http requests are going through, including the refresh request.

**Expected behavior:**

Token get's refreshed and requests get through.

**Steps to reproduce:**

Using the latest git

[2018-08-24 15:46] AbelValdez commented on #657
@aefox  Thanks for your answer, but what about the module (I mean the components files). Do I need to add them manually?

[2018-08-25 06:47] alain-charles commented on #677
@minextu , can you verify that your refreshToken endpoint url matches at least one url in the list of urls the NbAuthJWTInterceptor must not inject the `Bearer` Authorization Header ?
=> All urls that must not be injected a token in their Authorization Header **must** be listed in the filter function referenced by  NB_AUTH_TOKEN_INTERCEPTOR_FILTER so that the filter returns `true` for them.

Does

[2018-08-25 16:30] minextu commented on #677
The refreshToken endpoint was not listed in filter. I thought the refresh request was suppose to be intercepted. It's working now, thanks!

[2018-08-25 16:30] #677 closed

[2018-08-25 18:32] Prefix1802 opened #678 "contact"
@nnixaa

I have sent two emails to akveo to ask for a quote on work to be done.

Never got an answer.

Can one of you guys check Akveo email? contact@akveo.com

[2018-08-25 18:41] Prefix1802 commented on #657
@aefox

Sorry for intruding, but my guess is that ngx admin is already on RC10.

Just have a look at package.json

[2018-08-26 12:11] nnixaa commented on #678
Hi @Prefix1802, don't be disappointed! :) I'm sure someone will answer you soon and sorry for the delay! I will close this one here as it is not related to a Nebular repository issue.

[2018-08-26 12:11] #678 closed

[2018-08-27 19:31] joeyjin commented on #623
Hi,
Thanks in advanced!
I am new for the ngx-admin and I tried to do authenticate with my own service. I can see it hit my service (http://localhost:4201/api/auth/login) when I login.  But it always can not login(error message: Oh snap!
Something went wrong.) even if the service return true...What's the problem? Many thanks!

NbPasswordAuthStrategy.setup({
        name: 'email',
        baseEndpoi

[2018-08-27 19:39] joeyjin opened #680 "help with login"
Hi,
Thanks in advanced!
I am new for the ngx-admin and I tried to do authenticate with my own service. I can see it hit my service (http://localhost:4201/api/auth/login) when I login. But it always can not login(error message: Oh snap!
Something went wrong.) even if the service return true...What's the problem? Many thanks!

NbPasswordAuthStrategy.setup({
name: 'email',
baseEndpoint: 'http://local

[2018-08-27 21:27] AbelValdez commented on #657
Ok, I already had my package with `"@nebular/theme": "2.0.0-rc.10"`  when I created the issue I couldn't see the stepper component files, but now I just did a `npm install ` and all the files appears into my project.

Thanks for all :+1:

[2018-08-27 21:27] #657 closed

[2018-08-28 03:36] Prefix1802 commented on #623
@nnixaa

can you remove @joeyjin  comment. He made a new issue. #680

[2018-08-28 08:00] carneles opened #682 "There is no Auth Strategy registered under 'xxx' name"
I implemented more than one strategy like this:
[code]
But when trying to use xxx strategy, it always returns "There is no Auth Strategy registered under 'xxx' name" error:
[code]
Was trying to debug by adding log build result of auth.service.js:
[code]
But in the result the strategies does not have 'name' field:

[code]

[2018-08-28 08:27] Tibing opened #683 "Update search according to new overlays"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

[2018-08-28 14:06] jjgriff93 opened #685 "Auth Documentation: update with walkthroughs for setting up identity with cloud providers"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

Attempted to use OAuth Google example for setting up authentication with Azure AD B2C (also based on OAuth), but involved a lot of extra configuration and overwriting of auth code. As Nebular develops would be great to add more examples for more providers, like Facebook, A

[2018-08-28 14:10] jjgriff93 opened #686 "Documentation update: setting up backend database for use with dashboard"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

Would be brilliant to have a walkthrough on how to take the starter kit or the admin template, and set it up with a backend database / API layer for populating live data into the graphs and other elements. Appreciate there are many ways to set up databases to interoperate

[2018-08-28 15:22] joeyjin commented on #680
@Prefix1802, @nnixaa
Please help!!! waiting on line....

1. I added this section:  token: {
          key: 'token',
        },
2. also in my service return json return with token:
[HttpPost]
        [Route("api/auth/login")]
        public JsonResult login([FromBody]dynamic value)
        {
            var l = Json(_AuthRepository.login((string)value.email, (string)value.password));
            re

[2018-08-28 15:39] joeyjin commented on #680
sorry...problem solved. json format is { token: 'some-jwt-token' }

[2018-08-28 15:40] Prefix1802 commented on #680
@joeyjin

What does the response from your api look like? Can you post it?

[2018-08-28 15:53] joeyjin commented on #680
![image](https://user-images.githubusercontent.com/6452468/44734877-94126680-aab0-11e8-8770-fb722b92e596.png)

[2018-08-28 15:57] joeyjin commented on #680
another question: how can I pass  environment.baseUrl to this instead of hard coding there
this.baseUrl = environment.baseUrl;
BUT comment out has complied error
NbPasswordAuthStrategy.setup({
        name: 'email',
        baseEndpoint: 'http://localhost:4201/api',
     //baseEndpoint: this.baseUrl,

[2018-08-29 02:39] Prefix1802 commented on #680
@joeyjin

Read about Constants here:
https://www.code-sample.com/2018/04/angular-5-constant-and-global-variables.html

#69

[2018-08-29 07:07] alain-charles commented on #682
Hi @carneles

If we have a look at the `nbStrategiesFactory`function, responsible for creating the strategies you declare, we see :
[code]
If you declare two different strategies with the same class (i.e. two `NbPasswordAuthStrategy` in your case), then for the second(yyy), the `injector.get(strategyClass)`points to the first (xxx). The next line (`setOptions()`) overwrites all the properties of '

[2018-08-29 23:31] tcbuzor commented on #656
Hi, do you have a sample code to show use of NbAclService.setAccessControl for dynamic privileges?

[2018-08-30 03:33] joeyjin commented on #680
@Prefix1802 , @nnixaa

why my login fail message is Oh snap! Something went wrong. while my setting is like this and it should be like "mail/Password combination is not correct, please try again". where did  i do wrong? please help!
 login: {
                alwaysFail: false,
                rememberMe: true,
                 method: 'post',
                endpoint: '/auth/login',

[2018-08-30 06:58] Prefix1802 commented on #680
@joeyjin

When your api login gets called do you get a 200 response back?

like this:

![afbeelding](https://user-images.githubusercontent.com/40199655/44834951-dc599200-ac32-11e8-87d2-325a25174b3b.png)

[2018-08-30 14:13] joeyjin commented on #680
@Prefix1802
yes. like this when I put wrong pw
![image](https://user-images.githubusercontent.com/6452468/44857218-ed0b0780-ac34-11e8-8fb8-2aa635ab49e6.png)

[2018-08-30 14:52] joeyjin commented on #680
solved...need to return status code in api!
if (nt.token.Equals("invalid token"))
                this.HttpContext.Response.StatusCode = 401;
            else
                this.HttpContext.Response.StatusCode = 200;

[2018-08-30 15:16] jesus-ibanez commented on #656
Here you are:
[code]

In my case, i get the permissions from token generated from my backend at path ['user']['permissions']. I set this after login and in the app.component in case of user refresh the browser.
I hope it helps

[2018-08-31 08:11] artyorsh opened #689 "Calendar example: full calendar day select issue"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Calendar displays duplicated months, which provides additional selection issues.
See on screenshot:
![image](https://user-images.githubusercontent.com/10753921/44900813-4b57e900-ad0e-11e8-9155-88d1ea2e089d.png)

[2018-08-31 11:32] #680 closed

[2018-09-02 07:36] TomasTopinka opened #690 "Wrong email pattern in SignUp component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
SignUp component can accept test@test as valid email address which is wrong!
It seems to be problem with pattern=\".+@.+\\..+\" in register.component.js

[2018-09-03 03:27] sukkavenu opened #691 "NbAuthJWTToken from Response Header"
When using NbPasswordAuthStrategy with NbAuthJWTToken , did not find any documentation on how to configure to get JWT token from the Response header Authorization parameter.

Thanks!

[2018-09-04 06:06] SalahudinMalik commented on #37
@wilson-young @nnixaa  it work correctly but when I  build using ng build --prod it gets components from node modules

[2018-09-04 18:04] ivanros opened #694 "NbTabset event should return a tab identifier"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [ X ] feature request

### Issue description
NbTabsetComponent's onChangeTab event should return a tab identifier

**Current behavior:**
Currently onChangeTab returns certainly attributes about Tabs components, but it would be nice if it can return an identifier of the changed tab as:
`<nb-tab tabId="1">`
So you can define a number, stri

[2018-09-06 00:19] thom7kick opened #695 "`OnItemClick` stored in `ReplaySubject` cause logout right after login"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
@nnixaa I am subscribing to `onItemClick` then logout from the logout menu item is selected.
[code]
it successfully logs but on login again the `onItemClick` is triggered therefore logs out
user immediately. That's because from the code the clicked it

[2018-09-06 04:52] jacobgreene1991 opened #696 "refresh-token with a payload"

[2018-09-06 04:57] #696 closed

[2018-09-06 15:04] artyorsh opened #697 "ranged calendar with filter"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ + ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Ranged calendar with filter predicate applied highlights disabled day cells.
See screenshot:

![image](https://user-images.githubusercontent.com/10753921/45166198-20363380-b1ff-11e8-85f3-a8330fb10042.png)

**Expected behavior:**
Don't know :)

[2018-09-06 16:27] Prefix1802 commented on #690
@TomasTopinka

FYI.

http://emailregex.com/

[2018-09-06 17:29] artyorsh commented on #697
@Prefix1802
According to reporting form you should mark issue type: bug or feature request. It doesn't look like a bug, but I believe current behavior is a topic for discussion.

[2018-09-06 18:03] thom7kick commented on #695
my solution is to ignore replay with out user interaction
[code]
i hope it helps someone.

[2018-09-07 14:20] marchrius opened #699 "[Theme] Specific theme for single component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**
[code]

**Nebular**
[code]

[2018-09-08 09:33] the-wild-bot opened #700 "Use For Odoo"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:** Only for angular

**Expected behavior:**

**Steps to reproduce:** must work with non angular platform like odoo is it possible?

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-09 04:52] Prefix1802 commented on #700
Depends on what you are trying to accomplish.

[2018-09-09 15:07] rahmatputrawiranata commented on #691
i try my  best the i got some error
`core.js:1601 ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[NbIsGrantedDirective -> NbAccessChecker]:
  StaticInjectorError(Platform: core)[NbIsGrantedDirective -> NbAccessChecker]:
    NullInjectorError: No provider for NbAccessChecker!
Error: StaticInjectorError(AppModule)[NbIsGrantedDirective -> NbAccessChecker]:
  StaticInjectorEr

[2018-09-09 17:06] TomasTopinka commented on #690
Dear all, Are you saying that test@test is a valid email according to RFC ?
Is is possible to change to pattern without copy whole component ?
Thank you for reply.

[2018-09-09 23:09] jjgriff93 opened #702 "Getting TypeError: Observable.of is not a function when running after performing recent npm update"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Getting `TypeError: rxjs_Observable__WEBPACK_IMPORTED_MODULE_1__.Observable.of is not a function at ChangeFilter.push../node_modules/ngx-echarts/ngx-echarts.es4.js.....`  now when running the ngx-admin dashboard, after running npm update and updating

[2018-09-10 11:07] nnixaa commented on #691
Hey @rahmatputrawiranata, please open a separate issue.

@applicationuser there is a `getter` property under the `token` so that you can extract the token from any part of the response:

[code]

Hope this helps!

[2018-09-10 11:09] nnixaa commented on #699
Hey @marchrius, I see your point, but currently, it is only possible using the `NbThemeService`, here's an example from our documentation website https://github.com/akveo/nebular/blob/master/docs/app/home/home.component.ts#L78

[2018-09-10 12:06] mcijsouw opened #704 "Auth/Register: there is no way to set the "Terms & Conditions" link"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
In the Auth/Register component, the href attribute of the "Terms & Conditions" link is hardcoded (`href="#"`). There is no way to set this link to a custom url.

**Expected behavior:**
I would like to set a custom url on the "Terms & Conditions" link.

**Related code:**

I

[2018-09-10 12:14] #660 closed

[2018-09-10 12:14] #661 closed

[2018-09-10 12:34] nnixaa commented on #682
Hey @carneles, thanks for reporting and @alain-charles, thanks for digging in. Yes, it looks like we cannot have two strategies with the same class and this is very unfortunate.

As for a workaround, you can create a second strategy class, extend it from the `NbPasswordStrategy` and provide it:

[code]

Then you can declare both strategies.

But having two strategies with the same class under diff

[2018-09-10 19:45] #664 closed

[2018-09-10 19:45] #668 closed

[2018-09-10 19:45] #683 closed

[2018-09-10 21:24] stubbsy345 opened #705 "Updating project built off of previous ngx-admin example to updated UI."
Hi I know this issues panel is not intended for guidance but I noticed it's okay to tag as help wanted. If this is the incorrect location please direct me to the correct place to ask.

Me and some colleagues were building a project using the nebular framework, which we love by the way. We used an old version of ngx-admin as a starting point, i believe version 2.2.0.  I imagine this was probably pu

[2018-09-11 01:01] applicationuser commented on #691
Hello @nnixaa , thanks for the reply.

Getting following error message in console , and login page authentication failed.

NbPasswordAuthStrategy:
                          Token is not provided under 'data.token' key
                          with getter 'function (module, res, options) { res.headers.get('Authorization'); }', check your auth configuration.

[2018-09-11 06:41] jagabs commented on #672
is this already in progress?

[2018-09-11 07:48] Tibing commented on #672
Hi @jagabs, yep, it'll be released soon.

[2018-09-11 11:40] nnixaa commented on #691
Hey @applicationuser, please post a complete configuration. Have you tried putting a `console.log` into the getter function to check the response data?

[2018-09-11 11:42] nnixaa commented on #705
Hi @stubbsy345, can you please post some of the examples? Have you followed the `CHANGELOG.md` for the details regarding breaking changes?

[2018-09-11 11:43] jjgriff93 opened #706 "Unable to get name or other properties from Json Web Token after authentication"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] code issue
* [ ] feature request

### Issue description

**Current behavior:**
After a successful authentication with Azure AD B2C and redirect back to the dashboard, the header.component and a custom component I've built, which is injected with the user.service (which has code to update the user object on token change), isn't d

[2018-09-11 13:28] #665 closed

[2018-09-11 13:28] #666 closed

[2018-09-11 13:50] Riderxyz opened #709 "directive nbButton not working"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**

The "nbButton" directive is not working correctly. Try to change the color of the button, size, indicate whether it is Hero type or not or even put it as Full width. Nothing works except the default primary button

**Expected behavior:**

change the

[2018-09-11 15:38] pdelorme commented on #695
I had the exact same problem.
Your solution is fixing it. Thanks !
However, this should be left as a open bug since onItemClick() doesnt behave as expected.

[2018-09-11 16:43] #667 closed

[2018-09-11 20:39] #663 closed

[2018-09-11 20:41] nnixaa commented on #709
Hi @Riderxyz, can you please post a complete example?

[2018-09-11 20:42] #648 closed

[2018-09-11 20:42] nnixaa commented on #670
no longer planned as this is mostly a material components

[2018-09-11 20:42] #662 closed

[2018-09-12 07:00] alain-charles commented on #706
Hi @jjgriff93 ,

 I think the problem may reside in the token class you are using.
As far as i know, azure services return OAuth2 token whose accessToken is a jwtToken carrying user info in its payload.

So i think first that you may have to use in your **auth strategy** and *also* in the code above the `NbAuthOAuth2JWTToken` class instead of `NbAuthOAuth2Token`.

Try that and if it does not work,

[2018-09-12 07:12] alain-charles commented on #706
And moreover, in the code above, you have to call `getAccessTokenPayload()` instead of `getPayload()` :
[code]

Before that do not forget to declare `NbAuthOAuth2JWTToken` class instead of `NbAuthOAuth2Token` in your auth strategy

[2018-09-12 09:53] #671 closed

[2018-09-12 10:45] ilDon opened #710 "Unable to apply nebular styles to any component"
### Issue type

**I'm submitting a ...**

* [ X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I have an existing project in which I want to add nebular components.

I have successfully added a stepper, but none of the Nebular styles are applied to any element of the stepper (including buttons).

I have followed the instructions on how to integrate the styles, but

[2018-09-12 12:03] #230 closed

[2018-09-12 12:09] devKid88 commented on #709
@Riderxyz  check if there is NbButtonModule imported in module where you use buttons

[2018-09-12 19:55] Riderxyz commented on #709
@nnixaa sure man. Here it is:

<button nbButton hero status="warning">Primary</button>

or any other status. It simply does not work

[2018-09-12 19:56] Riderxyz commented on #709
@devKid88 there is a module for this? There's nothing saying about a nbButtonModule in the website.

[2018-09-13 11:09] #618 closed

[2018-09-13 11:09] #619 closed

[2018-09-13 15:02] yggg opened #715 "Code examples in properties descriptions are sanitized"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

https://i.imgur.com/g7OQqXQ.png

**Expected behavior:**
https://i.imgur.com/g7OQqXQ.png

**Steps to reproduce:**
Insert code example in a property description:
[code]

[2018-09-13 15:33] megalucio opened #716 "NbOAuth2AuthStrategy sends parameters in body instead of using 'x-www-form-urlencoded'"
## Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When using oauth2 password authentication the username and password information is sent in the body of the request:

`{
   "grant_type":"password",
   "email":"testuser",
   "password":"1234"
}`

**Expected behavior:**
According to [RFC 6749](https://t

[2018-09-13 16:11] i-hamza commented on #387
@ruisebastiao any luck

[2018-09-13 22:30] jjgriff93 commented on #706
Thanks @alain-charles - I've implemented what you've suggested with a couple of tweaks, when I originally got Azure AD B2C working @nnixaa helped me create a custom token handler with some overrides as the default handlers couldn't intercept the `id_token` properly. Still no luck I'm afraid - here's the updated code for the Users service:

[code]

And the `core.module.ts`:

[code]

Any ideas? Than

[2018-09-13 22:44] jjgriff93 commented on #706
Actually, just done some further testing and realised if I get the user object directly from the userService in header.component.ts:
[code]

It works fine, but if I get it through a method that returns an Observable:
[code]

Here's the method in the user service:
[code]

Have any idea why this doesn't work? Apologies, still fairly new to Angular

[2018-09-14 05:44] jagabs commented on #672
@Tibing  thanks :)

[2018-09-14 05:48] alain-charles commented on #706
@jjgriff93
So if i have well understood, you succeded in getting user info from id_token ?
The only trouble you encounter now is that when using observable it does not work ?

[2018-09-14 08:57] naodwalk commented on #655
Hello! Using the ngx-admin template, even after adding NbListModule to my theme.module file, it doesn't seem to be able to import it. I get "cannot find name NbListModule". I'm running ngx-admin version 2.1.1. I'm a bit new to Angular, so my apologies in advance if I'm missing something obvious. I appreciate any help :)

theme.module.ts:
`
const NB_MODULES = [
  NbCardModule,
  NbLayoutModule,
  N

[2018-09-14 09:36] alain-charles commented on #706
@jjgriff93 `
I did not try it, but If you want your component to observe the user attribute you declared in your user service, you could try to

- in `userService`, declare the `user` attribute as a  BehaviorSubject, something like this :
[code]
- in `userService` create a `publishUser(user: any)` method with something like
[code]
- in `userService` create a `onUserChange()` method with something

[2018-09-14 10:38] nnixaa commented on #710
Hi @ilDon, have you followed the documentation here https://akveo.github.io/nebular/docs/guides/add-into-existing-project#create-a-page? The `NbLayoutComponent` is a required one for styles to apply.

[2018-09-14 11:31] #260 closed

[2018-09-14 18:45] stubbsy345 commented on #705
Sorry thanks I figured it out, I was just missing some of the adapted files within the @theme folder itself. With regards to the nb-chat feature, is that found within the current nebular package or is that external? It doesn't seem to be recognised when I am trying to implement currently, but recognises all other nebular components?

[2018-09-15 10:01] steven274 commented on #601
@nnixaa I want multiple tab lines like this

![image](https://user-images.githubusercontent.com/7889676/45585097-f371d280-b908-11e8-9a19-1b62b65cb8b4.png)

[2018-09-16 18:57] nnixaa commented on #635
Hey @BertrandGouny, @arabbani, thanks for submitting this. Could you please post a reproducible example to stackblitz?

[2018-09-17 05:54] arabbani commented on #635
The error only visible while building the project for production

[2018-09-17 06:41] BertrandGouny commented on #635
Hello,
i made a github repo to reproduce the issue :
[code]

[2018-09-17 08:28] ilDon commented on #710
Hi @nnixaa , yes I have added `NbLayoutModule` to the imports, you can check also in the stackblitz example: [https://stackblitz.com/edit/angular-nebular-integration?file=src%2Fapp%2Fapp.module.ts](https://stackblitz.com/edit/angular-nebular-integration?file=src%2Fapp%2Fapp.module.ts).

[2018-09-17 08:31] ilDon commented on #710
Sorry, quick follow-up. I did not include the `NbLayoutComponent`, I have only imported the `NbLayoutModule`, which is the one mentioned in the documentation. Did you mean `NbLayoutModule`, or should I also include the `NbLayoutComponent`?

If the the `NbLayoutComponent` is required, I have looked at the [documentation](https://akveo.github.io/nebular/docs/guides/add-into-existing-project#create-a

[2018-09-17 08:56] nnixaa commented on #710
Hi @ilDon, I meant that you need to add the layout component to your template like this:

[code]

We will update the docs to state this more clearly.

[2018-09-17 09:03] ilDon commented on #710
Ah ok thanks!

[2018-09-17 09:21] ilDon opened #719 "Drag & drop from chat UI available as standalone component"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**
Drag & drop is implemented in Chat UI, but is not available as a standalone component.

**Expected behavior:**
It would be very nice to have a standalone module/component (e.g. `NbDragAndDrop`) to easily upload files.

The component could emit an event on file(s) selection

[2018-09-17 09:35] nnixaa commented on #635
@BertrandGouny thanks! Here is the reason https://github.com/akveo/nebular/blob/2.0.0-rc.10/src/framework/theme/components/context-menu/context-menu.directive.ts#L168 and here is the explanation https://stackoverflow.com/a/50409526/6272699.

Since we rework the popover based components quite a lot since the previous RC, we need to check if this is still the case.

On a side note, the demo componen

[2018-09-17 10:11] nnixaa commented on #635
Just tried with the build master package and it works fine:
![image](https://user-images.githubusercontent.com/230527/45617482-2b992280-ba7b-11e8-9355-9c30b20bc5fd.png)
Will be published in the next 2.0.0 version, closing.

[2018-09-17 10:11] #635 closed

[2018-09-17 18:38] #669 closed

[2018-09-18 04:54] arabbani commented on #635
Thankx. When version 2 will come out

[2018-09-18 16:38] ilDon opened #725 "NbStep ignoring [completed] when the next step is clicked"
### Issue type

**I'm submitting a ...**

* [X] bug report
* [ ] feature request

### Issue description

When passing the parameter `completed` to NbStep (`<nb-step [completed]="false"></nb-step>`, the step is marked as completed when another step is selected by clicking on the step number, even if the value of `competed` is `false`.

**Expected behavior:**

When passing the value of `completed` t

[2018-09-19 06:36] cj-wang opened #727 "NbTabset throws ExpressionChangedAfterItHasBeenCheckedError when NbTabs are generated through *ngFor"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
NbTabset throws below error when NbTabs are generated through *ngFor:
ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'content-active: false'. Current value: 'content-active: true'

[2018-09-19 09:33] nnixaa opened #730 "Calendar: weekends base on locale"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-19 10:05] jjgriff93 commented on #706
Thank you @alain-charles , that's worked perfectly - looks like I was missing some important code :) Thanks very much for your help with this

[2018-09-19 10:05] #706 closed

[2018-09-19 12:19] bekim-bajraktari commented on #347
Hi together,
can someone tell me where can I fix that issues with sidebar-width-compact?
Can I fix that directly in file sidebar.component.css?

[2018-09-19 17:15] #640 closed

[2018-09-19 17:23] traptz opened #733 "Logout sending token"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [X] feature request

### Issue description
I'm using loopback as REST api, using the default User login/logout. The login setting is working normally, but the logout demands to pass a variable "access_token", if not I got a 401, not authorized from the api.
I'm trying to send the token when calling '/auth/logout', but I don't really know

[2018-09-19 17:39] nnixaa opened #734 "Docs: add install a component section"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

The documentation is missing a section describing how to start using the component (e.g. import a module).
**Expected behavior:**

Section exists.

[2018-09-19 17:44] nnixaa commented on #727
Hi @cj-wang, thanks for reporting!

[2018-09-20 08:09] nnixaa commented on #301
Hi @cyrilselasi, please take a look at this article https://github.com/akveo/nebular/blob/master/docs/articles/auth-custom-ui.md. You are just missing the router module import. Closing this issue as it's been fixed in docs.

[2018-09-20 08:09] #301 closed

[2018-09-20 12:45] #695 closed

[2018-09-20 12:47] #423 closed

[2018-09-20 14:11] #672 closed

[2018-09-20 18:18] arabbani opened #739 "Error in production build"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description
I'm using v2.0.0-rc.10. The production build is producing the following error:
**Current behavior:**

[code]
**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-24 06:31] Tibing commented on #739
Hi @arabbani, could you please provide the reproducible example?

[2018-09-24 09:45] PrabakarKaruppasamy opened #741 "Two menus like before authentication and after authentication not replacing"
Hi All,
I have one project with the combination of Angular 5 and Nebular. The project is developing from scratch not took clone as ngx-admin.

I have the header and menu items in app.component.html like as below.

[code]

Menu items are described in app.component.ts as below.

[code]

I would like to change the menu after sucessful login. If i give in loginsucess.component.ts it is not working. It

[2018-09-24 10:53] jagarapusrinivasarao opened #742 "Circular dependency in (stepper.component <-> step.component) and (option.component<->select.component)"
### Circular dependency

**I'm submitting an issue that I faced while running `npm start` command

* [ ] bug report

### Just run the  `npm start` and getting Circular dependency issue like
`
WARNING in Circular dependency detected:
src\framework\theme\components\select\option.component.ts -> src\framework\theme\components\select\select.component.ts -> src\framework\theme\components\select\option.

[2018-09-24 11:18] nnixaa commented on #742
Hi @jagarapusrinivasarao, I'm pretty sure there is some mistake in the steps to reproduce:

[code]
as the output you received is for Nebular repo, not ngx-admin.
Still leaving this issue as we need to get rid of those warnings.

[2018-09-24 12:06] thomasreji opened #743 "Nebular Check box is not rendering properly in IE 11 (also check Radio)"
Nebular check box is not rendering properly in IE 11. Please find the code and screen shot below
![image](https://user-images.githubusercontent.com/43465524/45951222-47269f00-c020-11e8-8544-0975117970be.png)

                    <nb-checkbox status="success" formControlName="IsThermalPadsReq" >Thermal Pads Required?</nb-checkbox>

![image](https://user-images.githubusercontent.com/43465524/4595125

[2018-09-24 15:27] arabbani commented on #739
Steps to reproduce:
 I'm using Nebular with JHipster v5.3.4.
1. Create a jhipster project
2. Integrate Nebular.
3. Build for production

Following the complete error log:

[code]

[2018-09-24 16:05] nnixaa commented on #733
Hi @traptz, I believe you can make a use of Angular HTTP interceptors. An interceptor allows you to `intercept` a request adding additional or customizing the information.

[2018-09-24 16:11] nnixaa commented on #739
Hi @arabbani, it's really hard to tell as the `Integrate Nebular.` part is quite vague as this doesn't provide us with any useful info. Could you please be more specific? Can you build a basic Angular app + Nebular without the JHipster part?

[2018-09-24 16:18] arabbani commented on #739
Will try @nnixaa

[2018-09-24 16:26] arabbani commented on #739
Here is a snapshot of some of nebular's css code. Something buggy here:
![gggggggggggg](https://user-images.githubusercontent.com/13854024/45964859-87981400-c044-11e8-8ebb-cb60618d3b26.JPG)

[2018-09-24 16:28] arabbani commented on #739
There are many error like this

[2018-09-24 16:28] arabbani commented on #739
corporate.css, cosmic.css and default.css

[2018-09-24 20:11] #734 closed

[2018-09-24 20:15] nnixaa commented on #716
Hey @alain-charles, if you have some time would be great if you could check this one!

[2018-09-24 20:17] nnixaa commented on #362
The issue is resolved.

[2018-09-24 20:17] #362 closed

[2018-09-25 00:03] tim6400 commented on #655
I also get 'XXX/node_modules/@nebular/theme/index"' has no exported member 'NbListModule'.
running ngx-admin  "version": "2.3.0",

[2018-09-25 00:48] applicationuser commented on #691
Hello @nnixaa ,  console.log of response does not show authorization header in getter function.

![image](https://user-images.githubusercontent.com/42922833/45986667-ec4e7100-c03a-11e8-9e13-17b60c289ea4.png)
Chrome browser - from netwrok log, i can see auth request response has authorization header details.

![image](https://user-images.githubusercontent.com/42922833/45986679-0425f500-c03b-11e8-85

[2018-09-25 06:34] nnixaa commented on #691
![image](https://user-images.githubusercontent.com/230527/45996760-040f0f00-c0a6-11e8-8fdb-b0cb9e6f2170.png)
@applicationuser as far as I can tell the headers are there - could you expand the list by clicking on that small array on the left?

[2018-09-25 08:20] chris7716 opened #744 "Previously active menu is selected even after logging out and logged back in"
I have been using a customised auth component in ngx-admin. The login and log out functions work quite well but the issue that I am facing right now is that the previously active menu is selected even after I log out and log back in. Is there any particular way that I can use NbMenuService to dis-select the current menu item when logging out?

[2018-09-25 09:07] prasadprabha commented on #691
I am also stuck at the same place. I could see the Authorization header in the chrome network console. however console.log of response does not show authorization header in getter function.

console.log("All headers :" + res.headers.keys()); prints only  pragma ,cache-control and expires.

[2018-09-25 09:09] prasadprabha commented on #691
inspecting res.headers at the browser console gives me what is shown below

headers: Map(3) {"pragma" => Array(1), "cache-control" => Array(1), "expires" => Array(1)}
lazyInit: null
lazyUpdate: null
normalizedNames: Map(3) {"pragma" => "pragma", "cache-control" => "cache-control", "expires" => "expires"}
__proto__: Object

[2018-09-25 12:15] yggg commented on #743
Hi @thomasreji. Which windows version do you use?
We checked on 7, 8, 10 and it looks almost fine on our side.
![image](https://user-images.githubusercontent.com/6151971/46013564-5fa4c100-c0d5-11e8-959b-11d81ca2720a.png)

[2018-09-25 12:31] traptz commented on #733
Yeah, I guess I figured it out trying...
found the solution in #1375 of ngx-admin project.
Thanks

[2018-09-25 12:58] nnixaa commented on #733
Glad to hear!

[2018-09-25 12:58] #733 closed

[2018-09-25 14:31] yggg commented on #741
Hi @PrabakarKaruppasamy. It's not clear how are you trying to change `MENU_ITEMS` from the code you posted. Could you please provide an example on [stackblitz](https://stackblitz.com/)?

Here is a small [example](https://stackblitz.com/edit/nebular-741?file=src%2Fapp%2Flayout.component.ts) of changing menu based on authentication state. Use any random email and password to log in.

[2018-09-25 16:37] prasadprabha opened #747 "ACL parent"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

In my ACL configuration (see below) , "guest" role has view permission for dashboard. However even though I logged in with "normal" role , I am not able to see the userMenu.

**Expected behavior:**
I must see the userMenu , if I logged in with role "

[2018-09-25 16:39] prasadprabha commented on #691
This issue has been resolved!!!!!. I added the following headers in the response.

 res.setHeader("Access-Control-Allow-Headers", "Authorization");
 res.setHeader("Access-Control-Expose-Headers", "Authorization");

[2018-09-25 17:12] nnixaa commented on #747
Hi @prasadprabha, could you post a complete example including the role provider?

[2018-09-26 01:05] travis1234 commented on #114
@nnixaa

[code]

[2018-09-26 08:39] alain-charles commented on #716
Hi @nnixaa
OK, i'll have a look at this in the next days.
No problem.

Alain

[2018-09-26 09:47] chris7716 commented on #695
@thom7kick could you plz provide me some more detailed explanation of the solution :/

[2018-09-26 12:20] prasadprabha commented on #747
Here is my custom role provider

@Injectable()
export class RoleProvider implements NbRoleProvider {

    constructor(private authService: NbAuthService) {
    }

    getRole(): Observable<string> {
      return this.authService.onTokenChange()
        .pipe(
          map((token: NbAuthJWTToken) => {
            let user : User = token.getPayload();
            let role : string = token.isValid()

[2018-09-26 16:30] #670 closed

[2018-09-26 16:38] Tibing commented on #426
Fixed By https://github.com/akveo/nebular/pull/724

[2018-09-26 16:38] #426 closed

[2018-09-27 08:58] Tibing opened #750 "Investigate convention over configuration approach"
- check ember
- check ror (guides)
DOD: create a vision in (terms in this issue) of POC, list of links

[2018-09-27 09:01] Tibing opened #751 "Convention over configuration POC"
As a result, we should have the menu that follows convention over configuration rules.

[2018-09-27 09:04] Tibing opened #752 "Investigate Template driven vs Code driven components"

[2018-09-27 09:06] yggg opened #753 "Investigate how components affect each other placed in layout/container"
Investigate components interaction such as: nesting, margins, sizes, direction.
- check other frameworks
- check best html approaches
DOD: terms in the issue, links

[2018-09-27 09:08] Tibing opened #754 "Create Convention over configuration"

[2018-09-27 09:12] nnixaa opened #755 "Investigate method for hostbinding/hostlistener approach"
Motivation: to decide which approach is best:
- in a component decorator
- in a property decorator

[2018-09-27 09:13] nnixaa opened #756 "Investigate backwards compatibility rules"
To decide.

[2018-09-27 09:14] nnixaa opened #757 "Investigate e2e test approach"
Motivations:
- e2e test execution takes eternity
- complex creation process

TODO:
- check if we need e2e
- check alternatives
- possibly - check some tools that help to simulate user actions easier (so that we don't need to use the dom api)
- what
DOD:
- an approach which is better than our current one)
- tests to remove
- tests to add
- tests to leave

[2018-09-27 09:16] nnixaa opened #758 "Investigate forChild/forRoot/providedIn and decide when and what should be used"

[2018-09-27 09:17] nnixaa opened #759 "Investigate global module configuration approach"

[2018-09-27 09:20] nnixaa opened #760 "Investigate naming"
- injectable tokens
- setters, getters
- inputs
- methods/properties naming
- directives inputs prefix
- playground examples naming
- observable naming

[2018-09-27 09:21] nnixaa opened #761 "Investigate RxJS usage convention"
- takeWhile approach
- to decide when to complete a stream
- what should be observable and what shouldn't

[2018-09-27 09:22] nnixaa opened #762 "Investigate components structure convention"
- files
- naming
- services, animations, etc
- one component per file?

[2018-09-27 09:23] nnixaa opened #763 "Investigate service vs container component approach"

[2018-09-27 09:24] nnixaa opened #764 "Injectable services vs helper functions approach"
- when and why

[2018-09-27 09:25] nnixaa opened #765 "Investigate linter & prettier"
- code style
- pre-push (no toods for example)

DOD: vision what to use and how/why

[2018-09-27 09:27] nnixaa opened #766 "Investigate what should be exported by modules, public_api approach"

[2018-09-27 09:41] nnixaa opened #767 "Form: investigate component list, component interaction, priorities"
As a result - simple spec for new Nebular forms.

[2018-09-27 09:43] nnixaa opened #768 "Grid: investigate grid approach (css or js - first)"

[2018-09-27 09:45] nnixaa opened #769 "Breadcrumbs: new component"

[2018-09-27 09:50] nnixaa opened #770 "Menu: new component"
https://github.com/akveo/nebular/issues/53
https://github.com/akveo/nebular/pull/33
https://github.com/akveo/nebular/issues/103
https://github.com/akveo/nebular/issues/68
https://github.com/akveo/nebular/issues/298
https://github.com/akveo/nebular/issues/228
https://github.com/akveo/nebular/issues/327
https://github.com/akveo/nebular/issues/474
https://github.com/akveo/nebular/issues/605
https://g

[2018-09-27 09:50] nnixaa opened #771 "Tabs: one component instead of two"

[2018-09-27 09:54] nnixaa opened #772 "Layout: separate visual component from Nebular root, Nebular root implementation"
- nb-layout should not be required
- it should be possible to assign nebular root to any selector (?)
- nb-layout should be just a style component
- theme.service refactoring

[2018-09-27 09:54] nnixaa opened #773 "Layout services scroll/ruller replace with Angular services"
because angular already has them

[2018-09-27 09:57] nnixaa opened #774 "Investigate components separation into smaller components (thin-lean approach)"

[2018-09-27 10:01] nnixaa opened #775 "nbSize, nbStatus (nbColor) directives"
- possibly replace status and size inputs with directives

[2018-09-27 10:05] nnixaa opened #776 "Autocomplete: new component"

[2018-09-27 10:05] nnixaa opened #777 "File upload: new component"

[2018-09-27 10:06] nnixaa opened #778 "[Toggle]: new component"

[2018-09-27 10:07] nnixaa opened #779 "Switch: new component"

[2018-09-27 10:07] nnixaa opened #780 "Slider (Range): new component"

[2018-09-27 10:10] nnixaa opened #781 "Tree: new component (tabular tree)"

[2018-09-27 10:12] nnixaa opened #782 "Dialog & Window: similar interface & implementation"

[2018-09-27 11:40] nnixaa opened #783 "Stepper: fix warning"
possible solutions:
- move to one file
- use custom injection token

[2018-09-27 11:43] nnixaa opened #784 "Collect all components/services requiring tests"
as a result - list of such components/services

[2018-09-27 11:48] nnixaa opened #785 "Investigate animations"
- where to put the animations
- who applies the animations
- default animation rules (when shown - animation 1, when hidden - animation 2)

[2018-09-27 11:51] nnixaa opened #786 "Fix dev build publish, fix dev docs publish"
- fix firebase upload
- publish nebular-dev to the main nebular npm registry

[2018-09-27 11:56] nnixaa opened #787 "Investigate testing automation (a11y, ssr, rtl, pics approach?)"

[2018-09-27 12:03] nnixaa opened #788 "Investigate schematics usage for build"
- docs example gen
- tests by inputs
- new component gen
	- styles
	- register in theme
	- in playground
- new theme
- interacative input

[2018-09-27 12:04] nnixaa opened #789 "Fix doc parser to be able to read TS types correctly"

[2018-09-27 12:05] nnixaa opened #790 "npm run docs:server watch components change"

[2018-09-27 12:06] nnixaa opened #791 "Playground modules generation"
- remove current playground module
- generate module & route per playground component (folder)
- default module with custom imports and routes
- excludes
- update dev docs

[2018-09-27 12:08] nnixaa opened #792 "Build and tools description into dev_docs"

[2018-09-27 12:10] nnixaa opened #793 "Collect internal docs into a folder"

[2018-09-27 12:12] nnixaa opened #794 "Investigate A11Y for components efforts and approach"
- collect info and requirements per component

[2018-09-27 12:15] nnixaa opened #795 "Investigate universal approach, efforts and market"

[2018-09-27 12:19] nnixaa opened #796 "Should be possible to assign custom icons"

[2018-09-27 12:20] nnixaa opened #797 "Investigate mobile events"

[2018-09-27 12:22] nnixaa opened #798 "Investigate responsiveness approach and check existing components"
- should a component define its responsive styles?

[2018-09-27 12:23] nnixaa opened #799 "Create tasks per code TODOs"
and stop creating toods with no reference to a task

[2018-09-27 12:27] nnixaa opened #800 "Investigate most useful strategies"

[2018-09-27 12:29] nnixaa opened #801 "Investigate possible theme system improvements"
DOD: comparison table

[2018-09-27 12:34] nnixaa opened #802 "Global styles for html tags (b, p, h, etc)"

[2018-09-27 12:39] nnixaa opened #803 "Investigate github bot and PR checklist automation"

[2018-09-27 12:42] nnixaa opened #804 "Investigate how to improve docs articles quality"

[2018-09-27 12:43] nnixaa opened #805 "Investigate i18n approach"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-27 12:47] nnixaa opened #806 "Investigate Default Layouts"
DOD: list of layouts

[2018-09-27 12:52] #636 closed

[2018-09-27 12:53] #421 closed

[2018-09-27 12:54] nnixaa commented on #256
Duplicate of #772

[2018-09-27 12:54] #256 closed

[2018-09-27 13:57] nnixaa opened #808 "Clean up bootstrap styles as per new version"
we have .btn-[xs|sm|md|lg|xl], when bootstrap only sm|lg (md by default)

[2018-09-27 13:59] nnixaa commented on #744
Fixed

[2018-09-27 13:59] #744 closed

[2018-09-27 14:14] nnixaa opened #809 "Drag & Drop dashboard with resizable widgets POC"
- widget concept
- ability to add a widget
- widget order
- widget size
- widget position

[2018-09-27 15:35] #676 closed

[2018-09-27 15:44] nnixaa opened #810 "Docs: scroll and TOC sync and lags"

[2018-09-27 15:45] arabbani commented on #739
Is it working now!!

[2018-09-27 15:53] #709 closed

[2018-09-27 15:53] nnixaa commented on #709
Fixed.

[2018-09-27 15:53] #535 closed

[2018-09-27 15:54] #214 closed

[2018-09-27 15:55] nnixaa opened #811 "Docs: ability to insert runnable examples into plain .MD files"

[2018-09-27 16:35] denStrigo opened #812 "normalize.css dependency"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

sass-loader can't resolve path for normalize.css in internal project, when use nebular/theme package, need install normalize.css as a dependency

`ERROR in ./src/path/styles.scss (./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!

[2018-09-28 03:14] chris7716 commented on #744
How could I find the solution plz

[2018-09-28 08:35] yggg opened #814 "How to link mailto to the nb-action in the header?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [] feature request

### Issue description

Original akveo/ngx-admin#1859

[2018-09-28 09:47] nnixaa opened #815 "Badge: move to directive"
Currently nb-badge is included in a number of components, such as actions but we most likely need to have it separately since these components need to duplicate badge API.

[2018-09-28 09:50] nnixaa opened #816 "Docs Chinese localization"

[2018-09-28 09:51] nnixaa opened #817 "Docs add a note about possible paid support"

[2018-09-28 12:10] Tibing opened #822 "Refactor repository structure"
For now, our repository doesn't follow angular monorepo approach. It looks like all stuff in the repo belongs to the app project. I think we have to rework the structure of the repository and maybe follow angular cli monorepo approach.

[2018-09-28 12:18] nnixaa opened #823 "Update analytics code"

[2018-09-28 13:32] drchaks83 opened #825 "I am using nebular 2.0.0-rc.3 and like to upgrade it to 2.0.0-rc.10, is there any link that explains the steps to be followed"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-28 13:55] #812 closed

[2018-09-28 16:34] nnixaa opened #827 "Calendar: use native Nebular button"

[2018-09-28 16:36] nnixaa opened #828 "Calendar: make header optional"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-28 16:36] nnixaa opened #829 "Docs: separate calendars into pages"

[2018-09-28 18:05] yggg commented on #739
Hi @arabbani. The issue should be gone now. Before the next release, you can try to download nebular sources from GitHub and [link](https://docs.npmjs.com/cli/link) it, to verify that issue if fixed.

[2018-09-28 19:19] arabbani commented on #739
Will do @yggg . When i expect the next version

[2018-09-28 20:57] EmanuelCavalcante opened #831 "Hey, i have a quest"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-09-28 20:57] #831 closed

[2018-09-29 14:01] enriqueflavio opened #833 "Incorrect document for installation of styles"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

In the documentation it is explained to put the styles files in the file angular.json, but that does not work, it says that it is not possible to find the module.
I was able to resolve this problem by importing the files into the style.css or style

[2018-09-29 17:39] stubbsy345 opened #834 "How can you adapt the styles of nebular components?"
I have been trying to adapt the styling of various components without any luck. There are two things I have been trying to do without success. 1) adapt the card-body background color to transparent. 2) adapt the position of a popover (i don't want it to appear exactly in the middle when in 'top' position).

I have tried to create classes and ID's for this but when I place keys for the classes in t

[2018-09-29 17:45] stubbsy345 commented on #705
Can be deleted! Was missing scss values from @theme file in new ui.

[2018-09-29 17:45] #705 closed

[2018-09-29 19:39] arabbani opened #835 "Angular 6 library compile error: Directive NbContextMenuDirective, Expected 0 arguments, but got 1"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
**I'm using upto date master branch of nebular.**

Can't compile angular 6 library using NbContextMenuDirective got the error :
projects/demo/src/lib/demo.component.ts.DemoComponent.html(4,7): : Directive NbContextMenuDirective, Expected 0 arguments,

[2018-09-29 19:57] arabbani commented on #739
The error still exist.
![ggggggggggggggggggggggg](https://user-images.githubusercontent.com/13854024/46249977-f9f76280-c44f-11e8-9d81-fceeac28a923.JPG)

[2018-09-30 14:41] noamvaza commented on #398
The Auth messages and errors are hard coded in the source code.
Anyone manages to translate them?
For example: Lines 51-52, 63-64 in this file
https://github.com/akveo/nebular/blob/master/src/framework/auth/strategies/password/password-strategy-options.ts

Do you plan to export the hard coded text lines of the Auth to an option in the settings const? so there will be an option to change it?

[2018-09-30 16:05] nnixaa commented on #635
@arabbani next week!

[2018-09-30 16:05] nnixaa commented on #835
Closing as a duplicated of https://github.com/akveo/nebular/issues/635

[2018-09-30 16:05] #835 closed

[2018-09-30 21:44] stubbsy345 opened #836 "When ngFor used within accordion body accordion does not resize appropriately."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
When ngFor is used within an accordion body, the body does not resize appropriately when toggled. The body only seems to resize to static content.

**Steps to reproduce:**

**Related code:**
[code]

**Angular, Nebular**
[code]

[2018-09-30 23:48] stubbsy345 commented on #836
Problem solved by changing component implementation for `NbAccordionItemBodyComponent` to `AfterViewInit` rather than `OnInIt`.

[2018-10-01 07:50] nnixaa commented on #739
Hi @arabbani, have you npm linked the package?

[2018-10-01 12:42] Karin001 opened #840 "nb-menu may have a property to change the toggle speed"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
nb-menu: hope  there will be a property  to customize the toggle speed of  submenu
**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-10-01 13:11] prasadprabha commented on #747
This is sorted out. As per the nebular configuration NgSecurity Module configuration must be done in app.module.ts . However this since I was using ngx-admin, this has already been done in Coremodule.ts. which I was not aware of. So there was a conflict between these two.

[2018-10-01 13:53] arabbani commented on #739
Yes

[2018-10-01 13:55] arabbani commented on #835
But the error is not fixed in master branch. I've tested with with master branch

[2018-10-01 14:09] #829 closed

[2018-10-01 14:16] nnixaa commented on #747
Ah I see! Glad it worked out.

[2018-10-01 14:16] #747 closed

[2018-10-01 14:18] nnixaa commented on #398
Hi @noamvaza, you can provide this messages through the Strategy configuration.

[2018-10-01 15:23] nnixaa opened #844 "remove @nebular/bootstrap from release:bump of auth"

[2018-10-01 18:35] noamvaza commented on #398
@nnixaa Thanks, It works. Sorry

[2018-10-02 06:11] prasadprabha commented on #691
First of all isValid  and getPayload are methods  not variables. So you should access it with token.isValid() and token.getPayload(). Also you need to pass the payload from backend with the same structure as to that of user.

[2018-10-02 08:28] Tibing opened #848 "Refactor overlays after @angular/cdk@7.0.0 relase"
We've added some workarounds in current overlays implementation because of incorrect implementation of cdk overlays. They don't provide the capability to provide component factory resolver into the portal, so we don't have the capability to render components in lazily loaded modules through services provided in the application root.

[2018-10-02 12:38] nnixaa opened #851 "Sidebar: toggle method interface is not good"
[code]

[2018-10-02 13:03] malikfaizanhaider opened #852 "StaticInjectorError(Platform: core)[NbLayoutHeaderComponent -> NbLayoutComponent]:"
[code]

[2018-10-02 13:13] Ballpin commented on #407
I found a solution for this.

1. Move source to [Angular Universal](https://angular.io/guide/universal)
2. Follow @AnthonyNahas instructions in [https://github.com/SebastianM/angular-google-maps/issues/1052](https://github.com/SebastianM/angular-google-maps/issues/1052) for each plugin thats complaining about "Unexpected import".
3. Use Domino if you need to. Normally is not suppose to be used bec

[2018-10-02 13:48] algirdasc commented on #852
Import NbLayoutModule in your NgModule.

[2018-10-02 13:56] algirdasc opened #853 "ERROR TypeError: Cannot read property 'appendChild' of undefined"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

I'm getting error when trying to create modal window from lazily loaded module:
ERROR TypeError: Cannot read property 'appendChild' of undefined

**Expected behavior:**

Modal window appears, no errors.

**Steps to reproduce:**

1. Create lazily load

[2018-10-02 14:11] algirdasc commented on #853
Wrapping child module in <nb-layout><router-outlet></router-outlet></nb-layout> prevents error, but modal window is not visible.

[2018-10-02 14:28] Tibing commented on #852
Hi @malikfaizanhaider, could you please provide a reproducible example?

[2018-10-02 14:41] Tibing commented on #853
Hi @algirdasc, could you please explain your issue slightly deeper? We want to understand it.

[2018-10-02 17:10] nnixaa opened #854 "Fix playground/docs and forRoot issues"

[2018-10-02 17:11] nnixaa opened #855 "Update publish script so that we don't need to list of modules in package.json"

[2018-10-02 18:18] osrepository opened #856 "Updating Nebular to 2.0.0 error at compiling"
### Compiling error

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
After updating to the new versión (2.0.0) and running the "ng serve" command, I get the next error:

ERROR in ./node_modules/@nebular/theme/styles/prebuilt/default.css (./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node

[2018-10-02 18:52] tomadj commented on #856
Hello !

Same problem.
To fix this,  install @angular/cdk :

`npm install --save @angular/cdk`

It's normal ? Material is now required ?

Thank's

[2018-10-02 19:03] osrepository commented on #856
I have @angular/cdk installed.
I guess the error comes in the URL '/Users/nixa/Development/Projects/Akveo/nebular/node_modules/@angular/cdk/overlay-prebuilt.css'
Is pointing to a nixa local directory or maybe I'm wrong, I don't really know.

[2018-10-02 19:09] nnixaa commented on #856
Hey Guys, yes, since 2.0 Nebular requires Angular CDK (Component Development Kit) which is not Material per se (even though CDK is hoster on material website), and just a bunch of useful helpers to build better components 🙂 (here are some more details https://material.angular.io/cdk/categories).
For more details on the upgrade steps and breaking changes please follow the [CHANGELOG](https://github

[2018-10-02 21:13] benmizrahi commented on #856
same here

[2018-10-02 21:36] benmizrahi commented on #856
Hi,

Please take a look at the cosmic.css, default.css, corporate.css filesL
@import url(/Users/nixa/Development/Projects/Akveo/nebular/node_modules/@angular/cdk/overlay-prebuilt.css);

I think that it's an hard coded in the scss file but i can't find where.

Anyway removing this import solved the build issue

[2018-10-03 06:44] #856 closed

[2018-10-03 09:46] #855 closed

[2018-10-03 10:37] nnixaa commented on #856
2.0.1 is released with a fix for this issue.

[2018-10-03 18:09] algirdasc opened #862 "Disabled & unchecked checkbox rendered as checked"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Disabled and unchecked checkbox rendered as checked

**Expected behavior:**

Disabled and unchecked checkbox rendered as unchecked

**Steps to reproduce:**

1. Create nb-checkbox element
2. Set [disabled]="true"

OR

Example:
https://akveo.github.io/

[2018-10-04 09:11] nnixaa commented on #836
Hi @stubbsy345, no, unfortunately, but we hopefully will be able to make it in upcoming releases.

[2018-10-05 16:48] minextu opened #865 "NbToastrService: Notifications can't be closed in Firefox and Internet Explorer"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Notifications created using NbToastrService won't hide in Firefox and Internet Explorer 11.
It's working fine in Chrome.

**Expected behavior:**

The notification closes when you click on it or the timeout expires.

**Steps to reproduce:**

Show a no

[2018-10-07 21:11] jjgriff93 opened #866 "NbContextMenu - not sure how to trigger methods on click of a menu item"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**
At the moment, it's unclear how to easily add actions to a click of a menu item using the `nbContextMenu` component.

There is some info in the documentation about adding an event listener and using pipe to get which item was clicked, however apart fr

[2018-10-08 00:25] jjgriff93 opened #867 "NbAuth - how to configure full user sign out on OAuth strategy"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description

**Current behaviour:**
I've implemented an oauth2-based authentication strategy using Nebular auth, however I'm struggling to get logout configured properly.

In the documentation I can see info on the `authService.logout()` method, which I've set up to be triggered when t

[2018-10-08 00:50] adamo-fig opened #868 "problem with buttons disabled"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Using the new directive for buttons, when I disabled using property binding, the event click can be activated. is this a knowing bug?

        <button nbButton [disabled]="isDisabled" (click)="testDisabled()">Click Me</button>

buttons with bootstra

[2018-10-08 09:00] Tibing opened #869 "Write frameworks comparison article"

[2018-10-08 09:11] nnixaa commented on #867
Hi @jjgriff93, thanks for opening the issue. I guess we should add this as an option for all providers.

[2018-10-08 09:27] nnixaa commented on #866
Hi @jjgriff93, currently there is no built-in way, but a menu item accepts an option called `data`, so that you can pass any info into it. So you can pass there som `id` and then check which item is clicked based on that id:

[code]

[code]

[2018-10-08 09:45] malikfaizanhaider commented on #852
I've just trying to update nebular in my existing project. but facing this issue.

[2018-10-08 11:38] pserafin opened #870 "nb-chat component is missing localization"
### Issue type: Bug/feature

* [x] bug report
* [x] feature request

### Issue description

**Current behavior:**
No-messages info. message is hardcoded (**No messages yet.**) in component template and cannot be easly translated.
`<p class="no-messages" *ngIf="!messages?.length">No messages yet.</p>`

Same for message input placeholder (**Type a message**) in nb-chat-form component
`<input type="t

[2018-10-08 12:54] jjgriff93 commented on #866
HI @nnixaa - okay cool, would be great to see a built in way in the future. Thanks very much for the code snippet, that's worked a treat :)

[2018-10-08 12:57] jjgriff93 commented on #867
Hey @nnixaa , that would be a great addition :) it just needs to be flexible enough to support many different auth providers' ways of invalidating a user token and redirecting - if there's anything I can help with let me know!

[2018-10-08 14:13] jjgriff93 opened #872 "NbAuth - how to handle OAuth2 provider error callback"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**
Me again :) I have Azure AD B2C set up and mostly working well as the auth provider - one thing I can't see how to configure in Nebular auth is how to handle an error callback gracefully. If a user clicks cancel in Azure AD B2C's log in section, it wi

[2018-10-08 14:20] nnixaa opened #873 "Card preview (pre-load) component/directive"
![image](https://user-images.githubusercontent.com/230527/46614397-6cd29e80-cb1e-11e8-8cfd-07b228229592.png)

[2018-10-08 22:29] denisobrienirl opened #875 "NbMenuItem is not applied 'active' styles if fragments are used in URL"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report

### Issue description

**Current behavior:**
It appears that 'active' state is set to the first NbMenuItem if the URL contains a fragment - #something. My understanding is that 'pathMatch' property is setting the first matching NbMenuItem in the menu as 'selected' on every URL change, so no matter what you chose in t

[2018-10-09 08:05] nnixaa commented on #866
Great! Closing it then as a duplicate of #624 (request to add an `id` property to handle the item properly).

[2018-10-09 08:05] #866 closed

[2018-10-09 08:08] nnixaa commented on #872
Hi @jjgriff93, is there any errors in the console after the redirect? It sounds like there should be some :)

[2018-10-09 08:37] nnixaa commented on #404
Since we released the updated documentation (https://akveo.github.io/nebular/docs/auth/custom-auth-components) I guess we are good to close this one.

[2018-10-09 08:37] #404 closed

[2018-10-09 08:37] #567 closed

[2018-10-09 09:01] #637 closed

[2018-10-09 11:31] ESadouski opened #876 "NbAuthStrategy: setOptions replace config with default value"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
NbAuthStrategyOptions replaced by the default config

**Expected behavior:**
NbAuthStrategyOptions should be merged with already passed options

**Steps to reproduce:**

1. Configure NbAuthModule with auth options
2. Add some property during runtime

[2018-10-09 14:51] sokolandia opened #877 "Invalid nb-select behavior"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
 Clicking nb-select inside a form submits a form.

**Expected behavior:**
Button inside nb-select component should have type attribute "button"

**Steps to reproduce:**
 Click select

**Related code:**

[code]

### Other information:

**Angular, Nebu

[2018-10-09 17:51] fabioloreggian commented on #673
How would you like to use the debounce property?

My thought would be a `@Input() debounce: number;`
where this would be the debounce rate in milliseconds?

I am trying my hand at contributing to awesome angular projects and I really fancy nebular and ngx-admin.

[2018-10-09 23:50] Prokksi commented on #836
Hi, the solution provided does work when doing a ng serve but not when using --prod or --aot, because the `ngOnInit` function is then missing (which results in an error) and the `ngAfterViewInit` Function seems never to be called (and the accordion-item-body has no height). Do you have an idea to solve the problem?

[2018-10-10 09:44] ilDon opened #878 "nb-info icon not displayed in v. 1.1.0"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**

`nb-info` icon is not displayed. `<i class="nb-info"></i>` only renders a white space

When testing another icon (e.g. `<i class="nb-locked"></i>`) it is correctly displayed

**Expected behavior:**

The icon should be displayed

**Steps to reproduce:

[2018-10-10 10:55] ilDon opened #879 "Is it possible to open a dialog from a service?"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**

I would like to open a dialog from a service, is it possible?

**Expected behavior:**

Open a dialog from a Service

Currently if I try to do it I get this error: `Cannot read property 'appendChild' of undefined ; Zone: <root> ; Task: Promise.then ; Value: TypeError: Cann

[2018-10-10 11:11] lukele1607 opened #880 "Error nbSpinner Keep loading !!!"
### Issue description
Hi everyone,
I use nbSpinner in parent-component:
<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="success">
.................
<child-component>
                      ..................
                        (notify)="onChartNotify($event)">
                    </child-component>
</nb-card>

In child-component.ts notify EventEmitter will return a boolean value:
...........

[2018-10-10 12:32] sokolandia opened #881 "Invalid typings for nb-select"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
To clear previously selected value of nb-select we have to call `handleSelect` method with `{value: null}`. However it is not possible because the method is marked as `protected` and the parameter it expects is `NbOptionComponent<T>` which doesn't al

[2018-10-10 16:08] pdomala opened #883 "How to add right aligned down-arrow icon to multilevel nb-menu"
Can you please help me customize the nb-menu to add down arrow to the menu item group?

[2018-10-11 02:49] lukele1607 commented on #880
this problem is the  View will not update after variable change. I fixed:
- invoking change detection manually:
import {ChangeDetectorRef} from '@angular/core'
constructor(private ref: ChangeDetectorRef){}
................
onChartNotify(message: boolean): void {
this.isLoading = message;
this.ref.detectChanges();
}

[2018-10-11 02:50] #880 closed

[2018-10-11 09:43] mushu8 commented on #149
Hi @nnixaa,
i've had a look at the configuring-ui documentation but cannot so much informations about customizing the login with a username instead of an email.
I've found :
`export const defaultSettings: any = {
  forms: {
    login: {
      redirectDelay: 500, // delay before redirect after a successful login, while success message is shown to the user
      strategy: 'email',  // strategy id ke

[2018-10-11 12:38] lexzhukov commented on #727
Hello @cj-wang, I can't reproduce this bug, but it will be great if you will create a reproducible example on stackblitz.

[2018-10-11 13:15] #844 closed

[2018-10-11 13:15] #195 closed

[2018-10-11 13:15] #862 closed

[2018-10-11 13:15] #743 closed

[2018-10-11 13:15] #827 closed

[2018-10-11 13:16] #809 closed

[2018-10-11 13:17] nnixaa opened #884 "Fix webstorm issues considering tsconfig paths"
Plus fix incorrect imports

[2018-10-11 13:18] #854 closed

[2018-10-11 13:51] #753 closed

[2018-10-11 15:44] nnixaa opened #885 "Modified & COC POC"

[2018-10-11 15:46] nnixaa opened #886 "Configure linters, custom rules for imports, etc"

[2018-10-11 15:46] #765 closed

[2018-10-11 15:46] #750 closed

[2018-10-11 15:47] #869 closed

[2018-10-11 15:57] nnixaa opened #887 "Init schematic"
- schematic
	- add css to angular.json
	- install module
	- register NbThemeModule
- update docs
- test

[2018-10-11 15:58] yggg opened #888 "CSS Custom Properties theming poc"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-10-11 15:58] Tibing opened #889 "Add default value for NbThemeModule.forRoot param"

[2018-10-11 15:59] Tibing opened #890 "Choose another agile board"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-10-11 19:44] #367 closed

[2018-10-12 03:36] cj-wang commented on #727
Thanks @lexzhukov. Turns out this has been fixed since 2.0.0-rc.10.  Should have checked the new versions first as my project started from ngx-admin starter-kit branch, still with rc9,

[2018-10-12 03:51] cj-wang commented on #727
Closing this issue.
Thanks @nnixaa , @lexzhukov.

[2018-10-12 03:51] #727 closed

[2018-10-12 07:27] nnixaa opened #891 "Investigate Nebular build -> Angular Packagr migration"

[2018-10-12 08:02] nnixaa opened #892 "Investigate how to better render MD to Angular"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-10-12 08:10] nnixaa opened #893 "Support"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-10-12 08:12] nnixaa opened #894 "CDK article"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-10-12 09:36] jjgriff93 commented on #872
Hey @nnixaa I thought there would be too, but there's no errors to be found:
![image](https://user-images.githubusercontent.com/25235950/46861435-9d5e5500-ce0a-11e8-9a98-7d059cb789e5.png)

[2018-10-12 11:01] #868 closed

[2018-10-12 13:30] denStrigo opened #900 "Popover directive, hover mode"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
An error occurs in the console and popover not showing.

**Expected behavior:**
Popover should  work

**Steps to reproduce:**
In hover mode, move cursor on the popover several time, an error appears in the console.

**Related code:**

[code]

### Othe

[2018-10-12 15:17] #889 closed

[2018-10-13 02:38] applicationuser commented on #691
Thank you @prasadprabha

created user class with structure similar to payload from the backend.  not able to get user from the payload.

this.authService.onTokenChange().subscribe(
          (token:NbAuthJWTToken) =>{
            if(token.isValid()) {
              this.user = token.getPayload();
              console.log(token);
              console.log(token.getPayload());
              console

[2018-10-14 05:19] ChristianVega5421 opened #902 "Disable step click and just work with prev and next buttons"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x ] feature request

### Issue description

**Current behavior:**
Hello, i was wondering if there is a way to disable the click on the stepper steps and just change between steps with the buttons "prev" or next.

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**n

[2018-10-14 06:29] prasadprabha commented on #691
Are you passing payload from backend. In what language is your backend code  written. For example in Java , we can create jwt tokens with the libray given below (maven dependency)
<dependency>
 		<groupId>io.jsonwebtoken</groupId>
    		<artifactId>jjwt</artifactId>
    		<version>0.7.0</version>
</dependency>

and we can pass the payload by

	ApplicationUser loggedInUser = new ApplicationUser();

[2018-10-14 21:01] dj-fiorex commented on #877
I have the same issue! Is this a bug?

[2018-10-15 03:51] ahall-medullan opened #903 "NbAuthService.register(...) attempts to set a token from result on success"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
AuthService register method tries to set a token on success even though it is not an authentication mechanism. There is no way to prevent the register method from attempting to set a token.

**Expected behavior:**
The register method should not try to

[2018-10-15 07:43] ilDon commented on #879
Hi @algirdasc, I'm not sure I understood your question.

What I'm trying to do is this:

Template

    <button (click)="doStuff()">Do something</button>

Component

    constructor(
      private myService: MyServiceService,
      private viewContainerRef: ViewContainerRef
    ){}

    doStuff(): void {
      this.myService.openDialog(this.viewContainerRef);
    }

MyServiceService

    export cla

[2018-10-15 10:17] #836 closed

[2018-10-15 10:19] nnixaa commented on #872
Hey @jjgriff93, do you think you could post the code of `AuthErrorComponent`? Especially the template part.

[2018-10-15 11:46] lexzhukov commented on #725
Hello @ilDon.
I can't reproduce this issue. Could you create a working example on stackblitz?
Thanks!

[2018-10-15 14:58] lexzhukov commented on #630
The issue is not reproducing on the Nebular release version.

[2018-10-15 15:52] nnixaa opened #907 "Click trigger memory leak"
we need to unsubscribe from the `click` subscription of the trigger

[2018-10-15 18:02] tanzeelrana commented on #545
Login form does not show when I navigate to http://localhost:4200/#/auth/login

[2018-10-15 20:21] tanzeelrana commented on #623
is there a way to add custom headers to my requests ?

[2018-10-15 20:34] imdfl opened #910 "Starter kit does not compile"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

The starter kit does not compile.

**Expected behavior:**
following npm install and further installation of @angular/cdk (missing from package.json), ng serve will complete successfully and the app will be served.

**Steps to reproduce:**

1. clone h

[2018-10-16 13:21] yggg opened #913 "[Sidebar] height in search mode"
**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
https://github.com/akveo/ngx-admin/issues/1854

**Related code:**
https://github.com/akveo/nebular/blob/a25f6152d3b7d1017b951cf5d3b2c311ee537cd9/src/framework/theme/components/layout/_layout.component.theme.scss#L147

[2018-10-16 16:12] nnixaa opened #914 "onMediaQueryChange could have a debounce"
https://github.com/akveo/nebular/blob/master/src/framework/theme/services/theme.service.ts#L73
So that we don't do a lot of calculations while dragging the window

[2018-10-16 16:38] #562 closed

[2018-10-16 16:56] #615 closed

[2018-10-16 18:08] Prefix1802 commented on #623
My implementation

auth.interceptor.ts.

import { Injectable } from '@angular/core';
import {
    HttpRequest,
    HttpHandler,
    HttpEvent,
    HttpInterceptor
} from '@angular/common/http';
import { AuthService } from '../services/auth.service';
import { Observable } from 'rxjs/Observable';

@Injectable()
export class AuthInterceptor implements HttpInterceptor {

    constructor(public auth: A

[2018-10-16 18:55] jjgriff93 commented on #872
Hi @nnixaa sure thing:

auth-error.component.ts
[code]

auth-error.component.html
[code]

 Thanks for your help

[2018-10-16 20:50] Plorax commented on #910
Having the exact same issue. Somehow got round it but forgot how, busy trying something and will report back what I tried and if it worked.

[2018-10-16 21:46] Plorax commented on #910
Seems to be missing files. Have you tried to find any of them when it says its missing or unreadable ?

I've found that my files are actually not there so the error message is correct in my case.

I believe that the starter-kit branch has missing files and you need to bring them over from the ngx-admin v2.0.3 tagged branch.

[2018-10-16 21:50] Plorax commented on #910
Looking at the nebular change-log, they've moved things around a bit

https://github.com/akveo/nebular/blob/master/CHANGELOG.md

The starter-kit is out of date.
@akveo-private

[2018-10-16 22:04] Plorax commented on #910
I've manually updated my starter-kit to fix the issue. Just head over to the CHANGELOG and you should be easily surprised how easy it really is.

Its pretty crazy sometimes, working on the cutting-edge with latest updates.

But, I'd rather be doing that and constantly update my code-base than to update a few months later or years later.

[2018-10-17 01:58] Hyperonic commented on #742
Hi @nnixaa, I've cloned it for learning purpose as Im indirectly using it through ngx-admin

[2018-10-17 11:05] msohaib308 opened #915 "Authorization Problem (Always Successful Login)"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [x] feature request

### NbAuthModule.forRoot({
      strategies: [
        NbPasswordAuthStrategy.setup({
          name: 'auth',

          token: {
            class: NbAuthJWTToken,

            key: 'token',
          },

          baseEndpoint: '/api/',
           login: {
            alwaysFail: false,
             endpoint: 'Logi

[2018-10-17 14:43] #716 closed

[2018-10-17 15:02] Batarian711 opened #918 "Logo proposal"
I like open source projects. I'm a logo designer. I can design it for you. What do you say ? Tell me if you have an opinion.

[2018-10-17 15:17] #907 closed

[2018-10-18 03:52] alessandrojcm commented on #853
I'm also having this error, in my case the dialog opens fine the first time but, after it closes, every other interaction with the page raises this error. Could you please elaborate on your solution?

[2018-10-18 06:15] Tibing commented on #853
Hi @alessandrojcm, Could you please provide [stackblitz](http://stackblitz.com) reproducing the issue?

[2018-10-18 08:16] imdfl commented on #910
@Plorax , thanks heaps. The changelog contained all the necessary steps to make the starter kit compile.

[2018-10-18 08:16] #910 closed

[2018-10-18 11:40] diegoalex commented on #836
Hi Guys,
I did a workaround to fix my code until we have a new version released.

I'm using just this peace of scss in the component I have the accordion.

``
/deep/ nb-accordion-item.expanded nb-accordion-item-body {
    .ng-trigger-accordionItemBody {
      height: auto !important;
    }
  }
``

I hope it will help u guys too ;)

[2018-10-18 13:52] stubbsy345 opened #921 "nb-chat scroll bar rescrolls to the bottom of the container whenever view is updated."
**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description
I am using the nb-chat component with a component adjacent to it containing a counter. Every time the counter updates the nb-chat scroll automatically scrolls to the bottom. I have not managed to come up with a work around as of yet, however, have not had a chance to have a proper look at

[2018-10-18 19:37] alessandrojcm commented on #853
Hey @Tibing, I'm trying to; but this error raises when trying to configure the `NbDialogModule`:

[code]

[2018-10-19 19:07] stubbsy345 opened #922 "Getting Cannot read property 'call' of undefined when building in production mode"
**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

Getting the following error when trying to deploy in --prod mode:

[code]

Have spent a lot of time trying to find a solution but nothing appears to work. Currently on 2.0.0rc10. Was wondering if this was an issue you had encountered before. Only happens in --prod build.

[2018-10-19 23:34] #852 closed

[2018-10-20 05:41] websplee opened #923 "File to configure NbPasswordAuthStrategy setup from"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question

### Issue description

**Current behavior:**

Guys, is there a straightforward documented approach to getting started with Auth.

I mean I have spent hours just trying to figure out where to configure the "strategy" from. Which file do I edit. I mean it will be much easier for new

[2018-10-21 14:00] jagabs opened #924 "Cant pass data to dialog"
![screen shot 2018-10-21 at 9 59 56 pm](https://user-images.githubusercontent.com/17292042/47267926-b25e8500-d57c-11e8-9914-9cd03429fcf8.png)

	@Input() title: any;

  constructor(protected ref: NbDialogRef<any>) {
  }

  dismiss() {
    this.ref.close();
  }

[2018-10-21 19:54] le0dime commented on #836
Saved my day. Thanks bud

[2018-10-22 01:51] tcbuzor opened #925 "nb-datepicker with NbMomentDateModule not working"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
nb-datepicker with NbMomentDateModule not working
**Current behavior:**

I added nb-datepicker to the html page and also added NbMomentDateModule but when the page loads , I get an exception in the console.

<input class="form-control" nbInput placeholder="Birth Date" [nbDa

[2018-10-22 01:52] tcbuzor opened #926 "nb-datepicker with NbMomentDateModule not working"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
nb-datepicker with NbMomentDateModule not working
**Current behavior:**

I added nb-datepicker to the html page and also added NbMomentDateModule but when the page loads , I get an exception in the console.

<input class="form-control" nbInput placeholder="Birth Date" [nbDa

[2018-10-22 04:59] nicco88 opened #927 "Set nbSpinnerMessage to be dynamic"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] feature request

### Issue description

**Current behavior:**

Data in `nbSpinnerMessage` currently is set statically.

**Expected behavior:**

Expected to set `nbSpinnerMessage`'s data dynamically, such as in `nbSpinner`.

[2018-10-22 09:14] Tibing opened #928 "Update to Angular 7"

[2018-10-22 09:16] algirdasc commented on #879
Sorry, what I meant was, did you wrapped your router-outlet in nb-layout? I had similiar problem, but solved by doing this in my template:
[code]

[2018-10-22 09:18] algirdasc commented on #853
I was unable to open dialog window in lazily loaded module. But then I wrapped my module router-outlet in nb-layout, and this seems fixed error:

[code]

[2018-10-22 11:25] Tibing opened #930 "Bump Angular major version"

[2018-10-22 16:44] alessandrojcm commented on #853
Mmm... I did that, and the exception is still raising. Where do you exactly add the directive?

[2018-10-22 17:01] alessandrojcm commented on #853
Mmmm... I did that and it still doesn't work.

En 22 de octubre de 2018 6:02 AM, en 6:02 AM, "Algirdas Č." <notifications@github.com> escribió:

[2018-10-22 21:16] 100hz opened #931 "NbSelectComponent doesn't detect changes on options"
Hey Akveo, really love the Nebular project and the themes, using it in my project.

There seems to be a Bug in the NbSelectComponent, while changing the option content children.

**Current Behaviour:**
Works as expected when creating options in a nFor at the first time. Option elements cannot be selected, when the option list changes.

**Expected Behaviour:**
Option elements can be selected when t

[2018-10-23 02:53] tcbuzor commented on #925
closing duplicate issue

[2018-10-23 02:53] #925 closed

[2018-10-23 11:40] #930 closed

[2018-10-23 11:56] #561 closed

[2018-10-23 11:57] #631 closed

[2018-10-23 13:08] Platiplus opened #933 "Auth refresh token, not being passed?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Can't find the token on the request using the refresh token method. On my API, I call
``` console.log(request); ```
and I cant't find the token anywhere.

**Expected behavior:**
Check if user is authenticated on auth guards and if it is, pass the curr

[2018-10-23 14:28] Platiplus commented on #933
I found the problem on the code in the auth.service.js on @nebular auth service.
I've created a pull request, but it's my first time doing so, any help would be appreciated.

@nnixaa fixed this problem with [#935](https://github.com/akveo/nebular/pull/935), can you lend me a hand?

[2018-10-23 16:44] nazarma opened #936 "NbAccordion expends on incorrect size"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I am trying to use **NbAccordionComponent**. nb-accordion-item-body cannot expend on a correct size if data is coming from Angular binding variable. If data is hardcoded in HTML everything is fine.

**Expected behavior:**
<nb-accordion-item-body> sho

[2018-10-23 19:59] nnixaa commented on #872
@jjgriff93, I believe your component template is missing `<nb-layout>` components, which is a required component for Nebular to work. Just wrap it like this:
[code]

[2018-10-24 00:07] alessandrojcm commented on #853
@Tibing I've updated the Stackblitz, but it now throws a different error. Maybe I'm not configuring Nebular well?

[2018-10-24 09:05] Tibing commented on #853
Hi @alessandrojcm, I've checked your stackblitz and here what I found:

- You don't have to add these providers to `AppModule`
[code]
`NbThemeModule` and `NbDialogModule` register their providers via `forRoot` call.

- Regarding the [documentation](https://github.com/akveo/nebular#installation) you have to import `RouterModule.forRoot([ ... ])` in `AppModule`.

- Regarding the [documentation](http

[2018-10-24 09:05] #853 closed

[2018-10-24 10:10] jjgriff93 commented on #872
@nnixaa thanks Dmitry that's done the trick :) for some reason I assumed it was inherited from the nebular auth component html but I was wrong!

Thanks again for your help

[2018-10-24 10:10] #872 closed

[2018-10-24 10:15] #541 closed

[2018-10-24 10:36] jjgriff93 opened #937 "Unable to build app in Angular production mode due to npm errors"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
We're currently unable to build our Nebular app to deploy to production due to some npm errors we're getting from the build agent relating to some nebular packages. This is the output:

[code]

The app builds fine in development mode, but whenever we

[2018-10-24 11:46] nnixaa commented on #936
Fixed in https://github.com/akveo/nebular/pull/882

[2018-10-24 11:46] #936 closed

[2018-10-24 11:50] nnixaa commented on #922
Hi @stubbsy345, is there a chance of providing a reproducible example? You can push it to stackblitz, for example.

[2018-10-24 13:53] stubbsy345 commented on #922
I am using this exact overwrite code that you suggested in a thread to get the authorisation working with azure b2c. Works well when build in dev mode, but goes to original error in prod build.

(NbOAuth2ResponseType as any)['TOKEN'] = 'id_token'

This does not seem to work in production mode however, there is some problem with overwriting the enum value in —prod.

[2018-10-24 13:59] stubbsy345 commented on #922
My auth code is exactly the same as @jjgriff used that you both developed in associated issues, I spoke with @jjgriff and he is encountering the same problem in production mode.

[2018-10-24 14:18] stubbsy345 commented on #922
Original correction that fixes dev build but then fails in prod build:

```(NbOAuth2ResponseType as any)['TOKEN'] = 'id_token'```

[code]

[2018-10-24 14:23] stubbsy345 commented on #922
This is the core module. For some reason in dev mode this code:
```(NbOAuth2ResponseType as any)['TOKEN'] = 'id_token'```
fixes the issue, but not in prod build. I know at @jjgriff93 is suffering from the same problem.

[code]

[2018-10-24 14:55] santi8194 commented on #395
Hey I'm in need of this feature, does anyone know if anybody is working on it? of if there's a hack around it

[2018-10-24 16:06] #924 closed

[2018-10-24 23:11] jjgriff93 opened #938 "Replacement for @nebular/theme/styles/global/bootstrap/hero-buttons in latest nebular update"
### Issue description

**Current behavior:**
I've recently updated to the latest version of nebular and read in the upgrade notes that bootstrap is integrated as part of @nebular/bootstrap now and needs a few modifications to the code to get it to work. I've followed these instructions around the brakpoints import, but I can't find what the replacement is for the hero buttons, and I'm getting the

[2018-10-25 12:47] Tibing commented on #938
Hi @jjgriff93, you don't need bootstrap for hero-buttons anymore. Nebular buttons now support hero styling. Please, check the [documentation](https://akveo.github.io/nebular/docs/components/button/overview#nbbuttoncomponent)

[2018-10-25 12:47] #938 closed

[2018-10-25 13:19] faztp12 commented on #879
I am also facing the same issue, and yes I have the router-outlet wrapped in nb-layout 😕

[2018-10-25 14:12] #757 closed

[2018-10-25 14:13] nnixaa opened #939 "Add a note about tests into dev docs"
- what is unit
- what is e2e

[2018-10-25 14:16] nnixaa opened #940 "Temporary remove all e2e tests from each spec"

[2018-10-25 14:16] #894 closed

[2018-10-25 14:18] faztp12 commented on #879
![image](https://user-images.githubusercontent.com/12441615/47506735-5488b080-d88e-11e8-911b-ee3131830e89.png)
You could see that `NbOverlayContainerAdapter` was initialized twice, but only in one `setContainer()` of `NbOverlayContainerAdapter` was called, which causes this error.

The second instance gets made on navigating to a lazy loaded module. I tried following following the `.forRoot()` cal