[2018-10-25 14:36] nnixaa opened #941 "add more demos"

[2018-10-25 17:20] faztp12 opened #943 "NbOverlayContainerAdapter and Lazy Loading"
### Issue type

**I'm submitting a bug report**

### Issue description

**Current behavior:**
When a lazy loaded module is opened, a `NbOverlayContainerAdapter ` gets constructed along with it which wont have its `setContainer()` called. This causes the `nbDialog` to fail in `_createContainer()`

**Expected behavior:**
`setContainer()` should be called, or `createContainer()` should append to docu

[2018-10-25 22:51] gilmarsquinelato commented on #877
I found a temporary solution!
```(click)="$event.preventDefault()"```
add this in the nb-select component.
Hope this helps :)

[2018-10-26 01:50] faztp12 commented on #848
Linked #943 ?

[2018-10-26 08:52] sokolandia commented on #881
Temporary solution:
`
@ViewChild(NbSelectComponent) select: NbSelectComponent<any>;
select['handleSelect'].call(select, {value: null});
`

[2018-10-26 09:51] Tibing commented on #865
Hi all, the bug has to be resolved after the PR will be merged. If it will not work properly try to uncomment `// import 'web-animations-js';.` in your `polyfills.ts`

[2018-10-26 10:03] nnixaa commented on #933
Hey @Platiplus, this is fixed in the master branch, you just need to update to the latest Nebular version.

[2018-10-26 10:21] hftey opened #946 "nb-datepicker reactive form failed validation"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
<input class="form-control" [ngClass]="{ 'form-control-danger': f.date.errors }" [nbDatepicker]="datepicker" formControlName="date">
              <nb-datepicker #datepicker format="dd/MM/yyyy"></nb-datepicker>

With the format of "dd/MM/yyyy", selec

[2018-10-26 11:00] Tibing commented on #879
Hi @faztp12, could you please provide us a reproducible [stackblitz](http://stackblitz.com)?

[2018-10-26 11:03] Tibing commented on #881
Hi @sokolandia, you may add `nb-option` with the empty value and click on this options will clear the `nb-select`.

[2018-10-26 11:03] #881 closed

[2018-10-26 11:06] Tibing commented on #883
Hi @pdomala, could you please describe more deeply what help exactly do you need?

[2018-10-26 12:29] #865 closed

[2018-10-26 13:11] itkachyshyn opened #948 "Nb-Select not emitting change event"
### Nb-Select not emitting event when used with [ngModel]

**I'm submitting a bug report**
### Issue description

**Current behavior:**
Nb-Select does not emit (selectChange) or (ngModelChange) event when using observables with ngModel.

[code]

**Expected behavior:**
I want nb-select to emit (selectChange) or (ngModelChange) event every time user selects an option

Any ideas how to fix it?

[2018-10-26 14:38] sokolandia commented on #881
@Tibing I want to reset it programmatically. I have a "Clear form button" that has to set an empty value in nb-select. Please reopen the issue and fix it

[2018-10-26 15:11] Prefix1802 opened #949 "Upgrade Angular to V7"
* [ ] feature request

### Issue description
https://angular.io/guide/releases

[2018-10-26 15:15] Prefix1802 commented on #949
Can someone delete this one?

#929

[2018-10-26 16:42] nilsonsrjunior commented on #655
+1

[2018-10-27 04:42] faztp12 commented on #879
The issue #943 has a reproducible stackblitz, https://stackblitz.com/edit/nebular-overlay-container-adapter-bug :)

[2018-10-27 12:56] jagabs opened #950 "Datepicker opens to today instead of the assigned value"
When using datepicker, when i assign the value it opens to the todays date, how can i change it?

[2018-10-27 12:57] #950 closed

[2018-10-27 16:00] dpollastrini commented on #922
I bumped into this too while using 'id_token token' in the response type setup rather than an enum value. It seems the "call" in question is to an object named based on the enum values specified NbOAuth2ResponseType (i.e., TOKEN _**or**_ CODE). There is apparently on "ID_TOKEN" option hence the error indicating no "call" on undefined. I have a case where my response type needs to be "id_token toke

[2018-10-28 18:04] stubbsy345 commented on #922
@dpollastrini thanks for your response. Did you find a work around? We are hoping to begin testing of our tool with users but not being able to build in prod mode is causing a significant problem.

[2018-10-29 08:00] #877 closed

[2018-10-29 08:01] #933 closed

[2018-10-29 14:03] Platiplus commented on #933
Yeah, I saw it, but this version is the version you guys ship with the ngx-admin starter-kit. Are you considering to update the version that comes with the starter kit or fixing the bug on this version?

[2018-10-29 14:28] dpollastrini commented on #922
@stubbsy345, the overrides you're using work for me; however, in my case, for various reasons, I actually need to extend the response types, not override the existing. While adding something like ['id_token']: () => .... to redirectResults will get you authenticated, you run into post-authentication issues later in the flow (e.g, error: "'id_token' responseType is not supported, only 'token' and '

[2018-10-29 16:07] nnixaa commented on #915
Hi @msohaib308, did you use ngx-admin as a basis? Are you seeing http requests in your browser network tab under the developer tools?

[2018-10-29 16:17] nnixaa commented on #903
Hi @ahall-medullan, I believe in your case the `requireValidToken` property should do the trick. So in your configuration of the strategy just add the following:

[code]

Hope this helps.

[2018-10-29 16:17] stubbsy345 commented on #922
Yes indeed they work for me when built in dev, however, when built in production mode the override doesn’t seem to work. I have tried to change some of the production build settings but with no success. Do you have any idea why in production the overwrite would no longer work?

[2018-10-29 16:24] hmedikarim opened #951 "nbdatepicker onclick button"
please how can i show the nebular datepicker when i click in button

[2018-10-29 16:34] nnixaa commented on #922
Hey Guys, take a look at the following comment https://github.com/akveo/nebular/issues/541#issuecomment-411776758, I believe it could be useful.

[2018-10-29 16:42] nnixaa commented on #923
Hi @websplee, have you tried the official documentation https://akveo.github.io/nebular/docs/auth/introduction?

[2018-10-29 16:43] nnixaa commented on #949
Sure

[2018-10-29 16:43] #949 closed

[2018-10-29 16:51] #890 closed

[2018-10-30 07:07] rakesh0r opened #952 "How to close a popover explicitly"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Popovers closes only on outside click.

**Expected behavior:**

Need a method/output prop to close Popovers explicitly like on form submits.

**Steps to reproduce:**

Open a popover with submit button.
Onclick of submit button close popover.

**Relat

[2018-10-30 07:08] rakesh0r commented on #952
Adding exportAs to popOverDirective resolves this issue.

[2018-10-30 09:29] #600 closed

[2018-10-30 09:30] #675 closed

[2018-10-30 09:30] #700 closed

[2018-10-30 09:58] zkrami opened #953 "Dynamic input for popover"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
When I bind a value to popover the content of the popover doesn't change whenever I change the binded value

**Expected behavior:**
the popover content should change if the binding value changed

**Steps to reproduce:**
create a template use `[nbPopov

[2018-10-30 20:20] KelvinPrimo opened #954 "NbAccessChecker"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### feature description
*nbIsGranted to use "OR" and "AND" on permissions and resources.
for especial permissions givem from an api to especial users.
like this:
`NbSecurityModule.forRoot({
    accessControl: {
      custon: {
        view: ['header'],
      },
      guest: {
        parent: 'cu

[2018-10-31 07:01] sami6002 commented on #931
I have this problem too, has any solutions?

[2018-10-31 07:49] Tibing commented on #952
Hi @rakesh0r, thanks for reporting the issue. For now, you may query the popover with `@ViewChild` and then use `hide()` method to hide it.

[2018-10-31 07:55] Tibing commented on #954
Hi @KelvinPrimo, could you please explain slightly deeper how this API has to work from your point of view?

[2018-10-31 08:01] Tibing commented on #951
Hi @hmedikarim, you can use `nb-datepicker` explicitly without binding it to the `nbDatepicker` directive. Just query it with `@ViewChild` and call `show()` method.

[code]
[code]

[2018-10-31 08:01] #951 closed

[2018-10-31 08:45] GabberMan commented on #923
There is another problem with the documentation... This page does not exist:
https://akveo.github.io/nebular/docs/auth/NbPasswordAuthStrategy

[2018-10-31 14:46] MarcoFiusco opened #956 "Second level header"
### Issue type

**I'm submitting a ...**
* [X] bug report
* [] feature request

### Issue description

**Current behavior:**
Now I can't find a way to set two full width headers but only a header and a subheader, which is placed in the side of the sidebar then it's shorter. Is there a way to set the subheader just below the 1st header and over the rest of all the page??

**Steps to reproduce:**
De

[2018-10-31 15:38] jjgriff93 commented on #922
Hi @nnixaa I've done some investigation and deployed the code we put together into an Azure live environment, and when hitting the auth-guard and beginning the redirection to sign in, it hits the error:

[code]

This is the line where it's happening in the nebular auth code (`oauth2-strategy.js`, line 208):
[code]

When debugging and hitting the breakpoint, this is the call stack:

- this: e
-- ac

[2018-10-31 17:21] hmedikarim opened #957 "nbdatepicker show year only"
please help me how can i show year oly in nbdatepicker

[2018-10-31 18:02] ceaguilera commented on #931
I hace this problem too! @100hz you heve solution?

[2018-10-31 18:08] KelvinPrimo commented on #954
Hello @Tibing, In my case, the role user do not have permission to create user and simulation. but when user loggin the server return an JWT with following information:
`{
  "sub": 2,
  "exp": 1541530348,
  "user": {
    "id": 2,
    "role": "user",
    "active": 1,
    "nome": "Kelvin",
    "sobrenome": "Primo",
    "email": "kelvin.primo@gmail.com",
    "username": "kelvin",
    "birthdate": "20

[2018-10-31 18:41] stubbsy345 commented on #922
@nnixaa I can confirm that the debugging output @jjgriff93 is experiencing is the same as we are. Any ideas? I am presuming that production options such as AOT or optimization, which are used during the prod settings, may be affecting the auth directive?

[2018-10-31 22:54] jjgriff93 commented on #922
Hi @stubbsy345 good find - tried with AoT disabled and it works just fine. I think it must be to do with when the modules are being loaded or the order - on all the posts I've read 'call is undefined' is typically related to a script not being loaded before it's being requested. @nnixaa any ideas?

[2018-11-02 09:20] crissty opened #958 "Stepper component doesn't submit form"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I am reproducing the example of stepper with validation showed in the nebular documentation, but, when the "next" button is clicked, the console show the follow warning:

I added the type="button" attribute and I already don't  get the warning, but th

[2018-11-02 10:50] ryanpetm opened #959 "OAuth 2.0 code grant flow expects xml encoded not json payload"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ * ] bug report
* [ ] feature request

### Issue description
Attempting to leverage ngx-admin templates to recover azure acess tokens with
Azure OAuth 2.0 code grant flow. [](url) https://docs.microsoft.com/en-us/azure/active-directory/develop/v1-protocols-oauth-code

**Current behavior:**

Plan to use ngx-admin template to qury mi

[2018-11-03 23:31] #956 closed

[2018-11-04 06:42] pdomala commented on #948
I am having the same issue. Nb-select does not work if the options are generated using ngFor and observables. Hardcoding nb-option tags works fine.

[2018-11-04 09:58] mckuok commented on #948
Anyone have a solution?

[2018-11-04 12:51] Prokksi commented on #952
Hi @Tibing, how do you access the Popover itself with `@ViewChild` as it is burried within an nbAction or something else?

[2018-11-04 13:49] ussamoo commented on #943
Same issue here.

[2018-11-05 10:50] ryanpetm commented on #959
Had some luck in solving  (dirty  hack ) this issue myself .
Working of the recent fix https://github.com/akveo/nebular/issues/716
I was able to get the azure oauth2 code grant flow working by adding the following to my nebular/auth files

@nebular/auth/strategies/oauth2/oauthe2-stategy.js
[code]

[2018-11-05 21:52] maihannijat opened #960 "Opening a Popup Window for OAuth Strategy (Social Login)"
### Issue type
* [ x] feature request

### Issue description

**Current behavior:**
Clicking on the Google icon loads the Google Authentication page in self.

**Expected behavior:**
Open as popup window and close itself when redirecting.

[2018-11-05 22:47] jbryanx commented on #959
I recommend you to add an interceptor like this:

@Injectable()
export class LoginRequestInterceptor implements HttpInterceptor {
    constructor() {}
    intercept(req: HttpRequest<any>, next: HttpHandler) {
        if (req.url === 'http://yourserverhere.com/oauth2/token') {
            const xhr = req.clone({
                headers: req.headers.set('Content-Type', 'application/x-www-form-urlenc

[2018-11-06 08:39] DanielRuf opened #962 "big repository"
Currently the repository is 56MB big which is a bit much.

It seems there were dist files tracked in Git.

[code]

Deleted files:
[code]

[2018-11-06 11:20] mushu8 commented on #948
up plz

[2018-11-06 11:22] jromerob opened #964 "Parallels calls to NbAccessChecker.isGranted with RxJS ForkJoin never resolves"
I'm trying to make parallels calls to get ACL permissions with the service NbAccessChecker.

Wrapping the calls with ForkJoin, the observable response never resolve and no error shows

### Issue type

**I'm submitting a ...

* [ x ] bug report

### Issue description

**Current behavior:**

I'm trying to make parallels calls to get ACL permissions with the service NbAccessChecker.

Wrapping the cal

[2018-11-06 11:31] Tibing commented on #948
Hi guys, the issue will be resolved in the nearest future.

[2018-11-06 11:37] mushu8 commented on #948
Thanks @Tibing
How near please ? hours ? days ? weeks ?
I'm currently on a client project and start thinking of ng-select but it will break the ui … :(

[2018-11-06 11:39] Tibing commented on #948
Hi @mushu8, hope I'll be done this week, and next release version will be published next week

[2018-11-06 13:15] mushu8 commented on #948
ok thanks 👍

[2018-11-06 17:01] maihannijat opened #965 "Get idToken from Google OAuth in callback component"
### Issue type

* [x ] feature request

### Issue description

**Current behavior:**
The callback component get's access token only.

**Expected behavior:**
Get the idToken in callback component with access token. The idToken could be used to send it to backend for validating there and use it with API.

[2018-11-07 13:47] maihannijat opened #966 "Adding Linkedin Auth Strategy Redirects to Home Page"
**I'm submitting a ...**  (check one with "x")

* [ x] bug report

### Issue description

**Current behavior:**
Adding Linkedin Auth strategy redirects to home page when on social icon click. If I remove Linkedin strategy then the Facebook and Google strategies work but adding Linkedin strategy stops all - all redirected to home page.
`export const NB_CORE_PROVIDERS = [
  ...DataModule.forRoot().p

[2018-11-08 00:15] eliseurm commented on #879
I'm also having the same problem. issue #943

Please, someone could sort out or tell you the correct way to use NbDialog.

[2018-11-08 03:26] tanmayparmar opened #967 "File to import not found or unreadable"
### File to import not found or unreadable:

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

I am running NPM start command but it is failed to compiled
**Expected behavior:**

It should compile successfully.
**Steps to reproduce:**

**Related code:**

[code]

[code]

[2018-11-08 08:00] Tibing commented on #957
Hi @hmedikarim, It's not possible in datepicker for now. For the cases like that, we have the [Calendar Kit](https://akveo.github.io/nebular/docs/components/calendar-kit/overview#nbcalendarkitmodule) module. With help of this module, you may build your custom datepicker with the year only view. Please investigate it and read the documentation for deeper explanation.

[2018-11-08 08:00] #957 closed

[2018-11-08 08:02] Tibing commented on #967
Hi @tanmayparmar, could you please provide you stacktrace?

[2018-11-08 08:13] Tibing commented on #943
Hi Guys! As it mentioned in the documentation, you have to wrap all the entire application in the `nb-layout`. I saw you've tried that, and you're failed but you were very close 😄
To achieve the desired behavior you have to wrap all your app in the `nb-layout` it means you have to just wrap the `app.component`'s `router-outlet` in it. I did it in your stackblitz and all works fine.

[2018-11-08 08:13] #943 closed

[2018-11-08 14:48] anuj509 commented on #856
for those who are searching and solving same errors you can refer this link. I have forked this repo and fixed [starter-kit](https://github.com/anuj509/nebular.git)

[2018-11-09 11:49] SashaSkywalker opened #968 "Сonfusing typo in docs"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
https://akveo.github.io/nebular/docs/components/radio/overview#nbradiogroupcomponent

![image](https://user-images.githubusercontent.com/6690616/48260706-7efd7080-e42d-11e8-8c96-a9dfca63807e.png)

[2018-11-09 15:11] denStrigo opened #969 "Incorrect documentation for Checkbox component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
Incorrect documentation for Checkbox component in the `Installation` section.
https://akveo.github.io/nebular/docs/components/checkbox/overview#nbcheckboxcomponent

 Should be:

![screenshot_1](https://user-images.githubusercontent.com/8480994/48270183-78312680-e44a-11e8-86

[2018-11-10 08:15] geniuz opened #970 "how to use nbContextMenu setItems?"
subj?

[2018-11-11 12:36] fatma-hassanein opened #971 "nb-select does not work properly on scrolling"
### Issue type

I'm submitting an issue regarding the nb-select, when adding an nb-select component inside the nb-header and I make it fixed, when I scroll through the page and try using the nb-select component, its menu stays up and does not scroll properly with it !
* [x] bug report
* [ ] feature request

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[co

[2018-11-11 12:40] fatma-hassanein commented on #971
When adding an nb-select component inside the nb-header and I make it fixed, when I scroll through the page and try using the nb-select component, its menu stays up and does not scroll properly with it !

[2018-11-11 13:05] amirpourya opened #972 "Changing nebular main-font dynamically by direction state"
feature request

Hi nebular team,

I wanna set nebular theme font-main dynamically on direction change...

for example i want something like this:

[code]

[code]

Is it possible? / Do you have any idea how can i solve this problem?

Thanks.

[2018-11-11 18:54] Roman-Simik opened #973 "NbContextMenu in Internet Explorer (bad styling)"
### Issue type

* Bug report

### Issue description

**Current behavior:**
NbContextMenu in Internet Explorer - **bad** context styling (position)

![image](https://user-images.githubusercontent.com/41468539/48316993-42777380-e5eb-11e8-83bc-6dcf9515d48f.png)

**Expected behavior:**
NbContextMenu in Internet Explorer - **good** context styling (position)

![image](https://user-images.githubusercont

[2018-11-11 19:07] jjgriff93 commented on #922
@nnixaa / Akveo team - are you able to help us with this? We're very close to live and using the JIT compiler instead of AoT is slowing down the load times significantly, really appreciate any help!

[2018-11-12 15:51] Prefix1802 commented on #967
@tanmayparmar

That is because you are using ngxadmin v2.3.0 and you changed the angular dependencies in package.json to version 7 and up.

Also your Nebular depencies are 2 different versions.

In fact my guess is you have tried to update a lot of depencies, like Typescript, but it does not work like that. that's why you are getting errors.

[2018-11-12 15:57] tanmayparmar commented on #967
@Prefix1802  I was able to figure out the problem. The problem was more related to path of the import files. I guess, ngx-admin starter kit's import files are old. Although, i would like to know, Which are the two dependencies of the nebular i am using?

[2018-11-12 17:07] Prefix1802 commented on #967
@tanmayparmar

"@nebular/auth": "2.0.0-rc.9",
    "@nebular/security": "2.0.0-rc.9",
    "@nebular/theme": "^2.0.2",
    "@nebular/bootstrap": "^2.0.2",

[2018-11-13 08:43] resstymanuzon opened #974 "Nbselect Implementation Error"
I'm submitting an error regarding the implementation of NbSelect while using the ngx-admin template. After following the Nebular Documentation I encountered errors stating how NbSelect wasn't found within the theme module due to the fact I didn't know where to import it from so I tried importing it from the @themes module (one of my bright ideas).

**new.component.html**
[code]

**new.module.ts**

[2018-11-13 15:50] danyhoron opened #975 "Can't scroll the dialog content if it's taller than the viewport."
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I cannot scroll through the content of a dialog that is taller than the viewport.

**Expected behavior:**
I should be able to scroll through the content of a dialog if it's taller than the viewport.

**Steps to reproduce:**
- Navigate to: https://akveo.github.io/nebular/ex

[2018-11-13 18:05] jromerob opened #976 "NbAclService fail to check permissions with --aot option"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ X] bug report
* [ ] feature request

### Issue description

**Current behavior:**

I have configured the permission list for the different user roles correctly in core.module.ts

When I run the application without the --aot option, checking permissions with NbAclService is correct. When I do it with the --aot option  the configura

[2018-11-13 18:11] jftsaraiva opened #977 "NbSidebar: Resize from Collapsed to Compacted"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
The sidebar when we resize a window from `Collapsed` to `Compacted` size, goes to `Expanded` status.

**Expected behavior:**
It should goes to `Compacted`

**Steps to reproduce:**
- Open window with width > 1250px - The sidebar it's in `Expanded` stat

[2018-11-13 20:05] jjgriff93 opened #978 "Mouse-over cursor for nb-contextMenu is text icon, not a hand (to indicate it's clickable)"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
The button for a nb-contextMenu does not change the cursor to a hand icon on mouseover to indicate that the button / user profile info is clickable. Users may not know that this is clickable as a result

**Expected behavior:**
A hand icon cursor on mo

[2018-11-13 20:08] jjgriff93 commented on #978
Would also be nice if there was an option to toggle whether the context menu should appear on hover or on mouse click

[2018-11-14 08:58] Tibing commented on #975
Hi @danyhoron, It's not a bug but the desired behavior. I think that dialogs shouldn't be so tall to have to scroll them. Moreover, If you want to put a big amount of data inside the dialog you may fix its height and make its content scrollable with css overflow property.

As I see, you have another point of view. So, please, explain it slightly deeper.

[2018-11-14 09:00] Tibing commented on #974
Hi @resstymanuzon, please, reopen the issue in [ngx-admin repo](https://github.com/akveo/ngx-admin) and provide reproducibly [stackblitz](http://stackblitz.com).

[2018-11-14 09:00] #974 closed

[2018-11-14 09:03] Tibing commented on #971
Hi @fatma-hassanein, could you please provide us a reproducible stackblitz?

[2018-11-14 09:08] Tibing commented on #958
Hi @crissty, could you please provide a reproducible stackblitz?

[2018-11-14 09:46] Tibing opened #979 "Docs: tooltip examples doesn't work"
Tooltip examples throw `No component factory found` exception

[2018-11-14 12:29] #968 closed

[2018-11-14 12:30] #979 closed

[2018-11-14 12:55] #900 closed

[2018-11-14 14:36] #977 closed

[2018-11-14 16:19] #928 closed

[2018-11-14 18:07] yggg commented on #946
Hi @hftey! Do you use date adapters (`@nebular/moment` or `@nebular/date-fns`)?
If no, you can't use format, since native `Date` don't have `format` method. See [Formatting Issue note](https://akveo.github.io/nebular/docs/components/datepicker/overview#nbdatepickercomponent) in the docs.

To use format input, you need to install date adapter and import it's module in app module.
Example with `date

[2018-11-15 06:01] alsardy2002 opened #987 "Datepicker z-index"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x ] feature request

### Issue description

**Current behavior:**

when open datepicker nb-calender disappear behind the window.!
**Expected behavior:**

pop up over all.

![image](https://user-images.githubusercontent.com/37591390/48533210-8d77dc00-e8b4-11e8-81c6-e11c83157da6.png)

[2018-11-15 10:31] #903 closed

[2018-11-15 10:31] nnixaa commented on #903
Closing as it seems resolved.

[2018-11-15 10:32] #915 closed

[2018-11-15 10:32] nnixaa commented on #915
Closing as no response.

[2018-11-15 13:04] thomasreji commented on #948
am facing the same issue too. When is the plan to release?

[2018-11-15 13:32] denStrigo opened #992 "Select does not hide on scrolling"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
nb-select component does not hide on the scroll. The issue reproduced if scroll container, not `body`.

**Current behavior:**
![scroll](https://user-images.githubusercontent.com/8480994/48555891-7c9a8b00-e8f3-11e8-8346-d9ce85251231.jpg)

Related to #971

[2018-11-15 16:04] stubbsy345 commented on #921
Is there a possible work around I can build in for now. My project relies heavily around the chat component. I am happy to fix this myself but probably won't have time in the next 2 weeks so would be helpful if there was a workaround in the mean time.

[2018-11-15 16:55] oleersoy opened #993 "[Feature Request] Reactive Smart Table cell coloration based dynamic evaluation of validation rules"
* [ X ] feature request

I've built [@fireflysemantics/validator](https://github.com/fireflysemantics/validator/#readme).

I'd like to integrate it with the smart table such that:

1. The smart table colors the invalid cell an `error` color
    - This would be done after the first validation pass on data
    - Only invalid data rows are displayed
2. If the user corrects the value the entity:
    -

[2018-11-15 17:55] oleersoy commented on #993
Also is this the repository for the smart table:
https://github.com/akveo/ng2-smart-table

It's still using the `ng2` prefix, so I thought perhaps it might be moved to a newer repository?

[2018-11-15 20:41] oleersoy commented on #993
I'm going to close this and simplify it.  Looks like perhaps the perhaps most of the work can be done with `type: 'custom'` cell components that validate or save the row.

[2018-11-15 20:41] #993 closed

[2018-11-16 07:35] anvial commented on #924
Hello, I suppose you need to provide context structure like this:

`context: { testVar: 'asd'}.`

And you should define `testVar` in Dialog compotent with the same type. For example:

`testVar: any;`

[2018-11-16 17:06] TolgaDaSilva commented on #993
Do you have a solution for validating or saving a row?

[2018-11-16 19:02] iosif-bancioiu opened #994 "Nebular Login not redirecting if already logged in"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
Login component not redirecting if already logged in. For example, you log in, you get redirected to some page, then if you go by url to Login again, you can login again, even if you did not log out and so on (the token is also still there)

**Expecte

[2018-11-16 19:44] jromerob commented on #976
Hi, I think that the problem is in the forRoot parameter.

NbSecurityModule.forRoot({
    accessControl: accessControlObject
  }).providers

Passing as literal object like examples works right.

[2018-11-16 20:12] mhamri opened #995 "is any way to download not compile version of the npm package ?"
it's hard to debug when something goes wrong. i appreciate if you release dev version too

[2018-11-16 20:43] mhamri opened #996 "the documentation to add nebular to a new project doesn't work"
i followed step by step the documentation

https://akveo.github.io/nebular/docs/guides/add-into-existing-project#adding-into

but i'm getting error

[code]

[2018-11-16 22:09] #967 closed

[2018-11-18 18:32] maihannijat commented on #996
You need to add `NbSidebarModule` into app.module.ts.

[code]

[2018-11-19 03:29] jjgriff93 commented on #952
HI @Tibing  - could you post a code example of how to do that please? I've tried implementing but no luck

[2018-11-19 04:02] codinronan commented on #865
@Tibing any way this can be merged into the 2.x version as 2.0.3 or something? I would like to incorporate this fix but can't upgrade to Angular 7 for now...

[2018-11-19 04:35] rakesh0692 commented on #875
I have same issue, Please someone advise.

[2018-11-19 07:47] #996 closed

[2018-11-19 07:49] Tibing commented on #995
Hi @mhamri, If you want to use the not compiled version of the Nebular you may download the repository and `npm link` it in your project.

[2018-11-19 07:49] #995 closed

[2018-11-19 08:17] mhamri commented on #996
@maihannijat thanks, yup i figured it out, but the whole point is the documentation is not complete, i can make a pull request and add the stuff if someone point me to the right repository

[2018-11-19 08:21] mhamri commented on #996
@Tibing i pulled the nebular master branch and did
[code]
[code]
[code]
and this is the output
![image](https://user-images.githubusercontent.com/8991783/48694234-c39bbf80-ec16-11e8-94a5-83250c26fc19.png)

may i know what should i expect from default nebular/theme? atm the documentation can't draw a line between ngx-admin and nebular/theme? am i getting a theme or only component or anything else?

[2018-11-19 08:41] Tibing commented on #996
@mhamri, `@nebular/theme` contains all code related to theming and all components provided by Nebular. `ngx-admin` is a showcase application built with Nebular and provide ready to go application structure for your projects.

If you want to contribute to our documentation you need to check how Nebular organized. Required information may be found in the CONTRIBUTING.md and DEV_DOCS.md.

Regarding t

[2018-11-19 09:13] nnixaa commented on #972
Hi @amirpourya, in this case I would suggest creating two separate Nebular themes, the first one for RTL and the second one for LTR, inherit one from another and change the theme on direction change.

[code]
and somewhere in top-level component:
[code]

I haven't tested this code, but I hope it gives you the idea.

[2018-11-19 09:13] #972 closed

[2018-11-19 09:45] mhamri commented on #996
@Tibing thanks, it's valuable information, i will look into the contribute.md,
regard the plaground. where can i see any documentation about it? or about the other commands?

btw after running the playground i got this error:
[code]

am i missing anything?

[2018-11-19 09:51] nnixaa commented on #976
Hey @jromerob, thanks for reporting.
As far as I can tell, this is a limitation of Angular modules for now, as passing as literal or even like this:

[code]

works totally fine, when using dynamic object keys
[code]
 fails with an error:
[code]

So my suggestion is to either pass it with no dynamic keys or inject the `NbAclService` somewhere in a top-level component and pass the settings object ma

[2018-11-19 09:51] #976 closed

[2018-11-19 10:25] nnixaa opened #997 "[DOCS]: How to put menu in header"
Needs example.

[2018-11-19 10:27] nnixaa opened #998 "Auth: components customization without extending the component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

Currently the only way to customize the auth components is via inheritance.
**Expected behavior:**

Should be a better way, probably using `ng-content`.

[2018-11-19 10:29] nnixaa opened #999 "[DOCS]: install icons while installing Nebular"
Needs docs.

[2018-11-19 10:30] nnixaa opened #1000 "[DOCS]: logout with null endpoint"
Needs docs.

[2018-11-19 10:33] nnixaa commented on #994
Hi @iosif-bancioiu, this is not currently possible out of the box, so you would need to implement a custom route guard to track this and redirect.

[2018-11-19 10:57] #940 closed

[2018-11-19 10:58] arabbani commented on #739
Sure. I Will try it. But give me some time. Very busy for rest of the days of this month.

[2018-11-19 10:59] nnixaa commented on #921
@stubbsy345 thanks for reporting. There will be a fix in the next version, if you are pressed for time you can implement a custom `nb-chat` component having this fix in place, and then replace it once we release @nebular/theme@3.0.1. Here is a link to the fix https://github.com/akveo/nebular/pull/1001.

[2018-11-19 11:12] nnixaa commented on #969
fixed in 3.0.0

[2018-11-19 11:12] #969 closed

[2018-11-19 11:16] nnixaa commented on #975
I guess we can leave it as an enhancement, as for now, it is possible to set a fixed height of the modal using css.

[2018-11-19 11:44] nnixaa commented on #964
Hi @jromerob, I just tried this in a simple configuration myself, and it is working fine.

Please provide a minimal reproducible example preferably push it to stackblitz, so that we can check. Thanks.

[2018-11-19 12:30] fatma-hassanein commented on #971
Ok 👌

[2018-11-19 13:16] nnixaa commented on #922
Hey Guys, I believe as a workaround we can try to no touche the enum and just rewrite two handler for the `id_token` like this:

[code]

Let me know if this is working on your side.

[2018-11-19 13:17] netchon commented on #38
Hi guys,
you can inject the NbTokenService and clear the data with  this.nbTokenService.clear();   like this:

 constructor(private sidebarService: NbSidebarService
              private nbTokenService:NbTokenService) {
}

logout(){
 this.nbTokenService.clear()
}

[2018-11-19 13:20] nnixaa commented on #965
Here is a workaround https://github.com/akveo/nebular/issues/541#issuecomment-411776758

[2018-11-19 13:31] nnixaa commented on #923
Hey @GabberMan, the correct link would be https://akveo.github.io/nebular/docs/auth/nbpasswordauthstrategy, could you let us know where you found that one, please?

[2018-11-19 13:38] #887 closed

[2018-11-19 13:39] GabberMan commented on #923
https://akveo.github.io/nebular/docs/auth/configuring-a-strategy#configure-a-strategy <https://akveo.github.io/nebular/docs/auth/configuring-a-strategy#configure-a-strategy>

[2018-11-19 18:48] iosif-bancioiu commented on #994
Thanks, then i will untick the bug report and mark it as a feature request, maybe someday it will be available out of the box :)

[2018-11-20 03:43] jannotabamo opened #1002 "Adjust menu icon size"
How to adjust the icon size in my menu?

[2018-11-20 10:50] #921 closed

[2018-11-20 11:39] meyacine opened #1003 "Window bugs on minimize/maximize"
### BUG

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When i minimize Window, and click again to bring it to front, it loose the template.
When i try to put it fullScreen, it place it to the bottom right position
**Expected behavior:**
Click on minimized window, bring it normaly with the template.
Click on fullScreen, make the windo

[2018-11-20 16:44] nnixaa commented on #1003
Confirmed.

[2018-11-20 16:44] nnixaa commented on #1003
@meyacine thanks for reporting!

[2018-11-20 16:46] nnixaa commented on #1002
Hi @jannotabamo, you can change the `icon-font-size` theme property to adjust menu icons. Here are some more details https://akveo.github.io/nebular/docs/components/menu/theme.

[2018-11-20 16:46] #1002 closed

[2018-11-20 16:46] #2 closed

[2018-11-20 16:48] #207 closed

[2018-11-20 16:49] #290 closed

[2018-11-20 16:51] #228 closed

[2018-11-20 16:51] nnixaa commented on #449
I guess we are good to close it.

[2018-11-20 16:51] #449 closed

[2018-11-20 16:52] #538 closed

[2018-11-20 17:22] ilDon opened #1004 "Tabs content not displayed until click"
### Issue type

**I'm submitting a ...**

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When a `@handsontable/angular"` element inside tabs, content is not displayed until a click event inside the tab.

**Expected behavior:**
The content should appear as soon as loaded.

**Steps to reproduce:**
In any Nebular view, add a tabs component with an handsome table

[2018-11-20 18:40] jromerob opened #1005 "is posible to deactivate pace-js?"
Hi, i want to deactivate pace-js on ngx-admin. Is posible ?
I can't read anything about it on docs.

[2018-11-21 03:02] jannotabamo commented on #1002
@nnixaa i mean for a specific icon in menu. Because when I used 'nb' icons the icon size is not a problem. But when I used font-awesome/ionic icons, it is collapsing with the menu title.

[2018-11-21 07:58] developcodeza-matthew commented on #902
Would love to have this added. I have a pretty complex sequence of forms and events that would definitely need to have more control over when and where things get submitted.

[2018-11-21 10:21] denStrigo opened #1006 "Popover arrow has wrong style in prod mode"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Popover array has wrong style in prod mode.
![popover_arrow_bug](https://user-images.githubusercontent.com/8480994/48835059-52801780-ed90-11e8-9dab-fe3c04e2de30.jpg)

**Expected behavior:**
Should be:
![popover_arrow](https://user-images.githubusercon

[2018-11-21 11:54] iosif-bancioiu commented on #994
@nnixaa one issue with this guard
code below
export class LoginGuardService implements CanActivate {
  constructor(private authService: NbAuthService, private router: Router) {

  }

[code]

If the user is not authenticated, return true is never hit, do you have any hints on this?

Thanks!

[2018-11-21 16:10] nnixaa commented on #994
@iosif-bancioiu, I believe there is no need in the `else` clause, as you return the `isAuthenticated` observable to the code that calls `canActivate`, which in its turn returns `Observable<boolean>`, so `true` or `false`.

[2018-11-21 19:40] ilDon opened #1008 "Allow hiding toastr via public method"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**
Toastr can't be closed programmatically via a method like `hide()`/`close()`.

If we set `duration` to `0` and `destroyByClick` to `false`, there is no easy way to get rid of the toastr.

**Expected behavior:**
It would be handy to destroy the toastr via a method exposed b

[2018-11-22 08:55] ilDon commented on #1005
As far as I can tell (I'm not a maintainer) yes, I've removed it completely. Just get rid of all peace-js related code. If I'm remember correctly, there should be some peace-js related code in index.html as well.

[2018-11-22 12:59] aymen7 commented on #702
thanks @jjgriff93 for the heads up :+1:

[2018-11-22 13:05] felixwahner opened #1010 "Using reactive forms with nb-radio"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [x] feature request

### Issue description
**Current behavior:**
Currently nb-radio doesn't work with reactive forms: Adding a `formControlName="foo"` attribute throws an error:
[code]

 **Expected behavior:**
It would be nice to be able to use nb-radio with reactive forms and get the value through the formControlName

**Steps to reprodu

[2018-11-22 13:43] Tibing opened #1011 "Need to unsubscribe from triggers events"

[2018-11-22 14:19] Tibing commented on #879
Hi All. The issue was resolved here: https://github.com/akveo/nebular/issues/943#issuecomment-436908742

[2018-11-22 14:19] #879 closed

[2018-11-22 21:06] mahdi7192 commented on #623
if you want to call login method with {username} not with {email}, in the custom login template just change ngModel of email input to this:
`<input nbInput fullWidth [(ngModel)]="user.username"...>`

[2018-11-23 04:43] mhamri opened #1014 "npm run start:wp throw Unknown option: 'playground-wp'"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
running `npm run start:wp` getting this error:
[code]
**Expected behavior:**

no error

**Steps to reproduce:**
run `npm run start:wp`

### Other information:
node version `v10.13.0`
npm version `6.4.1`
os `windows 10`
[code]

[2018-11-23 10:38] StiviiK opened #1015 "OAuth2 implementation flow"
Hey there,
i have a problem on how to implement properly the authentication flow with OAuth2.
### E-Mail/Password flow
1. User enters creds `->`
2. POST `http://API_URL/login` `->`
3. Api verifys the creds and responds with an JWT Token (Nebular class: `NbAuthJWTToken`, this token been generated by the backend generated and is required for all api calls) `->`
4. Angular stores the token in localSt

[2018-11-23 10:58] nnixaa commented on #1015
Hi @StiviiK, could you elaborate on this part `But i want that my backend-token is stored in localStorage like with E-Mail/Password without wrapping into an NbOAuth2Token.` please?

Also, have you tried the `NbAuthOAuth2JWTToken` token?

[2018-11-23 11:31] StiviiK commented on #1015
Yeah sure, it was a bit incomprehensive, so with E-Mail strategy my LocalStorage looks like this:
![image](https://user-images.githubusercontent.com/8115642/48941053-3ad49a80-ef1a-11e8-8455-d5ef4382fae0.png)
as value is the correct JWT Token, provided by my backend.
For Example in my `JWTTokenInterceptor` i can intercept my token in any request like this:
![image](https://user-images.githubusercon

[2018-11-23 11:50] StiviiK commented on #1015
With Email strategy it also gets correctly decocded:
![image](https://user-images.githubusercontent.com/8115642/48941903-a9672780-ef1d-11e8-9197-dd4f232a3bfe.png)

With OAuth2 strategy its of course broken:
![image](https://user-images.githubusercontent.com/8115642/48942074-44f89800-ef1e-11e8-8703-0fe2585b2241.png)

[2018-11-23 14:02] StiviiK commented on #1015
I probably found the issue, see here for details: (i'm not sure if this breaks anything)
https://github.com/StiviiK/nebular/commit/4ddf519e46e2747d24c9d3706d4e535bffa38351
https://github.com/StiviiK/nebular/commit/d85ad9890021151b74b800deae24c720cb09b094
https://github.com/StiviiK/nebular/commit/bae71ce14925e27bbf14bc785155fa516fe5d2a7

[2018-11-23 15:14] StiviiK commented on #1015
This isn't a problem of nebular, i just have understod OAuth2 wrong. So i'll close this.

[2018-11-23 15:14] #1015 closed

[2018-11-23 16:00] jjgriff93 commented on #702
No problem @aymen7  :)

[2018-11-23 16:41] nnixaa commented on #922
@jjgriff93, @stubbsy345 ping.

[2018-11-26 00:30] WLun001 opened #1016 "How to provide suggestion while typing in NbSearch"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-11-26 07:38] sukeshlaghate opened #1017 "issue with NbAction when using Fontawesome icons"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description
NbAction with icons that change dynamically (for example to indicate toggle state) works fine when using Nebular icons, however when using Fontawesome icons it misbehaves.

**Current behavior:**
using Fontawesome icons seems to freeze icon to its initial value. In my case for toggle action to ch

[2018-11-26 19:26] IgnacioYanjari opened #1018 "Pass data to CustomDayCellComponent"
## Issue type

* [ ... ] bug report
* [ x ] feature request

## Issue description

Exists a form to pass data to CustomDayCellComponent?, if doesnt exist , how i can do it?

[2018-11-27 02:56] sami6002 opened #1019 "nb-datepicker default required, how to make it not validate required"
<input nbInput fullWidth fieldSize="small" autocomplete="off" name="investmentDate" [(ngModel)]="cim.investmentDate" placeholder="DD/MM/YYYY" [nbDatepicker]="investmentDate">
<nb-datepicker #investmentDate></nb-datepicker>

-> validate the form, want to let this date can be empty
-> set required=false to input is doesn't work

I dont know how to make it.

[2018-11-27 07:37] yggg commented on #1006
Caused by https://github.com/jakubpawlowicz/clean-css/issues/1053

[2018-11-27 10:53] yggg opened #1021 "Window collapse/expand logic is confusing"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [] bug report
* [x] feature request

### Issue description

Make window content toggle process more straightforward. Probably we can change icons and simplify logic to proposed in #1003.

[2018-11-27 19:31] maihannijat commented on #682
Could you please explain it little more?

I created another class and extended the Auth strategy as follow:

[code]

Where do I need to add it as provider? In the login? And Do I need to leave the class empty?

[2018-11-27 22:39] Vbboi24 commented on #943
Hello @Tibing , I am using ngx-admin and I have app.component as just <router-outlet> while the pages component inherits the layouts and gets me the overall page view. Add your solution to the appendChild issue makes it more compact and gets me a boxed layout. Can you please help me on this ?
To be precise, i have two layout components in my augury.
One : Because i have wrapped <router-outlet> of

[2018-11-28 03:32] BAZINGAyi opened #1023 "Not able to apply bootstrap style to any component"
### Issue type

* [ ] bug report

### Issue description

**Current behavior:**

**Expected behavior:**
I used ngx-admin as framework and add some new component in pages. But I can't use bootstrap style for my component.

**Steps to reproduce:**

For example：
I find this code in **boostrap4** website and copy it to my component html file. look like this:

[code]
Bootstrap website style like:

![ima

[2018-11-28 04:08] Tibing commented on #943
Hi @Vbboi24, could you please create new issue for your question, also as provide reproducible stackblitz?

[2018-11-28 05:46] Vbboi24 commented on #943
Yes Sure, I have already created a issue with ngx-admin repo
 https://github.com/akveo/ngx-admin/issues/1933#issue-385021735
Should i be creating a duplicate ? If i should, yeah. I'm asking only because i dont want to create duplicate issues to this beautiful Repo <3

[2018-11-28 14:50] gaspardip commented on #948
any workaround for this in the meantime?

[2018-11-28 16:11] andredatsch commented on #987
Same problem here, trying a alternative solution while it's not fixed

[2018-11-28 16:30] mushu8 commented on #948
I’ve integrated ng-select

[2018-11-28 19:53] gaspardip commented on #881
+1, same with NbRangepickerComponent, need to reset the control programatically.

[2018-11-29 01:18] biborn commented on #994
@iosif-bancioiu You can definitely solve this by doing a check in your `LoginComponent`.

In my case, my `LoginComponent` is extending a class called `NbLoginComponent`. Thus, my check will be done in `ngOnInit` function. Here's how I do it:

[code]

Note that I don't have to inject anything in the constructor because the parent class (NbLoginComponent) already have everything I need. Hope this he

[2018-11-29 09:39] #931 closed

[2018-11-29 09:39] #948 closed

[2018-11-29 13:48] #1003 closed

[2018-11-29 14:09] nnixaa opened #1025 "Refactor overlays so that we don't create overlays beforehand, but in a time of opening"
Subj.

[2018-11-29 14:31] #1006 closed

[2018-11-29 14:32] Tibing commented on #987
Hi @alsardy2002, could you please provide a reproducible example?

[2018-11-29 14:57] Tibing commented on #926
Hi @tcbuzor, sound like you're using moment module with native js `Date`. What type of date did you pass to the `nb-datepicker`?

[2018-11-29 16:18] jjgriff93 commented on #922
Hi @nnixaa , apologies for the delayed reply, thank you for putting this code together - I've tried implementing it to test however I'm getting a couple of validation errors:

- On `redirectResultHandlers` I'm getting `[ts]
Property 'redirectResultHandlers' in type 'NbAzureADB2CAuthStrategy' is not assignable to the same property in base type 'NbOAuth2AuthStrategy'.
  Type '{ [NbOAuth2ResponseType

[2018-11-29 16:39] andredatsch commented on #987
@Tibing just open the datepicker in a modal, may be the order of the elements, when i was trying and alternate solution, changed the order of the elements and it show on top of the modal

[2018-11-29 16:44] andredatsch commented on #987
@Tibing hope this help

![exemple-1](https://user-images.githubusercontent.com/3539904/49237352-2d6d5380-f3e5-11e8-945c-540ece6543d0.png)
![code](https://user-images.githubusercontent.com/3539904/49237355-2e05ea00-f3e5-11e8-88d6-19f143fbd2a2.png)

[2018-11-29 17:02] #1011 closed

[2018-11-29 17:24] Tibing commented on #987
Ok @andredatsch, I see the issue now. You're using ng-bootstrap for modals. I think, the easiest solution for you now is to use [Nebular Dialogs](https://akveo.github.io/nebular/docs/components/dialog/overview#nbdialogref).

[2018-11-29 17:25] Akhmetvaliyeu opened #1027 "Text in outlined buttons on :focus is not visible (themes: Default, Corporate)"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Buttons text not visible on :focus
![Outlined buttons on focus bug](https://user-images.githubusercontent.com/18722006/49239508-febaa180-f413-11e8-8e23-1ac4c966e387.png)

**Expected behavior:**
Text need to be visible on :focus

**Steps to reproduce:**
1) Go to https://akv

[2018-11-29 19:49] nnixaa commented on #682
@maihannijat yes, you can leave the class empty sinse you just need a new service. As for the provider - you can put it into the `NB_CORE_PROVIDERS` list.

[2018-11-29 19:52] nnixaa commented on #1023
Hi @BAZINGAyi, as for the styles, Nebular rewites the default bootstrap styles to conform with the test of the Nebular theme look&feel. If you don't need this behavior you may reomve the `@nebular/bootstrap` package. Regarding the dropdown, please take a look at `@ng-bootstrap/ng-bootstrap` package, which make the bootstrap work with Angular.

[2018-11-29 19:54] #1023 closed

[2018-11-29 19:58] #992 closed

[2018-11-29 20:56] maihannijat opened #1028 "Add option to set skipLocationChange for NbMenuItem"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ x] feature request

### Issue description

**Current behavior:**
There is no option to set skipLocationChange for menu item. Users see in the address bar the link of the menu item clicked.

**Expected behavior:**
Add option for skipping location, and user will set true or false.
[code]

[2018-11-30 06:35] #946 closed

[2018-11-30 09:30] Tibing commented on #1005
Hope the issue is resolved. If you have more questions about ngx-admin, please, open them in the [appropriate repository](https://github.com/akveo/ngx-admin).

[2018-11-30 09:30] #1005 closed

[2018-11-30 09:34] Tibing commented on #1008
Hi @ilDon, thanks for your feature request. If you want to help, please, feel free to submit pull requests 😄

[2018-11-30 09:36] Tibing commented on #1016
Hi @WLun001, could you please describe slightly deeper what do you mean?

[2018-11-30 09:39] Tibing commented on #1018
Hi @IgnacioYanjari, could you please describe your use case slightly deeper?

[2018-11-30 09:42] Tibing commented on #1019
Hi @sami6002, as I see your issue properly, you have to set `required` attribute on your `input` element.

[2018-11-30 09:42] #1019 closed

[2018-11-30 09:45] Tibing commented on #1028
Hi @maihannijat, thanks for submitting a feature request. If you want to help us improve Nebular, please, feel free to submit a pull request 😄

[2018-11-30 09:50] Tibing commented on #1017
Hi @sukeshlaghate, I've checked your example it works properly. Could you please provide reproducibly [stackblitz](http://stackblitz.com)?

[2018-11-30 11:36] akshayhandoo opened #1029 "Add badge to nbMenu/ side menu"
Is there any custom way to do it as it's not officially used with the side menu, so that i can show notification counters in that badge

[2018-11-30 12:27] V-Ahmetvaliev opened #1031 "Multiple select wrong behavior with options selecting from keyboard"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Multiple select works incorrect with keyboard, it's possible to navigate inside select and switch between options, but selecting any option with keyboard will not highlight element, will not add check-mark and next option selection will add one more instance of this select

[2018-11-30 12:36] #1027 closed

[2018-11-30 13:02] WLun001 commented on #1016
Hi @Tibing
What I mean is when we type something on the NbSearch bar, it will emit event so that we can handle it, and show suggestion

As I go through the source code, https://github.com/akveo/nebular/blob/master/src/framework/theme/components/search/search.component.ts#L54, it is listen to keuyp,enter event

It is okay that change to input event?So that event will emit continuously as the user i

[2018-11-30 13:38] maihannijat commented on #682
@nnixaa the above should work fine according to your explanation, but it does not. It still has the same behavior. No errors in the console, but clicking on the social icon refreshes the page.

[2018-11-30 13:45] andredatsch commented on #987
I changed to Dialogs, works just fine, thanks @Tibing, now i just have 40 forms to refactor lol

[2018-11-30 14:20] Tibing commented on #987
@andredatsch, fine. Let's keep this issue opened, we have to take a look on it deeper.

[2018-11-30 14:49] IgnacioYanjari commented on #1018
I can use the CustomDayCellComponent for change the style of specific days, via boolean variable pass through that component. Something like this.
![image](https://user-images.githubusercontent.com/18061260/49296029-f73bdc80-f495-11e8-8d95-8f53b47fda85.png)

[2018-11-30 14:51] IgnacioYanjari commented on #1018
I need to pass a boolean variable to CustomDayCellComponent for custom some days because in those days  have events because and i need custom style for each one

![image](https://user-images.githubusercontent.com/18061260/49296054-028f0800-f496-11e8-8ac2-1f3fb2aad00e.png)

[2018-11-30 17:21] andredatsch opened #1035 "Help needed with NB Dialog"
### Issue type

* [ ] bug report
* [ ] feature request
* [ X ] Help needed
### Issue description

**Current behavior:**
How do i set the fixed width of my dialog? it changes the size depends on the content

**Expected behavior:**
There is any configuration like on NGB Modal where you pass what size of modal you want?

**Steps to reproduce:**

**Related code:**

![24122fe28571f42b0bae816c1fedcabe](

[2018-11-30 18:49] maihannijat commented on #1028
@Tibing I am trying to push my changes but getting the following error:

I followed the CONTRIBUTING.md . Also, I want to change the API of this section : [https://akveo.github.io/nebular/docs/components/menu/api#nbmenucomponent](url). How can I do that?

[2018-12-02 00:00] MetaiR opened #1036 "integrate with native script"
can we use nebular ui kits in nativescript? if we can, is there any document for that?

[2018-12-02 11:48] faztp12 commented on #879
@Tibing
I think this issue still persist. Wrapping <nb-layout> at component root fixed #943
But, the issue still exists when we try to open a dialog from a service.

The issue i observed:
There are two components, A & B lazy loaded into same router outlet wrapped in an nb-layout

load A, everything works fine
load B, try to open a dialog (invoke function in service), nothing shows up
I have RouteR

[2018-12-02 12:12] faztp12 commented on #879
Looks like Lazy loaded modules gets services instantiated twice.
I had a mechanism to have it loaded only once and that caused all the mayhem.

If people are facing this issue: console log in your service constructor and watch no. instantiation
Then, get it instantiated in root component, (simple injection) and this makes sure the dialog comes up in root component's context.

Nebular supports dial

[2018-12-02 23:39] gjsmith66 opened #1037 "Class constructor OverlayContainer cannot be invoked without 'new'"
**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When trying to set target to es6 in tsconfig, the application compiles, however this error is reported on startup.

Class constructor OverlayContainer cannot be invoked without 'new'

**Expected behavior:**
No error

**Steps to reproduce:**

"target": "es6",
    "lib

[2018-12-03 03:20] WLun001 commented on #1016
No problem, there you go

https://github.com/akveo/nebular/pull/1038

[2018-12-03 08:06] Tibing commented on #1028
@maihannijat, you have to fork our repo and send us pull request from your fork.

[2018-12-03 12:04] francisedulab opened #1040 "NBStepper isLinear"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x ] feature request

### Issue description

**Current behavior:**
There is no option for linear as shown in
https://material.angular.io/components/stepper/overview
the user can click on the step number and he will land on that step

**Expected behavior:**
when there is step 1,2,3 the user when clicks on step three

[2018-12-03 13:25] nnixaa opened #1041 "Menu: add unit tests for public API"
We need unit tests to be able to re-do the menu in future.

[2018-12-03 14:45] Tom4U commented on #29
There is much sense. Of course we could add our own nodes into `nb-action`, but we would have to recreate everything from scratch for links and badges. This just doesn't makes sense. Better provide a `href` (use href for a-tag) and `link` (use routerLink for a-tag) attribute (maybe even with title) as `@Input()` and use them inside the component's template instead.

If you would provide better DEV

[2018-12-03 18:35] andredatsch commented on #1035
Fixed it making a custom css with media query, will close the Issue

[2018-12-03 18:35] #1035 closed

[2018-12-04 05:03] Hanggi opened #1044 "Could NBSidebar bu closed by click blank?"
some like modal sidebar, and click modal to close the sidebar?

Thank you.

[2018-12-04 05:42] sprakash1 commented on #467
![capture](https://user-images.githubusercontent.com/1481342/49421337-675ba280-f7b5-11e8-98c6-72895da90f5c.PNG)
im also looking for it. plz reply

[2018-12-04 06:30] #1025 closed

[2018-12-04 16:44] Tom4U commented on #29
Ok, got it up and running and therefore can provide the changed code:
#1046
@nnixaa

[2018-12-04 16:46] Tom4U commented on #814
Could be possible now :)
#1046

[2018-12-05 09:21] lukele1607 opened #1047 "How to use Datepicker with a TimeZone ?"
### Issue description

I want to use Datepicker with other TimeZone . How to do that ?

Thank you !

[2018-12-05 09:43] Alkasih opened #1048 "Upgrading to 3.0.0 - HTTP_INTERCEPTORS not sending http bearer"
### Issue type

**I'm submitting a ...**
* [x ] bug report

### Issue description

By providing `{ provide: HTTP_INTERCEPTORS, useClass: NbAuthJWTInterceptor, multi: true}` in 2.0.0-rc.9 set the http bearer after success login for every request, but it doesn't in 3.0.0

[2018-12-05 10:21] gyab12 commented on #706
@jjgriff93 I am also finding similar issues, maybe you can help me a bit here, I try to get the User Role from the JWT, It will be really helpful if you can share more light on this for me.

Regards

[2018-12-05 11:49] jashanbhullar commented on #387
Anybody know how to do it?

[2018-12-05 12:44] NataD opened #1049 "Hello,"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-05 12:48] sukeshlaghate commented on #1017
Hi @Tibing,

Sure will create a stackblitz. I am currently short on time, will do so over weekend.
Appreciate your patience and help.

regards
Sukesh

[2018-12-05 12:51] #1049 closed

[2018-12-05 12:52] NataD commented on #1049
Sorry, mistakenly posted problem here :/

[2018-12-05 14:06] akshayhandoo commented on #1029
@sprakash1
I managed to do so by copying the menu of nebular(https://github.com/akveo/nebular/tree/master/src/framework/theme/components/menu) folder in my theme/components folder and added a "badge" param in menu.service.ts file and imported NbMenuModule accordingly and added matBadge in 'menu-item.component.html', it worked. i am adding files of my customize menu and also theme.module.ts  which

[2018-12-05 16:56] jjgriff93 commented on #922
Hi @nnixaa - any ideas on the above?

[2018-12-06 07:51] Newan commented on #1029
I copyed your theme.module file in ngx-admin@theme/components/menu folder.
Changed also the css file because an import error was occurs.
I changed the theme.module.ts to import my components and not the nebular components.
but i get an error:
[code]

[2018-12-06 07:53] #1047 closed

[2018-12-06 13:11] #926 closed

[2018-12-06 13:17] yggg opened #1050 "Fix search in docs"
Subj, re-push new config.

[2018-12-06 14:09] Tibing opened #1051 "Analyze performance, investigate metrics"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-06 14:44] alobaton commented on #398
Hi,

Is there a way to translate the forms, buttons, etc. of the auth components?

Thanks.

[2018-12-06 16:25] tpehrsson opened #1053 "nb-select multi - Drop down list checkbox disabled"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

When list of nb-select options are populated in constructor, the drop down works as expected.
When list of nb-select options are populated using method (onPopulate) the list is populated,
but the checkbox control is disabled. In other word, no drop d

[2018-12-06 16:32] tpehrsson commented on #1053
[test.component.txt](https://github.com/akveo/nebular/files/2653953/test.component.txt)

[2018-12-06 16:35] tpehrsson commented on #1053
[test.component.txt](https://github.com/akveo/nebular/files/2653969/test.component.txt)

[2018-12-06 19:37] tanmayparmar opened #1054 "Nb-select Cascading"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [* ] feature request

### Issue description

**Current behavior:**
i am using [this example](https://stackblitz.com/edit/cascading-dropdown-angular) for cascading NB-select. However, it is not sending selected value onchange event. it is initially loading dropdown. So, my services are running fine.

**Expected behav

[2018-12-06 20:31] jjgriff93 commented on #706
Hi @gyab12 - I'm not on the Akveo team so sure they can answer it better than I can, but from my understanding they are just self-contained roles, which you can define - you can then use them in certain components to only allow access if a user has that specific role in their profile using `*nbIsGranted`. The documentation they've put together is pretty good, check it out here: https://akveo.githu

[2018-12-06 21:51] joshuatester opened #1055 "Overriding nb-menu and corresponding menu-items"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [x?] feature request

### Issue description

**Current behavior:**
I am trying to extend the NbMenu and NbMenuItem components.  The nebular library has some hard-coded values for handling toggling of different states that check for hard-coded selectors in the code.  In this case, toggling the sidebar to expand when

[2018-12-07 06:59] mahnuh opened #1056 "NbDatePicker: validation fails when using format="dd.MM.yyyy""
### Issue type
* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When using format="dd.MM.yyyy" on NbDatePicker only dates from the 1st till 12th of a month are valid in the formGroup. Using @nebuler/moment and @nebular/date-fns does not make any difference. The issue here seems to be that the form validation does not use the date format I provided. This is the v

[2018-12-07 07:39] joemak93 commented on #628
Hello @Prefix1802 @nnixaa , May I know how to remove the "back button" in the page top-left?
<img width="690" alt="screen shot 2018-12-07 at 3 37 43 pm" src="https://user-images.githubusercontent.com/6102695/49633967-4950a500-fa36-11e8-9835-bd7879ad8a1a.png">

[2018-12-07 08:46] Arman625101 commented on #1037
Same error!

[2018-12-07 11:30] Tibing opened #1059 "Rxjs subscriptions management refactoring"
Change all `takeWhile(() => this.alive)` to the `takeUntil(this.destroyed$)`. Because of possible memory leaks.

[2018-12-07 20:33] Dalejan commented on #926
ERROR TypeError: date.getFullYear is not a function
Im gettin this error when add format="MM/dd/yy" in nb-datepicker component

[2018-12-07 23:40] dizco commented on #398
@alobaton as far as I know, no. If you look at [login.component.html](https://github.com/akveo/nebular/blob/master/src/framework/auth/components/login/login.component.html#L82) from nebular, you can see that the buttons text is hardcoded. The only way to translate those as it stands is to copy the component into your own app and modify them from there. This is actually exactly the point raised by

[2018-12-08 19:33] felixwahner commented on #1010
Hi @Tibing,
That would be: https://stackblitz.com/edit/angular-agj9xr

[2018-12-08 22:02] DanishFayaz commented on #926
Same Issue. When I set my form fields and click for the calendar to open. I get the same error in the console and all the dates on the calendar are gone.

[2018-12-09 07:53] alikarimii opened #1060 "SSR getBoundingClientRect is not a function"
I use Nebular theme module for my app.when implement SSR for my project this error appearance
`ERROR TypeError: this.document.documentElement.getBoundingClientRect is not a function
    at NbLayoutComponent.getScrollPosition (/universal/dist/server.js:161555:58)
    at NbLayoutComponent.scroll (/universal/dist/server.js:161575:23)`

I used `domino` as this issue #402
npm v6.4.1
node v8.12.0

[2018-12-09 08:46] Prefix1802 commented on #628
@joemak93

Dis you follow these steps:

https://github.com/akveo/nebular/blob/master/docs/articles/auth-custom-ui.md

[2018-12-09 12:17] blochaou commented on #340
Hi
You can customize the NbResetPasswordComponent et set the email in the user model

Create your module :
[code]

Extends the NbResetPasswordComponent
[code]

Change the navigation :
[code]

[2018-12-10 01:32] joemak93 commented on #628
@Prefix1802 Yes I did. but I have no idea where to modify that "back arrow", it is out of the "login.component.html"

[2018-12-10 13:12] fatma-hassanein commented on #971
The issue you referenced after being solved didn't solve my problem, should I open a new issue ??
My issue is when I put a nb-select inside the nb-header and make it fixed the menu of the select doesn't work properly, the header suddenly disappear and the menu is half cropped and misplaced !

![screenshot 6](https://user-images.githubusercontent.com/17416140/49734719-e78a7800-fc8d-11e8-9a92-94770f

[2018-12-10 16:09] sameerpallav opened #1061 "File to import not found or unreadable error"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
npm start fails to complie bcoz of these errors

**Expected behavior:**
Run the webpack server succesfully

**Steps to reproduce:**

**Related code:**
{
  "name": "ngx-admin",
  "version": "2.1.0",
  "license": "MIT",
  "repository": {
    "type": "g

[2018-12-10 19:14] ganapathymano opened #1062 "nb-select changing outline color"
I am trying to change the outline color of nb-select while validating.
I am using nb-select with outline option and status="success"

when the user didnt select this required field i am trying to change the outline color of nb-select. But unable to do that, could you please help in doing this?

### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

[2018-12-11 09:46] Suyashjc commented on #339
npm i node-sass@4.8.1 this should solve the problem make sure your node version is below 10

[2018-12-11 10:44] tuannh2 opened #1063 "Cannot select option when bind data dynamic into nb-select"
I'm using nb-select for my project, and when i bind data auto in nb-select, i cannot select option as below images:

![image](https://user-images.githubusercontent.com/33337972/49795169-e596e680-fd6b-11e8-8b0f-448a8fc656c6.png)

![image](https://user-images.githubusercontent.com/33337972/49795213-04957880-fd6c-11e8-80c3-8ec37bee9d80.png)

my code in component:

"
import { Component } from '@angula

[2018-12-11 16:00] abhilashfancy opened #1064 "Documentation does not have proper details"
I have recently integrated Nebular and I have only used the login and register part till now. But I found that the documentation does not have any details about what the NbAuthJWTToken should contain. Because of this I was getting error even after successful login. The documentation does not even mention how to add the redirect parameters in the login result. At present after successful login I am

[2018-12-11 22:03] gaspardip commented on #1063
Its already fixed by #1009 but Nebular 3.0.1 is not complete yet

Duplicates: #948 #931

[2018-12-12 11:13] am-trinity opened #1067 "LibSass @import *.css deprecation"
### Issue type

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
`DEPRECATION WARNING on line 1, column 8 of /home/user/workflow/tmp/ngx-admin/node_modules/@nebular/theme/components/cdk/overlay/_overlay.theme.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain th

[2018-12-12 16:16] suppadeliux commented on #188
Still nothing :(,

[2018-12-12 21:38] Steven4294 commented on #467
bump!

[2018-12-13 07:00] sukeshlaghate commented on #1017
Hi @Tibing,

I tried creating stackblitz. However i ran into tangential issues. :(

I am not able to figure out how to apply nebular theme. when I tried to add default theme ("node_modules/@nebular/theme/styles/prebuilt/default.scss") to styles tag in angular.json, stackblitz threw error.
[code]
Here is the link to my  [stackblitz](https://stackblitz.com/edit/nebular-1017?file=angular.json)

Reque

[2018-12-13 07:13] sukeshlaghate opened #1070 "Feature Request for new component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
It would be great if we can introduce a [ribbon](https://www.bootply.com/bPVKmLn4Nj) component which can be used with other components like card, inputs etc.

[2018-12-13 07:44] #1063 closed

[2018-12-13 07:50] Tibing commented on #1062
Hi @ganapathymano, as the `status` is plain Angular Input property you may change its value the following way:
[code]
[code]

[2018-12-13 07:50] #1062 closed

[2018-12-13 07:55] Tibing commented on #1061
Hi @sameerpallav, as I see, you're trying to run `ngx-admin`. And errors mentioned above may appear if you update Nebular without updating `ngx-admin`. So, please, update `ngx-admin` first.

This issue isn't related to the Nebular project but to the `ngx-admin`, so, if you still have the same errors, please, reopen the issue in the [ngx-admin repo](https://github.com/akveo/ngx-admin).

[2018-12-13 07:55] #1061 closed

[2018-12-13 08:36] Tibing opened #1071 "Popover: add unit tests"
Add unit tests for popover

[2018-12-13 08:37] Tibing opened #1072 "Tooltip: add unit tests"

[2018-12-13 08:38] Tibing opened #1073 "Context Menu: add unit tests"

[2018-12-13 09:02] Tibing commented on #971
Hi @fatma-hassanein, could you please provide us a reproducible [stackblitz](https://stackblitz.com/)?

[2018-12-13 13:07] yggg opened #1074 "Release 3.0.1"

[2018-12-13 13:18] yggg opened #1075 "Get rid of class prefix"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [] bug report
* [x] feature request

### Issue description
/playgournd

[2018-12-13 13:19] yggg opened #1076 "Playground schematics: gulp"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-13 13:22] yggg opened #1077 "Playground schematics: list of all examples"

[2018-12-13 13:23] yggg opened #1078 "Playground schematics: exceptions"

[2018-12-13 13:26] yggg opened #1079 "Playground schematics: add to dev docs"

[2018-12-13 14:31] sameerpallav commented on #1061
Thanks @Tibing. I'll check it out

[2018-12-13 15:09] gaspardip commented on #975
I have a dialog that is taller than the viewport, how can I make it display the whole content, any guidance would be really helpful, even if its kind of a hack.

[2018-12-13 16:18] nnixaa commented on #922
Hey @jjgriff93, we are releasing 3.0.1 with a couple slight fixes to make the inheritance simpler.
We also added an example of Azure provider, you can find the code either in the PR here https://github.com/akveo/nebular/pull/1065/files#diff-aefaa618a30ec554144a3413976c071c or later on in the docs.
The example will be deployed to our docs so that you can check.
Hope it resolves all the issues!

[2018-12-13 16:19] #922 closed

[2018-12-13 16:46] nnixaa commented on #1044
Hi @Hanggi, I believe you can add a click to document, filter then clicks on the sidebar and just call `sidebarService.collapse()`. We should update the docs with this example.

[2018-12-13 16:48] nnixaa commented on #1048
Hi @Alkasih, I believe you need to walk through the https://github.com/akveo/nebular/blob/master/CHANGELOG.md as since rc.9 quite a lot has been changed.

[2018-12-13 16:49] nnixaa commented on #387
planned for 3.2.0

[2018-12-13 16:54] nnixaa commented on #1055
Hey @joshuatester, will you be able to post the example to stackblitz?

[2018-12-13 17:00] #1074 closed

[2018-12-13 17:30] andredatsch opened #1081 "Nb-datepicker with inputed date"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

How can i set the nb-datepicker to work with the inputed date?

![157521773bf14f2fddc960c117a5c00f](https://user-images.githubusercontent.com/3539904/49956306-04bc8200-feec-11e8-8844-261e2c63ad33.gif)

[2018-12-13 18:01] prasadprabha opened #1082 "Nb-Menu items highlight/select issue."
Hi,

I am facing an issue with Nb-Menu items while selecting. This happens sometimes in the middle of the workflow of the application. The selection of the items will not move away from it even if you select other menu items.   see the screenshot
![screenshot1](https://user-images.githubusercontent.com/16094383/49957628-6bfb2600-ff2e-11e8-86fc-d2794d34ee56.png)

Here is the code...I dont find any

[2018-12-14 06:16] mahnuh opened #1083 "3.0.1 breaks date picker breaks whole app"
### Issue type

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Using the date picker on one page breaks the whole app when trying to navigate from that page to another. The console says `ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'detach' of undefined`. (see whole output below)

**Expected behavior:**
App won't break.

**Related code:*

[2018-12-14 16:33] Tibing opened #1084 "Popover with template ref doesn't render passed context"
Check [this example](https://akveo.github.io/nebular/?p=/example/popover/popover-template-ref.component)

[2018-12-14 22:41] Gocnak opened #1085 "NbPopoverDirective lacks a null check for its NbOverlayRef in ngOnDestroy()"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

In our app, we have a stepper with some steps using popovers to give "extra" data. The popover works fine, but when we try to navigate away from the component, the page errors out on destroying the component, in particular the NbPopoverDirective used in the steps. This on

[2018-12-16 02:33] AnisAli opened #1087 "How to pass Params with Link in nbContextMenu"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-16 12:48] tomadj commented on #1056
Hi !

Same problem in 3.0.1

[2018-12-16 13:30] tomadj opened #1088 "nb-datepicker with NbDateFnsModule not working"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

Hello,

Error bellow is throw **but NbDateFnsDateModule is imported  :**

 Can't format native date. To use custom formatting you have to install @nebular/moment or
    @nebular/date-fns package and import NbMomentDateModule or NbDateFnsDateModule accordingly.

**But not i

[2018-12-17 12:44] Tibing commented on #875
Blocked by #1041

[2018-12-17 12:53] #241 closed

[2018-12-18 12:38] darklinki commented on #20
@fransyozef
Open the `package.json` file in your project, there you can see the actual used version.
e.g.
`"font-awesome": "^4.7.0",`

Feel free to adjust them, but be carefull for breaking changes (Very unlikely on icon packages..)
Then just run `npm update`

Oh and @HerreraG if u insert it this way in your index.html you will load 2 versions (The one from the package.json and your own defined).

[2018-12-18 12:56] IgnacioYanjari commented on #1018
I use ngbCalendar of bootstrap, in this link you can view an [example](https://ng-bootstrap.github.io/#/components/datepicker/examples#customday)

[2018-12-18 16:19] Tibing commented on #1081
Hi @andredatsch, I've tried to reproduce this issue with [showcase in Nebular docs](https://akveo.github.io/nebular/example/datepicker/datepicker-showcase.component) and it works fine for me. Does it work for you? If not, could you please provide a reproducible example with the issue?

[2018-12-18 16:30] Tibing commented on #1082
Hi @prasadprabha, I've tried to reproduce the issue via copying your menu items and it works properly. So, could you please provide us with the reproducible example?

[2018-12-18 16:41] RoshanHalwai commented on #628
I am facing the same problem of "back arrow", any help would be appreciated.

[2018-12-18 16:46] Tibing commented on #1056
Hi Guys! Thanks for reporting this issue. But, As I see it, the solution is quite straightforward. You are trying to set format as `dd.MM.yyyy` but if we refer to [moment](https://momentjs.com/docs/#/parsing/string-format/) or [date-fns](https://date-fns.org/v1.30.1/docs/format) docs we'll find out we have to use all uppercase letters in format, like that: `DD.MM.YYYY`.

I'm closing the issue. If

[2018-12-18 20:16] tomadj commented on #1056
Hi @Tibing,

No uppercase letters don't work :

`DD.MM.YYYY` --> output  `DD.12.YYYY `
`MM.DD.YYYY `--> output  `12/DD/YYYY`

`dd/MM/yyyy`  --> output  `20/12/2018`  OK BUT the formcontrol is not valid as @mahnuh said.

(With date-fns)

Thank's

[2018-12-19 01:51] do-yeon opened #1094 "Cannot active search component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Can't activate the NbSearchComponent by using NbSearchService in all of components.
and can't subscribe this service.

**Expected behavior:**

NbSearchComponent should activate.
**Steps to reproduce:**

![2018-12-19 10 46 16](https://user-images.githu

[2018-12-19 06:52] Tibing commented on #1054
Hi @tanmayparmar, regarding your example, you're trying to use `nb-select` with Angular 5, but `nb-select` was introduced after Angular 6 release. Moreover, Nebular requires Angular 7 now. So, could you please try with the latest Angular and Nebular versions?

[2018-12-19 09:52] jromerob commented on #1056
Same issue for me .

[2018-12-19 10:34] jromerob commented on #1056
<nb-datepicker format="yyyy-MM-dd" #startcontrol> </nb-datepicker>
Works right but isn't the correct format for spanish date
![image](https://user-images.githubusercontent.com/11867464/50214959-f2c25f80-0381-11e9-8a86-a238d5c2ef74.png)

[2018-12-19 10:48] mahnuh commented on #1056
@Tibing as @jromerob and @tomadj put out, it is still an issue. Can you please reopen it?

[2018-12-19 15:03] tanmayparmar commented on #1054
Hello @Tibing , i am using anguar 7.  That example is just what i wanted to do. So, Do you have any event  that gave me values on change.

Like this.
<select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)">

[2018-12-19 16:05] RamEduard opened #1095 "NbRangepickerComponent Error -> Uncaught (in promise): TypeError: Cannot read property 'detach' of undefined"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

When change my page component in my admin throws the error:

[code]

**Expected behavior:**

When I try to change the page do not throw the exception. It can be a validation in the component o

[2018-12-19 20:14] tanzeelrana commented on #1063
is this fix released ?

[2018-12-20 02:32] tuannh2 commented on #1063
Thanks @tanzeelrana.

I already used the normal select control instead of nb-select.

Tuan,

[2018-12-20 09:04] RajeshJs opened #1098 "How can I use NbAuthModule without NbThemeModule?"
How can I use NbAuthModule without NbThemeModule?

[2018-12-20 10:59] do-yeon opened #1099 "Toastr doesn't appear"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [x] feature request

### Issue description

**Current behavior:**

First, you go to the dashboard page that includes some codes to show toastr on AfterViewInit. It will show toastr.
And then you go to login page(because of logout),
when you try to open again the dashboard, it doesn't appear.
The global overlay wrapp

[2018-12-20 11:08] Tibing commented on #1054
Hi @tanmayparmar, oh, ok, regarding the [documentation](https://akveo.github.io/nebular/docs/components/select/api#nbselectcomponent) `nb-select` has `selectedChange` output. As I understand properly it's exactly what are you searching for.

[2018-12-20 11:08] #1054 closed

[2018-12-20 13:08] Tibing opened #1100 "Add tsconfig for es6 target in packages-smoke"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-20 13:17] Tibing opened #1101 "Context Menu: dynamic inputs"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-20 13:20] Tibing commented on #987
Datepicker component works fine with Nebular dialogs, but it has z-index issues with third-party modals.

[2018-12-20 14:41] Tibing commented on #1053
Hi @tpehrsson, I've tried to reproduce the issue via coping code you've posted here and it works fine for me.
![kapture 2018-12-20 at 17 12 29](https://user-images.githubusercontent.com/17410089/50290992-5a5dd500-047e-11e9-801d-9f3b386b0250.gif)
Could you please create a reproducible [stackblitz](stackblitz.com)?

[2018-12-21 04:45] Yang-tzu-yi opened #1102 "Datepicker two-way data binding bug ( version 3.0.0 )"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

[code]

**Expected behavior:**

Expected two-way data binding to be working with datepicker component

**Steps to reproduce:**

[code]

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-12-21 09:13] RajeshJs commented on #1098
I have solved this problem.

[2018-12-21 09:13] #1098 closed

[2018-12-21 09:30] garyng commented on #261
I created a custom `LogoutComponent` (https://akveo.github.io/nebular/docs/auth/custom-auth-components), override `logout` to call `.clear()` on `NbTokenService`.

Something like this:

[code]

Referring to https://github.com/akveo/nebular/issues/38#issuecomment-370788867:
Seems like during logout, `result.isSuccess()` always return `false` which will skip deleting the token.

[2018-12-21 09:59] developcodeza-matthew commented on #1099
I've been struggling with this for the past couple weeks as well. Hoping someone has a solution.

[2018-12-21 12:42] garyng commented on #1085
Any ETA for the merge?

[2018-12-21 12:47] nnixaa commented on #1085
I guess we are safe to merge.

[2018-12-21 12:49] #1085 closed

[2018-12-21 17:30] pawelmaziarz opened #1103 "Trigger change tab in nb-tabset"
Hi, I have form with multiple steps - each step is on new tab. Of course I can switch between tabs clicking on tab title, however I would also like to use custom button on the bottom of the step like ,,Next step''. Is it currently easily possible to create custom buttom with action which changes current tab?

[2018-12-22 01:31] tanzeelrana opened #1104 "nb-accordion not working inside nb-tab"
### Issue type

**I'm submitting a bug**
* [x] bug report

### Issue description

**Current behavior:**

when I add `nb-accordion` inside a `nb-tab` which is inside a `nb-tabset`.  `nb-accordion` does not work the way I expect. It is initialized with an open state and when I close it, it does collapse. But when I try expanding it, it does not expand at all.

But when I use `nb-accordion` outside `

[2018-12-22 15:44] #791 closed

[2018-12-22 20:06] jjgriff93 commented on #1067
Also getting this issue on build:

[code]

[2018-12-22 20:10] jjgriff93 opened #1108 "Warning on build - DEPRECATION WARNING"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When doing an `ng build`, get these warnings related to Bootstrap within the ngx-admin template:

[code]

**Expected behavior:**
No build warnings

[2018-12-23 09:17] jinxiu3939 commented on #467
Oh, sorry, I can not find a solution. Maybe the next version can get it.

发送自 Windows 10 版邮件应用

发件人: Steven Petteruti
发送时间: 2018年12月13日 5:38
收件人: akveo/nebular
抄送: jinxiu3939; State change
主题: Re: [akveo/nebular] how to add a badge on the NbMenuComponent (#467)

bump!
—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub, or mute the th

[2018-12-23 19:52] jjgriff93 commented on #1085
Hi guys, having the same issue after upgrading to 3.0.1

[code]

Any ideas on when this will make its way into an update?

[2018-12-24 04:44] hosseinGanjyar commented on #623
@sukeshlaghate You should **JUST** change **pattern** property in:

To > ` pattern=\"[a-zA-Z0-9_.]+\"\n`

[2018-12-25 07:47] ehsan69h opened #1109 "error in /@nebular/theme/components/calendar-kit when try build --prod"
i give error when try to build --prod

ERROR in : Template parse errors:
The pipe 'date' could not be found ("
    <div class="header">
      <span class="title" (click)="navigateToday.emit()">
   [ERROR ->]     {{ date | date: 'mediumDate' }}
        <i [ngClass]="{ 'nb-arrow-dropright': isLtr, 'nb-arrow-d"): C:/Project/IBG/rep-IBG-Admin/ibg-admin/node_modules/@nebular/theme/components/calendar-k

[2018-12-25 08:43] garyng commented on #1085
I'm too waiting for the release - but for now I just `npm link`-ed the latest `nebular` source.

(Instructions here: https://github.com/akveo/nebular/blob/master/DEV_DOCS.md under the title `ngx-admin development on the latest Nebular sources`)

[2018-12-25 13:03] devrahuldataman commented on #628
I am also facing this issue. There is no need of back button in the login screen. admin, please help us.

[2018-12-26 09:42] #1060 closed

[2018-12-26 10:58] ledsonsilva commented on #1088
I'm also having this problem!

I have imported @ nebular / date-fns into my component but I still get this error on console, speaking to import.

Next images:

![captura de tela em 2018-12-26 08-55-15](https://user-images.githubusercontent.com/20303042/50443854-4f76ca80-08ec-11e9-8b19-e041cf99eb68.png)

![captura de tela em 2018-12-26 08-55-51](https://user-images.githubusercontent.com/20303042/50

[2018-12-26 11:42] #1077 closed

[2018-12-26 14:54] ledsonsilva opened #1110 "Datepicker - Possibility of showing only the year and month view"
### Issue type

* [ ] bug report
* [X] feature request
* [ ] question about the decisions made in the repository

### Possibility of showing only the year and month view

I searched the Datepicker component documentation, and I did not find a way to have a field only for MONTH / YEAR, I saw that there is startView that we can start with MONTH, but clicking it opens the DAYS of the selected month,

[2018-12-27 07:39] Tibing opened #1111 "Calendar I18n: some parts of the calendar can't be internationalized"
Some parts of the calendar kit can't be internationalized:

- [Here](https://github.com/akveo/nebular/blob/master/src/framework/theme/components/calendar-kit/components/calendar-header/calendar-header.component.ts#L21) we have `Today` word hardcoded in the template.
- Usage of Angular `DatePipe` [here](https://github.com/akveo/nebular/blob/master/src/framework/theme/components/calendar-kit/compone

[2018-12-27 08:11] malamut42 commented on #1095
Just add next code in node_modules/@nebular/components/datepicker/datepicker.component.js:

`NbBasePicker.prototype.hide = function () {
        if(this.ref) {
            this.ref.detach();
        }
        // save current value if picker was rendered
        if (this.picker) {
            this.queue = this.value;
            this.pickerRef.destroy();
            this.pickerRef = null;

[2018-12-27 13:02] rahul-pxl commented on #1109
Did you found a solution?
I am also getting this issue while `ng build --prod`.

[2018-12-28 14:23] nnixaa opened #1112 "Context Menu: ability to specify trigger"

[2018-12-28 14:24] nnixaa opened #1113 "Context Menu, Popover, Hint, etc: ability to specify `noop` trigger"
So that we can ask popover to not react to some trigger and trigger it programmatically.

[2018-12-28 15:51] tanmayparmar opened #1115 "Input box with Outline border like material design"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [* ] feature request

### Issue description
Are you guys planning to have something like this. As a user and developer i personally find it more useful and beneficial to end user.

**Current behavior:**
There is no InputBox with outline border.

**Expected behavior:**

There should be Input box with outline border l

[2018-12-29 01:01] debbabi-nader commented on #1083
I'm having the same issue with the date picker, the error appears either, when the application attempts to navigate from the component containing the date picker to another, or when I try to hide a UI element containing the date picker (hide a form containing a date picker to display a response message as an example).
Any news about this issue?
Thanks!

[2018-12-29 16:09] #1083 closed

[2018-12-29 20:18] jjgriff93 commented on #922
@nnixaa Apologies for the delay - I have implemented 3.0.1 and followed the Azure example and it's working perfectly thank you :)

[2018-12-30 02:05] jjgriff93 opened #1118 "Text doesn't wrap in Chat UI"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
In the chat UI, when a message goes over multiple lines, it doesn't wrap - so words are cut off midway through and makes the message hard to read.

![image](https://user-images.githubusercontent.com/25235950/50543712-2ea5c200-0bd7-11e9-9375-e8f2c89122

[2018-12-30 05:52] srijanreddy98 commented on #1083
I am facing the same problem. Any work around for this?

[2018-12-30 21:04] juliusiqbal commented on #1108
Same here, with a bit change in output,

`
DEPRECATION WARNING on line 1, column 8 of D:/Important/projects/itlogiko/pnp-web/node_modules/@nebular/theme/components/cdk/overlay/_overlay.theme.scss:
Including .css files with @import is non-standard behaviour which will be removed in future versions of LibSass.
Use a custom importer to maintain this behaviour. Check your implementations documentation

[2019-01-02 13:00] jjgriff93 commented on #1085
Thanks @garyng - we've just disabled the popovers for now as they aren't crucial, hopefully this will be part of a release soon

[2019-01-02 13:31] ledsonsilva commented on #1110
@Tibing

Is there any way to have this behavior ?? Without the need for evolution?

[2019-01-03 14:21] ussamoo commented on #809
Hello,
Is there any plan to release this feature ?
Thx

[2019-01-04 09:47] nnixaa commented on #1085
Guys, Happy New Year!🎄
And btw, the fix was released with 3.1.0.

[2019-01-04 09:54] #1071 closed

[2019-01-04 13:55] mobarokhossain opened #1122 "Getting Template parse errors: The pipe 'date' could not be found while running "ng build --prod""
**Getting date pipe error while running "ng build --prod"**

@rande @ceefour @beeman @mterwoord @nnixaa
If you are available, please help me to resolve this issue.

![image](https://user-images.githubusercontent.com/14954948/50691326-90907c80-105a-11e9-8dbe-bfd495cebe42.png)

[2019-01-04 14:38] beeman commented on #1122
@mobarokhossain it's a bit hard to find the issue without a sample repo. Feel free to share the repo with me and I will take a look to see if I can find it.

[2019-01-04 16:41] KennBro commented on #391
A reproducible example of this issue is to clone ngx-admin starter kit and try to change background color for an image.
For example, if I put the line
`
layout-bg: url(image/url/image.png),
`
as you suggested in the file ngx-admin/src/app/@theme/styles/themes.scss
`
$nb-themes: nb-register-theme((
  // app wise variables for each theme
   sidebar-header-gap: 2rem,
   sidebar-header-height: initial

[2019-01-04 16:48] juliusiqbal commented on #1122
set **enableIvy** to false in **angularCompilerOptions** in tsconfig.json or tsconfig.app.json,
`"angularCompilerOptions": {
    "enableIvy": false
}`

[2019-01-04 16:56] KennBro commented on #391
If I change the lines, where it says layout-bg by color-bg everything works.

[2019-01-04 17:49] jjgriff93 opened #1125 "Adding dynamic values for auth module forRoot() configuration"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description

**Current behaviour:**
Hi team, happy new year!

We're currently implementing a continuous integration/deployment pipeline for the Angular app from our local dev to Azure test and production web app slots, and we've hit an Ahead of Time compilation challenge.

With JIT com

[2019-01-04 17:51] mobarokhossain commented on #1122
@juliusiqbal  bhai, Its worked for me.
I appreciate your feedback. thanks a lot!

[2019-01-04 17:53] mobarokhossain commented on #1122
@beeman thanks a lot for your response.

[2019-01-04 17:53] #1122 closed

[2019-01-05 05:54] karthikkavin opened #1126 "How to use time picker in nbDatepicker?"
Hi!!!
Please help how to add time picker feature while using nbDatepicker?

[2019-01-05 09:46] prasadprabha commented on #1082
Ok sure...I will bring up the reproducible code...but I am sure that this happens when there is a third level nesting in the Nb-Menu items. Here all the high-lighted items are on the third level nesting.

[2019-01-06 03:44] joshua147 commented on #628
I was able to remove the header and back button by adding the snippet below to my custom auth components scss files. Not sure if this is the best way, but it worked for me.

For example, this went into my auth/login/login.component.scss - Remember to add the StyleURL to the component .ts files if you have no done so already. They are not there out of the box.

` /deep/ .nb-theme-cosmic nb-card-hea

[2019-01-06 07:33] bluemmb commented on #213
Please add this to the documentation. It is really important to know about.

We have decided to use Nebular for an app that will release 2 months later and we are worried about this!

[2019-01-06 16:31] ganapathymano commented on #926
Hi DanishFayaz, I am also facing the same issue, are you able to solve it?

[2019-01-06 16:48] Dalejan commented on #926
I quit nebular, now i'm using another framework. Nebular is good but these
kind of issues were very important to my project.

El dom., 6 de ene. de 2019 a la(s) 11:31, Ganapathy Mano (
notifications@github.com) escribió:

[2019-01-07 18:43] nmorenor opened #1128 "Provide a way to hash password on register/login"
Right now when you register/login using the NbPasswordAuthStrategy at the time when the request is sent to the back-end on the specified endpoint. The password is on plain/text, it would be nice to add a hash function, as a parameter of the strategy setup, that is used to get a hash for the password before it is sent to the back-end. May be also have some pre-built hash functions?

### Issue type

[2019-01-08 07:02] rakesh-ideal opened #1129 "Can(should) we add, Table, Pagination, Sorting and searching in Nebular."
Like auth can we have Table, Pagination, Sorting and searching for nebular.

[2019-01-08 07:35] sprakash1 commented on #1029
thanks @akshayhandoo .. its help me

[2019-01-08 07:54] chihab opened #1130 "Missing @nebular/date-fns and @nebular/moment dependencies on packages-smoke repo"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
[code]

**Expected behavior:**
[code]

**Steps to reproduce:**
[code]

**Proposed solution:**
Add missing dependencies in packages-smoke/package.json
[code]

### Other information:

**Angular**
[code]

**Nebular**
[code]

[2019-01-08 11:46] cloakedch opened #1131 "How to refresh tokens in NbPasswordAuthStrategy"
I would like to know how refreshing tokens with the NbPasswordAuthStrategy is supposed to be implemented on the server side. As there is no refresh-/access-token concept like in the NbOAuth2AuthStrategy, I have the impression that it is only possible to refresh a token using an already expired token. Is that correct? I read that refreshing an expired token has security implications.

[2019-01-08 13:20] nnixaa opened #1132 "Public API control"
We need to make sure we don't provide everything as a public API.

[2019-01-08 13:40] calchuchesta opened #1134 "Class constructor OverlayContainer cannot be invoked without 'new'"
### Issue type

**I'm submitting a ...**
* [ X ] bug report
* [    ] feature request

### Issue description

**Current behavior:**
After updating from Angular 5 to 7.1 and updating the necessary code, this error pops up. The app builds, the error appears on the browser console.

**Expected behavior:**
No error.

**Steps to reproduce:**
Update to Angular 7 from a previous version and run ng serve.

[2019-01-08 15:57] fernando-almeida opened #1136 "Context menu does not render after router navigation"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Following an OAuth2 flow similar to the samples, the user context menu in the header component does not drop-down upon click and yields the following stack trace.

main.a72571efe1e9cccd811a.js:69949 ERROR TypeError: Cannot read property 'appendChild'

[2019-01-08 16:14] #1113 closed

[2019-01-08 19:40] juliankrupka opened #1140 "How can I change the flip-card- icon?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x ] feature request

### Issue description
Im using a nb-flip-card and I want to change the arrow icon for another one.

Even more, I would like to change it into a button.

it is possible? I didnt find any further information to do it (Or I couldnt find it)

Thanks

[code]

### Other information:

**npm, node, OS,

[2019-01-09 10:45] #1112 closed

[2019-01-09 10:45] #1079 closed

[2019-01-09 11:19] calchuchesta commented on #1037
Any progress on this? I've got the same issue.

[2019-01-09 11:23] nnixaa commented on #1134
Closing as duplicate.

[2019-01-09 11:23] #1134 closed

[2019-01-10 13:03] yggg opened #1142 "Tests for dynamic popover input"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2019-01-10 13:08] yggg opened #1143 "Treegrid component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2019-01-10 14:10] alikarimii opened #1144 "DefaultServerRenderer2.setProperty error in SSR angular universal"
I use [universal-starter](https://github.com/angular/universal-starter) with some change in` server.ts`. I added `domino` to define window object to prevent some "window not define" error on the server side.

This is error log:
`ERROR TypeError: Cannot read property 'toLowerCase' of undefined at
EmulatedEncapsulationServerRenderer2.DefaultServerRenderer2.setProperty
(/universal/dist/server.js:1252

[2019-01-11 09:21] #387 closed

[2019-01-11 09:34] ilDon opened #1145 "Tooltips hiding not working: ERROR TypeError: Cannot read property 'detach' of undefined"
### Issue type

**I'm submitting a ...**  (check one with "x")

[x] bug report
[ ] feature request

### Issue description

**Current behavior:**
Tooltips hiding does not always work. After mouse leaves the element, the tooltip remains on screen.
The following error us thrown in console:

    ERROR TypeError: Cannot read property 'detach' of undefined
    at NbTooltipDirective.push../node_modules/@

[2019-01-11 10:52] nnixaa commented on #1145
Fixed in https://github.com/akveo/nebular/commit/9360a4b6e110209c30d9309eca8e1e5257058375. Planned for 3.2.0

[2019-01-11 10:52] #1145 closed

[2019-01-11 11:30] AliObaji commented on #1145
Any idea when 3.2.0 is gonna be released  ?

[2019-01-11 14:19] yggg commented on #188
Hi guys! Fix planned on 3.2.0 release. Then you will be able to set route in any way supported by [`routerLink`](https://angular.io/api/router/RouterLink).

As a workaround, for now, you can provide dynamic values only via single strings. Like this:
[code]

[2019-01-11 15:57] nnixaa opened #1147 "NbPopoverDirective doesn't work when position=start/end and adjustment=noop"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

![image](https://user-images.githubusercontent.com/230527/51044670-ad84fc80-15d2-11e9-898e-0b9d26ff0ebe.png)

**Expected behavior:**

No errors and working popover.

**Related code:**
[code]

[2019-01-11 16:21] ESadouski opened #1148 "Opportunity to add custom css class on overlays"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

Sometimes its necessary to style inner overlays. For example overlay inside context menu. Seems that is not possible now

[2019-01-11 21:52] MaSydJun commented on #1136
Yep, having the same issue with _NbPasswordAuthStrategy_.

[2019-01-12 08:15] XTalandier commented on #1102
Same issue here

[2019-01-12 13:05] msincuba commented on #902
I would love to have this feature added.

[2019-01-14 07:30] Tibing commented on #1095
Resolved by #1116

[2019-01-14 07:30] #1095 closed

[2019-01-14 07:37] Tibing commented on #1103
Hi @pawelmaziarz, I don't think this behavior is available now. Moreover, use case you've described above sounds more like [stepper](https://akveo.github.io/nebular/docs/components/stepper/api#nbsteppercomponent) rather than tabs.

[2019-01-14 07:37] #1103 closed

[2019-01-14 07:46] Tibing commented on #1104
Hi @tanzeelrana, I've tried to reproduce the issue with your code in the [stackblitz](https://stackblitz.com/edit/github-9aow9r) and it works completely fine. Could you please provide us the code which will reproduce the issue?

[2019-01-14 07:50] Tibing commented on #1110
Hi @ledsonsilva, as you can see in [the documentation](https://akveo.github.io/nebular/docs/components/calendar-kit/overview#nbcalendarkitmodule) Nebular is distributed with `CalendarKit` module which may help you to build custom calendar easily.

[2019-01-14 08:10] Tibing commented on #1103
@pawelmaziarz, hi again. In general, if you really want to do this, you may manipulate the `active` property of the tab to switch them. The more detailed explanation you can find [here](https://github.com/akveo/nebular/issues/305#issuecomment-374207633).

[2019-01-14 08:14] Tibing commented on #1094
Hi @do-yeon, could you please check this [stackblitz](https://stackblitz.com/edit/github-assamy) it seems to be working properly.

[2019-01-14 08:34] Tibing commented on #1115
Hi @tanmayparmar, we're not planning to this in the nearest version.

[2019-01-14 08:37] Tibing commented on #1128
Hi @nmorenor, please, check[ this issue ](https://github.com/akveo/ngx-admin/issues/1572#issuecomment-368895438)for the detailed answer. Even if you really want to do this, you may process your passwords in HTTP interceptors.

[2019-01-14 08:37] #1128 closed

[2019-01-14 08:40] Tibing commented on #1126
Hi @karthikkavin, for now, time picker is not available in Nebular.

[2019-01-14 08:40] #1126 closed

[2019-01-14 09:44] #188 closed

[2019-01-14 21:02] dizco commented on #628
To remove the back arrow, you should override the `NbAuthComponent` with your own, just like you did for the `NbLoginComponent`.

Then, you change your routing module to look like
[code]

Obviously, you'll want to create your own instance of `AuthComponent`. Here's mine:
[code]

You will also need to copy `auth.component.scss` from the nebular repo, unfortunately. But that should be it :)

[2019-01-15 09:04] im-Luxqi opened #1156 "question about method: isAuthenticated()"
i don`t understand this method;
who can tell me how can return true,  it always return false;
![image](https://user-images.githubusercontent.com/33117225/51169637-630fc280-18e7-11e9-986a-af5611ae22cb.png)
what is auth token?
thanks;

[2019-01-15 11:45] developcodeza-matthew commented on #975
Thanks @nnixaa. Ill try mine with a fixed height.

@Tibing I do understand that as far as possible keep dialogs to a minimal size but especially on mobile landscape it will reasonably often grow longer than the screen.

Thanks for the awesome work guys and keep it up!

[2019-01-15 11:48] developcodeza-matthew commented on #975
For anyone looking for a solution -  adding **max-width: 95vw and max-height: 95vh** keeps the dialog within the bounds of the screen and any overflow is then scrollable.

[2019-01-15 14:13] #848 closed

[2019-01-15 14:13] #1084 closed

[2019-01-15 15:41] #1040 closed

[2019-01-15 17:10] dpollastrini opened #1157 "NbSelect Change Detection Issue"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [* ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When assigning [selected] input on NbSelect component in template, ExpressionChangedAfterItHasBeenCheckedError is thrown.

**Expected behavior:**
ExpressionChangedAfterItHasBeenCheckedError is not thrown.

**Steps to reproduce:**

Place nb-select in

[2019-01-16 01:27] rhajizadeh opened #1158 "Opening NbSelect hides nb-layout-header"
### Issue type

**I'm submitting a**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
If you have nb-layout-header on a page and nb-select inside nb-layout-column and if page's height is bigger than your screen and you open the nb-select after scrolling, the nb-layout-header would disappear.

**Expected behavior:**
nb-layout-header shouldn't move or disappear a

[2019-01-16 08:20] #902 closed

[2019-01-16 10:38] nnixaa commented on #1053
Closing as no answer.

[2019-01-16 10:38] #1053 closed

[2019-01-16 10:39] nnixaa commented on #971
Closing as no answer.

[2019-01-16 10:39] #971 closed

[2019-01-16 10:39] #941 closed

[2019-01-16 10:42] nnixaa opened #1159 "Tooltip: dynamic input"
Ability to provide dynamic input into nbTooptip component.

[2019-01-16 10:43] nnixaa opened #1160 "Popover: provide popover ref with show/hide methods into template and component"

[2019-01-16 14:10] maihannijat commented on #1158
I also confirm the bug - It is happening to my project as well.

[2019-01-16 14:47] nnixaa opened #1161 "We need tests for nebular/cdk part of the theme"
Subj. There is a couple of services that are very important and not tested very well.

[2019-01-16 16:31] Tibing commented on #628
Hi, I think this issue has to be resolved now, I'm closing it. Please, feel free to reopen it or create another one, if you have more questions.

[2019-01-16 16:31] #628 closed

[2019-01-16 16:34] Tibing commented on #1156
Hi @im-Luxqi, could you please provide us with more context? Meanwhile, auth token is an authenticate token (JWT for example) which you have to acquire from your backend service. `isAuthenticated()` method will return true if your token is in storage and not expired.

[2019-01-16 17:13] efuturetoday commented on #630
@lexzhukov Bug still present (version 3.0.0). Please check current demo page.

[2019-01-17 02:17] itomek opened #1163 "Karma does not recognize NbUserModule"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
During Karma test, using `<nb-user [name]="user?.name"></nb-user>` the karma test reports

[code]

**Expected behavior:**
karma test should recognize the NbUserComponent during test

**Steps to reproduce:**
1. Add NbUserModule to `AppModules`
2. add `

[2019-01-17 02:35] #1163 closed

[2019-01-17 08:14] Tibing commented on #1115
Hi @tanmayparmar, also, you may check [the documentation](https://akveo.github.io/nebular/docs/components/input/overview#nbinputdirective) of the input component. It has examples with the outline.

[2019-01-17 08:42] yggg opened #1165 "nbWindowFactory throws on server"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [] feature request

### Issue description

**Current behavior:**
nbWindowFactory throws on server

**Expected behavior:**
nbWindowFactory should check if window exists with `typeof`.
Probably return undefined on the server and make `NB_WINDOW` optional in components which need it.

**Steps to reproduce:**

**Related

[2019-01-17 13:33] Tibing commented on #1016
Here is a possible workaround: https://github.com/akveo/nebular/pull/1038#issuecomment-452268785

[2019-01-17 13:33] #1016 closed

[2019-01-17 16:38] idsplus-carlos opened #1166 "Incorrect index signature for NbAclRole"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description
NbAclRole is defined incorrectly, which in turn causes problems with strict projects. As of now it has an index signature as `[permission: string]: string|string[]` but it also defines `parent?: string` which doesn't conform to that signature.

**Current behavior:**
NbAclRole has an invalid inde

[2019-01-17 19:44] alexsintoni opened #1167 "Add localization to Datepicker or even to the Framework"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ *] feature request

### Issue description

**Current behavior:**
At the moment the Datepicker offers the names of Months only in English. It would be nice to have a way to change the language of it.
In general, would be nice to add to the following framework services:
- ThemeService
- MediaBreakpoints
- JSThemesRe

[2019-01-17 19:56] alexsintoni opened #1168 "Add Time Picker"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
It would be nice to add a Time Picker component to the Nebular Framework.
I would suggest to create similar to [angular-material-time-picker](https://www.npmjs.com/package/angular-material-time-picker) or [ngx-material-timepicker](https://github.com/A

[2019-01-17 20:32] danshou opened #1169 "Smart table dependency ng2-completer 2.0.8 imports HttpClientModule"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Interceptors doesn't catch httpClient calls from lazy modules.

**Expected behavior:**

Interceptor should catch any httpClient call.

**Steps to reproduce:**

nebular 3.1.0, ng2-smart-table 1.3.5 and ng2-completer 2.0.8

**Related code:**

[code]

#

[2019-01-18 01:07] im-Luxqi commented on #1156
Thank you for your answer

[2019-01-21 06:04] leopard168 opened #1170 "How can I layout similar to Bootstrap 12 columns"
I  am familiar to  Bootstrap  12 columns layout .   For example,   using  Bootstrap like this ：
`
 < class="col-6" >
`

but Now , I am using nb-layout just like below .   I  do not know how to  set the column percentage.  for example :

`
  <nb-layout-column >
     ......
   </nb-layout-column>
`

I am wondering how to achieve the layout using Nebular like Bootstrap with column ：

I  am looking fo

[2019-01-21 08:31] nnixaa commented on #1156
Seems resolved.

[2019-01-21 08:31] #1156 closed

[2019-01-21 15:22] boehmmatthias commented on #1108
Same problem here on ng serve or ng build

`WARNING: Invalid value for $grid-breakpoints: This map must be in ascending order, but key 'is' has value 400px which isn't greater than 1200px, the value of the previous key 'xl' !
         on line 16 of node_modules/bootstrap/scss/_functions.scss, in mixin `-assert-ascending`
         from line 201 of node_modules/bootstrap/scss/_variables.scss

[2019-01-21 16:00] jjgriff93 commented on #1125
@visyone the only workaround ive done at the moment is to use the angular built in environment.ts files and add configurations for each different build so the redirectURI is updated depending on whether it's ran in dev locally or test and prod web apps - however not an ideal solution as it needs rebuilding each time

[2019-01-22 07:59] sasikumardr opened #1173 "Passing Context to NbDialog Component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

When passing component as first parameter in NbDialogService.open, I am not able to provide certain properties of component in context property of NbDialogConfig. Typescript complaints that other properties and methods of component are missing in the

[2019-01-22 09:50] FilipK23 commented on #1099
I have the same problem. If I change module 2 times than toasts does not appear. I have my own modules client and admin and if I go from client to admin and back than any toast show. With login and logout it is the same.

[2019-01-22 10:08] Recodify commented on #1140
You can do this by hiding the default icon and then adding your own. Here is an example

ts:
` toggleView() {
    this.flipped = !this.flipped;
  }`

scss:
`.nb-shuffle {
    cursor: pointer;
  }  `

html:

`<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card size="large">

      <i class="nb-shuffle" (click)="toggleView()"></i>
    </nb-card>
  </nb-card-f

[2019-01-22 15:51] uracs commented on #1131
Hi!

I also want to implement a refreshing token concept with NbPasswordAuthStrategy but I can't find how I can store and reach refresh token using NbAuthService.
If you find the solution could you help me?

Thanks advanced,
l.

[2019-01-22 15:56] uracs opened #1178 "NbPasswordAuthStrategy refresh token concept"
Hi!

I want to implement a refreshing token concept with NbPasswordAuthStrategy but I can't find how I can store and reach refresh token using NbAuthService.
Is it possible to configurate the NbPasswordAuthStrategy class, or I have to write a custom logic?
If you had an example for this I would be very glad.

Thanks advanced,
l.

[2019-01-22 17:40] HernanEscola opened #1179 "Tooltip stay visible when the component attached to is removed"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
Adding a tooltip to a button that submit a form, when this form dissapear, the tooltip stay alive and visible in the location where the button was

**Current behavior:**
When an element with a tooltip attached is removed, the tooltip stay visible. It happens with popover as

[2019-01-22 20:23] maihannijat opened #1180 "nb-datepicker next/ previous month navigation jumps"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Some months view have 6 rows and clicking on next or previous month (icons/ arrows) cause these navigation to move up and down.
[Recorded problem in video](https://youtu.be/2u_MmzAqT2I)

**Expected behavior:**

The next and previous months icons/ ar

[2019-01-23 13:44] maihannijat opened #1182 "nb-datepicker reactive form validation issue"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Using Input with `[nbDatepicker]="datePicker"` and Reactive Form. The validation rule is not defined and there is no `required` keyword in the template but leaving the input field empty makes the form invalid. The form is valid if date is entered.

[2019-01-23 14:54] #953 closed

[2019-01-23 14:54] #1142 closed

[2019-01-24 11:43] jjgriff93 commented on #1125
Same, please let me know if you have any luck. @nnixa would welcome some thoughts here :)

[2019-01-24 13:09] yggg commented on #1125
@nnixaa ping

[2019-01-24 14:15] smithbrianscott opened #1183 "Compile error in @nebular/theme schematics folder version 3.0.1"
### Issue type

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I am currently running @nebular/theme version 2.0.1 and tried updating to version 3.1.0. After updating and running the project I get the following error:

`ERROR in node_modules/@nebular/theme/schematics/ng-add/register-theme/index.d.ts(9,82): error TS1005: ',' expected.
node_modules/@nebular/the

[2019-01-25 13:52] Tibing opened #1185 "Overlay Position Strategy is not extensible enough"
We have to investigate the way we're creating positions for our overlay components. It may be hard for the user to extend our position strategy to create custom positions.

[2019-01-25 13:56] Tibing opened #1186 "Switch to ng-packagr"
The current implementation of Nebular build system is a super custom solution. It's very extensible but it's hard to support all the features required for the modern Angular library. That's why we need to switch to the Angular CLI build system.
Yep, we'll have to keep some sort of custom build process like themes prebuilt but it will be the only small part of the whole build process.

[2019-01-25 13:58] Iloivar commented on #1108
Same Problem:

WARNING: Invalid value for $grid-breakpoints: This map must be in ascending order, but key 'is' has value 400px which isn't greater than 1200px, the value of the previous key '
xl' !
         on line 16 of node_modules/bootstrap/scss/_functions.scss, in mixin `-assert-ascending`
         from line 201 of node_modules/bootstrap/scss/_variables.scss
         from line 9 of node_module

[2019-01-26 16:15] artyorsh opened #1187 "Documentation layout issues on mobile"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Looks like there is layout issue for tabs(?) on mobile. See screenshot

<img src="https://user-images.githubusercontent.com/10753921/51789764-8f57f880-219d-11e9-891a-fd4ef77218a3.png" alt="drawing" width="200"/>

Also there is an issue

### Other inf

[2019-01-26 16:19] artyorsh opened #1188 "Tooltip documentation wrong demo"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Wrong demo for tooltip `top` placement. See screenshot

<img src="https://user-images.githubusercontent.com/10753921/51789905-3db06d80-219f-11e9-99d1-8e8d2d850ba2.png" alt="drawing" width="300"/>

### Other information:

**npm, node, OS, Browser**
[c

[2019-01-28 04:04] onyet commented on #116
yes, me too. really hard to change style.

[2019-01-28 12:43] nnixaa commented on #1125
As of now, we can simply inject a particular strategy service, and then use `setOptions` method to dynamically post the configuration, something like this:

[code]

I believe we need to make the `getStrategy` `auth.service` method public to improve this.

[2019-01-28 12:48] nnixaa commented on #1101
https://github.com/akveo/nebular/issues/410

[2019-01-28 13:00] nnixaa commented on #1179
Unfortunately, we won't be able (and there is no need to) track such behavior. Tooltip existence is tracked by Angular lifecycle hooks so that we can remove it on `ngOnDestroy`. Generally, it is not a very good idea to manipulate with DOM directly bypassing Angular API.

[2019-01-28 13:00] #1179 closed

[2019-01-28 13:04] nnixaa commented on #1180
I guess the only thing we can do is to fix the calendar height by the longest value.

[2019-01-28 13:21] nnixaa commented on #1183
Hi @smithbrianscott, could you provide a reproducible example?

[2019-01-28 13:24] nnixaa commented on #1188
It's not really a bug, but rather a feature. The thing is that there is not enough space on top of the button, so the adjustment strategy places the tooltip to the right.

[2019-01-28 13:38] smithbrianscott commented on #1183
Unfortunately, I cannot provide my project. I tried reproducing it with StackBlitz and couldn't. I will trouble more on my end. I ended up staying with version 2.0.1 for now.

Is the 3.0.1 version only compatible with Angular 7?

[2019-01-28 14:03] nnixaa commented on #1178
Let's close this one as a duplicate of https://github.com/akveo/nebular/issues/1131

[2019-01-28 14:03] #1178 closed

[2019-01-28 15:31] jpandaconnor opened #1189 "NbAuthJWTInterceptor: ReferenceError: NbAuthJWTInterceptor is not defined"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Trying to use NbAuthJWTInterceptor returns the error: "ReferenceError: NbAuthJWTInterceptor is not defined"

**Expected behavior:**

For the class to be imported correctly

**Steps to reproduce:**

1: Try to add the NbAuthJWTInterceptor class insid

[2019-01-29 04:44] sasikumardr commented on #1131
below snippets should do the trick.
[code]

in server
[code]

[2019-01-29 09:16] idsplus-carlos commented on #1166
Hi @nnixaa, here you go:

I've created a minimal test repo since i can't reproduce with stackblitz (i'm guessing it doesn't report errors the way i expected): https://github.com/idsplus-carlos/issue_nebular_1166

The error is as follows:
[code]

Repro steps:

1. ng new testproject && cd testproject
1. npm i @nebular/security
1. Add strict: true to compilerOptions in /tsconfig.json
1. Import NbSecu

[2019-01-29 09:43] marmelin opened #1190 "[SOLVED] NbAuthJWTToken seen as NbAuthSimpleToken in different browsers"
Hello nebular-team,

as stated in the issue "NbAuthJWTToken from Response Header" #691 :
_Originally posted by @applicationuser in https://github.com/akveo/nebular/issues/691#issuecomment-429504707_
The token should be read as JWT token ...

BUT the output tells us that it shows a SIMPLE token:

That is why the payload is null, and every other JWT function, like "getTokenExpDate()" does not work.

[2019-01-29 10:11] nnixaa commented on #1183
Yes, 7+ version.

[2019-01-29 12:38] marmelin commented on #1190
# SOLUTION:
I did not do a login first ... **after calling the login component of nebular**,  the token is valid and seen as NbAuthJWTToken!

The login-component stores the token in the localStorage of browser and THEN other components can read with "this.authService.onTokenChange()" .

Maybe a little hint in the docs for this, under "Use Token" ?? :)

Sorry for this unnecessary entry, but maybe i

[2019-01-29 12:52] swayam18 opened #1192 "Changing the font family to "Open-Sans" causes significant performance degradation"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Loads open-sans font after main css, slowing down page load

**Expected behavior:**
Preloads open-sans font. Google auditor complains about un-preloaded font.

**Steps to reproduce:**
1. Set main font to: "Open Sans"
2. Run google chrome's audit feature

### Other informat

[2019-01-29 14:19] irshadnilam commented on #328
Hi, did you find a solution? I am having the same problem.
Thanks

[2019-01-29 14:22] nnixaa commented on #328
Can someone consolidate a reproducible example? Otherwise, it seems impossible to guess.

[2019-01-29 15:06] irshadnilam commented on #328
Node Version - v11.6.0
NPM Version - 6.5.0-next.0
Ubuntu 18.04.1 LTS
Angular CLI Version - 7.2.3

1. `ng new project` (use routing, use scss)
2.  `cd project`
3. `ng serve` (success)
4. `ng add @nebular/theme` (corporate, yes, yes)
5. `ng serve` (success)
6. Following [this guide](https://akveo.github.io/nebular/docs/auth/installation) to add auth
7. Final step : Enable Styles - I've added the `@i

[2019-01-29 15:14] aucros commented on #328
Hi,
I have same problem.
node.js 10.15.0.

following your guide to install theme in a new project by guide "Add into existing project" and addin auth module by your Auth installation guide, after i add the code:
`@import '~@nebular/auth/styles/all'; // or @import '~@nebular/auth/styles/{theme-name}';

// ...

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global(); // app

[2019-01-29 16:30] irshadnilam commented on #328
I changed the order of imports and the error is gone.
[code]
I am not sure what's the reason behind it.
@aucros give this a try.

[2019-01-29 17:12] misterfifi1 opened #1193 "How to clear NbMenuService items"
Hi,

I am trying to clear all the items from the Menu, unfortunately, in the NbMenuService I have only the addItems, but I am looking for a clear or replace method.

Can you help me please?

Regards,

[2019-01-29 17:22] HernanEscola commented on #1179
@nnixaa No, it doesn't work with the angulars lifecycle neither. If you have a component that inside have other component with a button that have a tooltip attached to it and when clicked it navigate to other route (destroying the parent component or hidden it), the tooltip stay vissible and sometiimes change the location too.

[2019-01-29 18:06] imtDeveloper opened #1194 "Scrollbar Radius Not Implemented"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When specifying a "scrollbar-thumb-radius" in a nebular theme, the radius is not utilized.

The reason for this is that while the nb-scrollbars mixin has a parameter for radius (the fourth parameter), _none_ of the calls to the mixin specify a radius,

[2019-01-30 02:51] irshadnilam commented on #328
@nnixaa
Hi, do you have any theories regarding this?
Do the order of the imports matter?

Thanks.

[2019-01-30 08:24] marchrius opened #1195 "NbDatepicker "next month" skips one month"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

When open the datepicker and from January 29 or January 30 go to the next month it shows March view instead of February

**Expected behavior:**

**Steps to reproduce:**

Go to official ngx-admin demo page in the datepicker section and open datepicker

[2019-01-30 14:23] developcodeza-matthew commented on #1195
Was about to submit this myself 😅.  Also when selecting the greyed out numbers next to Jan it jumps to March, skipping Feb.

![screen shot 2019-01-30 at 4 20 47 pm](https://user-images.githubusercontent.com/26629247/51987419-22997280-24ab-11e9-817a-d3495166b1c4.jpg)

For the mean while you an select the first March option, then reselect the year -> month and now Feb should be available. Otherwise

[2019-01-30 20:48] #1159 closed

[2019-01-31 01:47] sasikumardr commented on #1173
Hi @nnixaa, fix for this appears to be a single line change as shown in the PR. Could we include this in 3.2 milestone? Currently I am using this in one of my development project and using dirty hack on d.ts in node-modules for making the error free for typescript. So far everything worked fine here.

If there is more for this fix please let me know. I'll look in to it.

[2019-01-31 06:45] alexsintoni opened #1196 "Add Switcher component directly to Nebular framework"
* [ ] bug report
* [x] feature request

### Issue description

In my opinion, it would be nice to have the [Switcher Component](https://github.com/akveo/ngx-admin/tree/master/src/app/%40theme/components/switcher) which is in [ngx-admin](https://github.com/akveo/ngx-admin) dashboard directly in [Nebular](https://akveo.github.io/nebular/) framework.

[2019-01-31 06:47] im-Luxqi opened #1197 "request for login"
i want to implement login function;

use spring security in the behind,spring security cannot get parameters from  "request payload";
can i change the "contentType" when login submit? i think that can solve my problem.

what should i do?

![1548916211 1](https://user-images.githubusercontent.com/33117225/52036070-0fe47380-2567-11e9-96dc-6c4abd71464a.jpg)
![1548917175 1](https://user-images.githubu

[2019-01-31 08:12] nnixaa opened #1198 "Docs scrolling: last item in the table of content is not always selected"
![screencast 2019-01-22 14-06-16](https://user-images.githubusercontent.com/230527/51531678-2eec5280-1e4f-11e9-9c1c-c32dda5dcc7c.gif)
One final touch left.

[2019-01-31 08:17] syamman commented on #1158
Thats a feature. Not a bug. It will let the user focus on that selection once used it.

[2019-01-31 08:21] marchrius commented on #1195
@developcodeza-matthew ATM the problem seems to be the @nebular/date-fns because with @nebular/moment the problem does not exists.

[2019-01-31 08:51] #810 closed

[2019-01-31 10:21] #1072 closed

[2019-01-31 14:18] nnixaa commented on #1190
We'll update the docs.

[2019-01-31 14:50] marchrius commented on #1195
A possible solution seems to be use @nebular/moment BUT this module does not support "null" or "undefined" initial dates, so I've implemented the same service code on my own and added the check for null / undefined vallues

[2019-01-31 15:46] nnixaa opened #1203 ":email: :calendar: Nebular Release Notes & News"
This is a read-only Nebular newsletter.
Latest news and release notes.
Subscribe (on the right) to stay tuned!

[2019-01-31 15:51] nnixaa opened #1204 "🎁 ✉️ 📆 [Sticky] Nebular Release Notes & News"
- :newspaper: This is a read-only Nebular newsletter.
- :mailbox: Only latest news and release notes.
- :rocket: Subscribe (on the right) to stay tuned!

[2019-01-31 16:19] nnixaa commented on #1204
## :tada: v3.2.0 (2019-01-31)

**Release Notes:**
https://github.com/akveo/nebular/blob/master/CHANGELOG.md#320-2019-01-31

### Highlights 🚀

✅ :speech_balloon: **Popover** and Tooltip now can accept dynamic input:
[code]
*Examples*
https://akveo.github.io/nebular/docs/components/popover/overview
https://akveo.github.io/nebular/docs/components/tooltip/overview

✅ :feet: **Stepper** got `linear` an

[2019-02-01 10:37] Iloivar commented on #327
Looking for the same thing. Is there an update or workaround for this?

[2019-02-01 12:17] albrookesplowman opened #1205 "nebular/auth seems to need theme.. is this reallythe case"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When I add @nebular/auth into package.json as I only want to use the auth package without all of the theme stuff, the app will not compile with  lot of errors about missing modules e.g. @nebular/theme.  According to the docs, this should be possible.

[2019-02-01 13:21] albrookesplowman commented on #1205
I have solved it now by installing the CDK and I also noticed that I had nebular with both a nebular and a Nebular....

[2019-02-01 13:21] #1205 closed

[2019-02-01 13:51] EvgenyProkopovich commented on #1197
If I understand correctly, here is the solution:
![image](https://user-images.githubusercontent.com/39822739/52126837-7f2e9600-2641-11e9-972f-0f1d19a6fcda.png)
![image](https://user-images.githubusercontent.com/39822739/52126852-86ee3a80-2641-11e9-9361-1f96c31e0879.png)
![image](https://user-images.githubusercontent.com/39822739/52126875-940b2980-2641-11e9-9b79-e504d8fd0a45.png)

[2019-02-01 16:30] nunovieira opened #1207 "Allow NbPasswordAuthStrategy.logout() without HTTP request"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
Using `NbPasswordAuthStrategy.logout()` there's always an HTTP request for the `logout` endpoint. But when using stateless JWT, the backend API will not have a `logout` endpoint.

**Expected behavior:**
Allow the configuration of `logout` (and other f

[2019-02-01 21:21] Destreyf commented on #1207
@nunovieira

Just throwing my opinion in the mix, I think allowing `NbPasswordAuthStrategy.logout()` to function without the HTTP request would be okay, however this means there's a JWT that if somehow stolen/acquired would still function, most implementations of JWT I've seen have a "blacklist" functionality where they'll add the token as a "deleted" or blacklisted token to prevent further authen

[2019-02-02 07:46] alexsintoni opened #1208 "WARNING: Invalid value for $grid-breakpoints"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When I start my project containing Nebuar framework with `npm start` I get:
[code]

**Expected behavior:**
Not warnings

**Steps to reproduce:**

### Other information:

**npm, node, OS, Browser**
Node version: v8.11.4
npm version: 6.5.0
Browser: Chro

[2019-02-02 08:04] sukeshlaghate opened #1209 "Feature Request for future Nebular releases"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Feature Request
I have always been an ardent fan of Nebular. That said, I would definitely like to see it grow rich in features , hence in my opinion it would be nice to have following components in Nebular (in addition to my earlier request #1070 :
**For UI**:
* Slider and range slider simi

[2019-02-02 13:18] TomasTopinka commented on #704
I have the same problem, can You plan it to the next release, please ?

[2019-02-02 13:49] Eve-1995 commented on #1157
This problem performs in my project.

[2019-02-02 15:20] jagabs opened #1210 "nb-option ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'setDisabled: false'. Current value: 'setDisabled: true'."
[code]

When i change the type to payment the first time, no error. Change to Loan and to payment again it gives me this error.

![screen shot 2019-02-02 at 11 20 01 pm](https://user-images.githubusercontent.com/17292042/52165864-280fea80-2741-11e9-87dd-0cce04c78d51.png)
![screen shot 2019-02-02 at 11 20 17 pm](https://user-images.githubusercontent.com/17292042/52165865-29d9ae00-2741-11e9-8b71-cfd

[2019-02-04 06:04] thewall4095 commented on #327
Sorry for delayed response.
I found a workaround to achieve this by modifying the library a bit. Just a small modification in file : @nebular\theme\components\menu\menu.component.js

Find **NbMenuItemComponent.decorators** in the file and change it to the way mentioned below.

``    NbMenuItemComponent.decorators = [
        { type: Component, args: [{
                    // tslint:disable-next-li

[2019-02-04 06:49] Iloivar commented on #327
Unfortunately, this doesn't help me. I don't have this file, nor the decorator in my Project.

[2019-02-04 10:09] thewall4095 commented on #327
You will find it inside node modules directory of your project.

[2019-02-04 13:45] malamut42 commented on #1210
I had the same problem. There are some problems with destroying elements like nb-select and nb-checkbox because of value in control changes after nb-select destroyed. You can temporary change this.cd.detectChanges() in select.component.js on
`if(!this.cd['destroyed']) {
    this.cd.detectChanges();
}`

[2019-02-05 13:17] shreenil commented on #1179
Experiencing the same behaviour. Any updates on this @nnixaa @HernanEscola ??

[2019-02-05 14:02] nnixaa commented on #1179
Can someone post a reproducible stackblitz? This one can be used as a starter https://stackblitz.com/github/akveo/nebular-seed

[2019-02-06 09:11] Tibing opened #1212 "Typo in NbLayoutColumn basic example"
https://akveo.github.io/nebular/docs/components/layout/overview#nblayoutcomponent
![image](https://user-images.githubusercontent.com/17410089/52331071-40655b00-2a08-11e9-86a9-49f3872bdece.png)

[2019-02-06 11:15] mihaisc opened #1214 "Icon buttons"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X] feature request

### Issue description
It would be nice if you could add icon button similar to https://material.io/develop/web/components/buttons/icon-buttons/ . You could put an icon in a button but it doesn't look good, you need to add some css.

[2019-02-06 11:29] Tibing commented on #1193
Hi @misterfifi1, as I see your issue properly, you just need to pass new menu items array in `<nb-menu [items]="newMenuItems"></nb-menu>`

[2019-02-06 11:46] Tibing commented on #1209
Hi @sukeshlaghate, thank you for submitting your feature requests! I can promise nothing, but we'll think about your suggestions.

[2019-02-06 13:19] #1212 closed

[2019-02-06 14:41] #1166 closed

[2019-02-06 16:15] nicolataddei94 opened #1217 "More control on paginator"
I would manage pagination server side.

Paginator provides to set the pages by itself, but if I have an object with only the elements I want to display, he does not appear.
For example, I have pageIndex, pageSize, count and data. If I want to display only 10 elements and from server arrive 10 items, paginator does not appear.

I wanted to ask if more directives can be made public in order to have

[2019-02-06 16:16] #1217 closed

[2019-02-07 12:19] jainAdijain opened #1220 "Unable to remove new icon from the Dashboard button in the menu"
How to remove the "new" as marked in the image

![image](https://user-images.githubusercontent.com/27722458/52411158-c49b0980-2b00-11e9-8fd7-432769599bb1.png)

[2019-02-07 14:16] kgrigorian commented on #1157
having the same issue

[2019-02-08 12:54] Iloivar commented on #327
Okay i found the file.
Can you insert your code inside a code block or plain text? My project won't compile your code due to special characters, i guess.

Another question: Do i have to fork the whole nebular/theme project from github or is there another way to "protect" my (or. your code) from future npm installs?

[2019-02-08 13:30] thewall4095 commented on #327
There you go @Iloivar

`    NbMenuItemComponent.decorators = [
        { type: Component, args: [{
                    // tslint:disable-next-line:component-selector
                    selector: '[nbMenuItem]',
                    template: "<span *ngIf=\"menuItem.group\"> <i class=\"menu-icon {{ menuItem.icon }}\" *ngIf=\"menuItem.icon\"></i> {{ menuItem.title }} </span> <a *ngIf=\"menuItem.link

[2019-02-08 13:49] Iloivar commented on #327
That worked!
Thank you very much for your help! :-)

[2019-02-09 12:01] sukeshlaghate commented on #1220
Hi @jainAdijain ,

You would need to access file @theme/layouts/sample/sample.layout.scss and comment out the section
starting at line 111 through 126 containing lines
[code]
This would remove "new" label.
@nnixaa Request you to refactor code to use badge instead of CSS,  so that users can easily remove  "new" label

With regards,
Sukesh.

[2019-02-09 20:21] nckenn commented on #1129
This will be nice, subscribing )

[2019-02-11 15:04] #1073 closed

[2019-02-11 15:04] #1101 closed

[2019-02-11 17:36] RodrigoPauletti opened #1225 "Datepicker - Language support"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
1. The calendar's language it's only in english;
2. When I select the data range, the input show that "Feb 6, 2019 - Feb 9, 2019";

**Expected behavior:**
1. The calendar's language in many languages;
2. I want to show that in input "06/02/2019 - 09/02/2019" or "06 de feve

[2019-02-11 18:50] #410 closed

[2019-02-11 20:02] #1099 closed

[2019-02-12 06:40] Iloivar commented on #327
I used [patch-package](https://www.npmjs.com/package/patch-package) . Very easy and simple way to customize without forking or git ignore :-)

[2019-02-12 07:56] serbasii opened #1227 "Browser cache problem"
hi, how to prevent the browser cache, when i deployed as versioning  on nginx, not redirecting to upper version. Only way ctrl+f5.

old    host.com/v4
new  host.com/v5

[2019-02-13 09:29] nnixaa opened #1228 "Remove scss functions from Nebular"
- as the first step on a way to css-variables.

[2019-02-13 09:31] nnixaa opened #1229 "Separate theme mappings from the actual theme"
- as the second step on a way to the new design system.

[2019-02-13 12:07] anupam42 commented on #948
@pdomala Have got any solutions for ur issue because i am facing the same issue

[2019-02-13 12:25] KostyaDanovsky opened #1230 "nb-select selection issue"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

If `nb-select` was rendered and only after that list of options come from the server, it's not possible to select any option

**Expected behavior:**

If we load list of option after `nb-select` rendering it should be possible to select value

**Steps

[2019-02-13 13:01] matejlubej commented on #926
@ganapathymano it seems the issue is with format string. Moment specifies that you need to escape format string like this: e.g. [format]="'MM[/]DD[/]YYYY'". Escape dividers with []. For me it works.

[2019-02-14 09:49] yggg opened #1232 "Configurable request headers for auth strategies"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
There is no way to specify additional headers for requests sent from auth strategies.

**Expected behavior:**
Be able to set additional headers in strategy options.

**Related code:**
https://github.com/akveo/nebular/blob/3343136e8b50b29d18cd8e90ba675

[2019-02-14 10:34] yggg commented on #1220
Thanks for your help, sukeshlaghate. We'll remove this badge in the next release.
Closing as answered.

[2019-02-14 10:34] #1220 closed

[2019-02-14 11:31] RodrigoPauletti opened #1233 "Toastr - Support HTML tags"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [x] feature request

### Issue description

**Expected behavior:**
Detect HTML tags like ```<br>```,  ```<strong>```,  ```<i>```, etc.

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2019-02-14 11:38] xeti34 opened #1234 "can't custom UI login component"
### Issue type

**I'm submitting a ...**

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Error: Can't resolve all parameters for NgxLoginComponent: ([object Object], ?, [object Object], [object Object]).

**Expected behavior:**
I try to extend NgLoginComponent with a constructor inside

**Related code:**

[code]

The issue appear only if I use constructor.
I

[2019-02-14 12:04] yggg commented on #1225
Hi @RodrigoPauletti!
Under the hood, datepicker uses angular `LOCALE_ID` to format date to a string. So after you provide it, the output will be localized.
See [example](https://stackblitz.com/edit/n-1225-datepicker-localization?file=src%2Fapp%2Fapp.module.ts) (file: `app.module.ts`).
Details on [i18n](https://angular.io/guide/i18n) angular.

Keeping the issue open, as we need to add localization

[2019-02-14 12:21] yggg commented on #1227
Hi @serbasii. There is `outputHashing` option for `ng build` command (also configurable in angular.json). When it's on, Angular adds hash to resources file names. So once file change, its name in resulting bundle changes as well and the browser will load this file again.

[2019-02-14 12:21] #1227 closed

[2019-02-14 12:35] yggg commented on #1234
Hi @xeti34. You need to use `@Inject(NB_AUTH_OPTIONS) protected options` as a second parameter of constructor, instead of `options: {}`. See dependency-injection in angular [docs](https://angular.io/guide/dependency-injection).

[2019-02-14 12:35] #1234 closed

[2019-02-14 13:13] xeti34 commented on #1234
@yggg it's working !!!! thank's 👍

[2019-02-14 15:11] SashaSkywalker opened #1235 "nb-select with empty value"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

**Current behavior:**
nb-select render empty string in label for option with empty value

**Expected behavior:**
nb-select should render option label

**Steps to reproduce:**
[code]

if user selects first option then nothing will be rendered in label (bad)
if user selects second option then *sec

[2019-02-14 15:30] FilipK23 commented on #1099
Hello @nnixaa its not fixed.

Using 3.2.1 version (so latest release) and still not working.

[2019-02-14 15:54] nnixaa commented on #1099
It is scheduled for 3.3.0, should be released relatively soon:
![image](https://user-images.githubusercontent.com/230527/52798883-e3157d80-3089-11e9-96ba-3dab5a5e7870.png)

[2019-02-14 16:20] obarazan opened #1236 "Smart table under tabs"
Hi all,

I'm trying to create a smart table under tabs, its route me to another page. It's possible to create it in the same page under the current tab (the smart table component is located in another folder)?

Thanks & regards,
Or

[2019-02-14 17:55] RodrigoPauletti commented on #1225
@yggg It works! Thanks, bro.

[2019-02-14 17:57] jpandaconnor opened #1237 "No Refresh Token expiry technique"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ x ] feature request

### Issue description

**Current behavior:**

When using both access and refresh tokens, there is a tactic to refresh the access token, but not to handle when a Refresh tokens expires. My server could send a request with something like {status: 401, message: "Token expired"}

**Expected behavi

[2019-02-14 18:44] TheNomo3000 commented on #682
Hey @maihannijat could you solve it? I have the same problem when trying to do it with more than one NbOAuth2AuthStrategy.

[code]
Error:
![image](https://user-images.githubusercontent.com/24535623/52809068-b6646480-308f-11e9-90b6-aa0f58e58cb0.png)

Following screenshots are from the debug which comes from the file: auth.service.js > this.strategies...

![tempsnip](https://user-images.githubuserco

[2019-02-14 20:29] nnixaa commented on #682
export const NB_CORE_PROVIDERS = [
  ...NbAuthModule.forRoot({
    // ...
  }).providers,
  NbGoogleOAuth2Strategy,
  NbFacebookOAuth2Strategy,
];

[2019-02-15 08:33] yggg opened #1238 "NbWindowService Error 'Element matching '[cdkFocusInitial]' is not focusable'"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
Original akveo/ngx-admin#2004

**Current behavior:**
Window service uses cached overlay container even when container removed from DOM.

**Expected behavior:**
Check if windowsContainerViewRef is still in the DOM.

**Related code:**
https://github.com/akveo/nebular/blob/334

[2019-02-15 08:38] yggg commented on #1236
Hi @obarazan.

[2019-02-15 09:32] misterfifi1 commented on #1193
Thanks,
I will try but I will have to act on directly on the HTML, it would be better to implement the method :)
Regards,

[2019-02-15 10:09] yggg commented on #1236
Hi @obarazan. Sorry, not sure if I got you right. Could you please create an example on [stackblitz](https://stackblitz.com/github/akveo/nebular-seed) if my answer isn't what you asked for?

To navigate inside the current tab, the route of the current tab should have child routes and also it should have `<router-outlet>` inside. Then you'll be able to navigate to child routes within the current ta

[2019-02-15 11:47] vladLazurenko opened #1240 "Memory leaks in demo and NbMenuItemComponent"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description
I'm using ngx-admin for a several 'companies' with their data and have a button to switch companies.
I was researching memory leaks in my project using chrome DevTools Memory tab and found out that count of NbMenuItemComponent grows when switch between companies.

Once i fo

[2019-02-15 13:58] xndrmd opened #1241 "NbSidebarComponent State"
Hi all, is it possible to know the current state of a sidebar.

Regards.

[2019-02-15 14:43] sameerpallav commented on #1102
You need to install and include NbMomentDateModule from '@nebular/moment' for it to work.

[2019-02-15 14:45] sameerpallav commented on #1081
This always selects today's date if I click on the form. Expected behavior should be it should open the input date by default.

[2019-02-15 15:23] khatrizeeshan commented on #682
Have tried didn't help

[2019-02-15 16:06] Tibing commented on #1102
@Yang-tzu-yi, hi there, comment above looks like the solution, so, I'm closing the issue.
If the issue isn't resolved, please, reopen it.

[2019-02-15 16:06] #1102 closed

[2019-02-15 16:18] TheNomo3000 commented on #682
Hey @nnixaa , we have tried and it didn't work, apreciate help. Any other ways???

[2019-02-15 16:21] Malbeth81 opened #1242 "Pages menu linking to site root fails to activate"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**

When you add a menu item to the site root ("/") it fails to activate when you click on it.

**Expected behavior:**

The menu activates when clicking on the menu item or navigating to the site root ("/").

**Steps to reproduce:**

Setup the pages comp

[2019-02-15 16:49] #1056 closed

[2019-02-15 19:39] Malbeth81 commented on #1242
Found a temporary fix involving ngDoCheck():

[code]

[2019-02-17 06:56] obarazan commented on #1236
Hi @yggg ,
Thanks
![tabs](https://user-images.githubusercontent.com/47638725/52909492-e24f3800-3291-11e9-9c22-09ef60fff04c.PNG)
 for your response.
In your example the tab provide me link to another internal page I want to display the table when I click on the tab. It is possible?
I my attached file I want to display the table instead Content #3.

[2019-02-18 08:29] yggg commented on #1041
Closed in #1152

[2019-02-18 08:29] #1041 closed

[2019-02-18 10:53] #1173 closed

[2019-02-18 11:34] #1143 closed

[2019-02-18 12:12] Tibing commented on #1237
Hi @jpandaconnor, Nebular auth module handles refresh token expiration as expected. We can't do something when refresh token expired. So, if you're using some `AuthGuard` which calls `NbAuthService`, then in case of refresh token expiration `NbAuthService` will just say that your token invalid and can't be refreshed. In this situation, you'll be able to redirect the user to the login page.
Here is

[2019-02-18 12:36] nnixaa commented on #1241
Hi @xndrmd, it seems that currently, it is not possible. Though you can subscribe to `onToggle, onCollaplse, onExpand` methods to listen to the sidebar state change.

[2019-02-18 13:17] Tibing opened #1246 "Auth require valid token by default"
Each auth module(login, redirect, etc.) has `requireValidToken` setting which is `false` by default. If that setting set to `true` module will fail in cases of positive response (Http status 200) with an invalid token. Otherwise, it will signal that operation completed successfully, however it was actually failed.

I propose to set `requireValidToken` to `true` by default. Because it sounds more l

[2019-02-18 14:39] nnixaa commented on #1204
## :tada: v3.3.0 (2019-02-18)

**Release Notes:**
https://github.com/akveo/nebular/blob/master/CHANGELOG.md#330-2019-02-18

#### Highlights :rocket:

✅ :palm_tree: new **Tree Grid** component!

*Examples*
https://akveo.github.io/nebular/docs/components/tree-grid/overview

✅ :speech_balloon: **Context Menu** can accept dynamic input.

✅ :speech_balloon: new **Context Menu** `right-click` example:
[

[2019-02-18 16:11] nnixaa commented on #682
Right, one more step and it should be fine as a workaround:

[code]

[2019-02-18 16:22] TheNomo3000 commented on #682
@nnixaa Thanks! Yes, it works correctly.

[2019-02-18 18:52] xndrmd commented on #1241
@nnixaa Thanks for the response, though when the sidebar collapses/compacts through breakpoints we don't get notified by those observables

[2019-02-19 10:35] nckenn opened #1259 "Bug on layout when Dialog is open"
i dont know if this is a bug or not, currently clone the master branch, and when i try to open dialog this happen, but on your demo its seems ok, but on my local its not. hope someone can help me :) thanks

![chrome_2019-02-19_18-29-46](https://user-images.githubusercontent.com/7109270/53008576-ac1dde00-3474-11e9-8cb7-09395fa19158.png)

[2019-02-19 16:25] fabienCambournacAcseo commented on #1019
`<nb-datepicker filter="false" #datepicker></nb-datepicker>`

[2019-02-20 07:11] sunnychan16 opened #1250 "Not able to add nebular source to ngx-admin"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

Sorry to bother if this is some stupid question, I am still picking up Angular and Nebular.

I am trying to do some customization to to ngx-admin, but I am not able to compile after I added the source of nebular into the project.

**Expected behavior

[2019-02-20 07:19] jmpmscorp opened #1251 "NbRangePicker error with date-fns"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
NbRangePicker doesn't work when date-fns (@nebular/date-fns module) is used. However, if NbRangePicker is used without any external date library, it works well.

**Expected behavior:**
NbRangePicker works as expected using date-fns.

**Steps to repro

[2019-02-20 09:51] nnixaa commented on #1250
Hi @sunnychan16, could you elaborate on a reason why you need to copy over the library sources, please?

[2019-02-20 09:53] nnixaa commented on #741
Closing as it's been a while.

[2019-02-20 09:53] #741 closed

[2019-02-20 09:54] nnixaa commented on #834
Closing as it's been a while.

[2019-02-20 09:54] #834 closed

[2019-02-20 09:54] nnixaa commented on #825
Closing as it's been a while and seems addressed.

[2019-02-20 09:54] #825 closed

[2019-02-20 09:54] nnixaa commented on #655
Closing as it's been a while and seems addressed.

[2019-02-20 09:54] #655 closed

[2019-02-20 09:55] nnixaa commented on #883
Closing as it's been a while.

[2019-02-20 09:55] #883 closed

[2019-02-20 09:55] nnixaa commented on #970
Closing as it's been a while.

[2019-02-20 09:55] #970 closed

[2019-02-20 09:56] nnixaa commented on #954
Hi @KelvinPrimo, have you been able to resolve the issue?

[2019-02-20 09:56] nnixaa commented on #923
Closing as it's been a while and seems addressed.

[2019-02-20 09:57] nnixaa commented on #725
Closing as it's been a while.

[2019-02-20 09:57] #725 closed

[2019-02-20 09:58] nnixaa commented on #1017
Hi @sukeshlaghate, great suggestion, here you go https://stackblitz.com/github/akveo/nebular-seed.

[2019-02-20 09:59] nnixaa commented on #1048
Closing as it seems addressed.

[2019-02-20 09:59] #1048 closed

[2019-02-20 19:15] jaapcrezee commented on #1063
This does not seem fixed in Nebular v3.3.0. When I set my .ts property to = null and use  data subscription and
[code]
there is no data in the dropdown select; <select/> works as expected.

[2019-02-20 19:25] sunnychan16 commented on #1250
Hi @nnixaa, thanks for the quick response.

I am trying to customize the authorization, since I need to submit a different structure of body to the login api to my server.

I got the idea from a earlier [post](https://github.com/akveo/nebular/issues/12)

[2019-02-21 01:33] TheNomo3000 opened #1252 "Popover: bug on validation form"
### Issue type

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
The popover, which is used in validation, gets caught and does not go away when the value is valid.

**Expected behavior:**
It is expected that when the value is valid, the popover does not appear.

**Steps to reproduce:**
Implements popover in inputs for validation

**Related code:**

[code]

###

[2019-02-21 01:44] lee-wilkins opened #1253 "nbToasterService: Ability to add custom close button & On Close event"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x ] feature request

### Issue description

**Current behavior:**
nbToasters can only currently be closed by
a) clicking anywhere on the toaster
b) setting a timeout

In addition to this we can't trigger a custom event after the toaster closes.

In this particular instance we are building a PWA and showing using th

[2019-02-21 09:09] nnixaa commented on #1252
Hi @TheNomo3000, what Nebular version are you on? And also, could you post a reproducible example? You can use https://stackblitz.com/github/akveo/nebular-seed as a starter.

[2019-02-21 09:12] nnixaa commented on #1250
Have you tried following this doс https://akveo.github.io/nebular/docs/auth/custom-auth-components#custom-auth-components?

[2019-02-21 09:14] nnixaa commented on #1063
@Tibing can you check?

[2019-02-21 12:29] #1182 closed

[2019-02-21 15:50] batousik opened #1255 "nb-global-spinner keeps on showing"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

nb-global-spinner doesnt hide
**Expected behavior:**

nb-global-spinner should disapear

### Other information:
Please explain what should trigger global-spinner display set to none

[2019-02-21 19:04] yggg commented on #1108
I can't see `WARNING: Invalid value for $grid-breakpoints:` warning during the build. Tried on sources from the master or with the latest published package (3.3.0). Is somebody still facing this warning?

Regarding `DEPRECATION WARNING Including .css files with @import is non-standard behavior which will be removed in future versions of LibSass.`. `node-sass` developers changed their mind and allo

[2019-02-22 00:26] TheNomo3000 commented on #1252
Hi @nnixaa
    "@nebular/auth": "^3.2.1",
    "@nebular/theme": "^3.2.1",
I will try to create a reproducible example

[2019-02-22 01:46] travis1234 commented on #165
+1 This would be great. Thanks!

[2019-02-22 07:45] yggg commented on #1130
Hi @chihab! `packages-smoke` project not meant to be used by developers. It is used on our ci to check not released packages, so it doesn't have much sense to include any Nebular dependency into package.json because they are not on npm yet. We'll remove all Nebular dependencies shortly (#1258).
Closing as not applicable. Feel free to reopen if you facing any issues because of this.

[2019-02-22 07:45] #1130 closed

[2019-02-22 08:34] nnixaa commented on #1255
Hi @batousik, you can inject `NbSpinnerService` and call `load` method, to trigger all registered `loaders` (if any). This should hide the global spinner.

[2019-02-22 10:13] frankie567 opened #1260 "nb-select doesn't deselect option when resetting ngModel"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**

After having selected an option with `nb-select`, if the binded `ngModel` is resetted (`null` or `undefined` value) by the component, the option is still selected in the `nb-select`.

**Expected behavior:**

After having selected an option with `nb-s

[2019-02-22 17:26] viqashussain commented on #1190
I am also have the exact same problem, where the token is seen as `NbAuthSimpleToken` instead of `NbAuthJWTToken`, although in the Nebular login component, the token is seen as type of `NbAuthJWTToken`.

How exactly do you resolve this issue? The OP's answer didn't really explain much.

[2019-02-23 01:22] toddhd commented on #545
Thank you suku-h, that worked for me as well.

[2019-02-23 04:44] swbradshaw opened #1261 "NbWindowService - context no longer works"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

I just upgraded from 3.0.0 to 3.3.0, and now the context property no longer works when creating a window.

It appears the example app/demo is not working either:
https://akveo.github.io/nebular/example/window/template-window.component

**Expected beh

[2019-02-23 13:33] marmelin commented on #1190
You cannot read a token with ".onTokenChange()" as long as you called the login() function, which does a authenticate request and receives a valid token. So, after login component has been called, the token is going to be stored in localStorage of browser.
AFTER this, you can read it with ".onTokenChange()".
I tested the header component with ".onTokenChange()", but without doing a login first, so

[2019-02-25 10:03] viqashussain commented on #1190
Nope, this isn't a solution for me. I am using the nblogin template, which calls the authenticate method upon logging in. After which I call `onTokenChange()`, I still receive the problem.

[2019-02-25 11:45] viqashussain commented on #1190
My problem was that I was configuring my auth in my auth module instead of my app module (i.e. `NbAuthModule.forRoot...`) --> moving this into the app.module resolved the issue.

[2019-02-25 16:50] WLun001 opened #1263 "Consider to add Nebular to angular resource page, https://angular.io/resources?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
*  [x] feature request

### Issue description
Hi Nebula team, have you all consider to add Nebular into Angular resource page under UI components to increase discoverability?

[2019-02-25 17:33] jpandaconnor commented on #1237
Hi,

Thank you for your solution. This has solved my query. Just thought it would be best to double check before implementing any solution.

Thank you for your help! :)

[2019-02-25 17:38] Tibing commented on #1204
## 🎉 v3.3.0 (2019-02-25)
**Release Notes:**
https://github.com/akveo/nebular/blob/master/CHANGELOG.md#340-2019-02-25

#### Highlights 🚀
✅ 🌴 **tree-grid** allows define getters for row properties:

[code]
_Examples_
https://akveo.github.io/nebular/docs/components/tree-grid/overview

✅ 📑 **route-tabset** got configurable *routerLinkActiveOptions*:

_Examples_
https://akveo.github.io/nebular/docs/com

[2019-02-25 19:11] swbradshaw commented on #1230
I think this is a dupe of #1063

[2019-02-26 06:17] Mr-Sloth opened #1264 "Ngx-admin documentation for nebular"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x ] feature request

### Issue description

**Current behavior:**
Couldn´t find documentation of components from ngx-admin website.
For example, I googled for the ngx-documentation and got to the website. The documentation is only about the installation process. I couldn´t find any forwarding to the detailed docume

[2019-02-26 09:50] aefox commented on #589
although an old issue, since it still opened I will answer so this can be closed.
indeed this is a misconfiguration on the angular side and not related to nebular.
long story short, angular cli has 2 sections to describe different configurations, a `build` section and a `serve` section. see here for more details https://github.com/angular/angular-cli/issues/10800

[2019-02-26 10:06] aefox commented on #689
This is an old issue and I don't see it reproducing on the latest ngx-admin version (3.1.0). I think this can be closed

[2019-02-26 10:17] aefox commented on #443
This can be closed I guess since this question is not relevant anymore since now nebular supports [NbDialogService](https://akveo.github.io/nebular/docs/components/dialog/overview#nbdialogservice) and the component that gets rendered can be completely customized as needed

[2019-02-26 17:02] Tibing commented on #1263
Hi @WLun001, thanks for the feature request! Our request to add Nebular into Angular resources page was merged recently and Nebular will appear there with the nearest update of angular.io

[2019-02-26 17:02] #1263 closed

[2019-02-26 17:54] #589 closed

[2019-02-27 09:03] #443 closed

[2019-02-27 12:13] aefox commented on #1264
There is actually a mention on the frameworks that ngx-admin is built on.

![image](https://user-images.githubusercontent.com/8288413/53489346-a4c08b00-3a99-11e9-8046-7f6dace22803.png)

Isn't that enough?

PS: I've been following on the development around nebular and ngx-admin closely for about a year now and the ngx-admin docs part is relatively new. The link in the docs will probably be added at

[2019-02-28 05:03] rhajizadeh commented on #1235
The same thing happens when with value equal to number 0 when we assign numbers to values.
for example:
[code]
or: https://nb-select-zero-issue.stackblitz.io

[2019-02-28 05:49] aefox commented on #1261
Fix provided in https://github.com/akveo/nebular/pull/1266

[2019-02-28 05:50] aefox commented on #1260
Fix provided in https://github.com/akveo/nebular/pull/1265 (will require discussion and if approved adding some tests)

[2019-02-28 09:06] nnixaa commented on #1136
Cannot reproduce it. Could you someone consolidate a reproducible example at https://stackblitz.com/github/akveo/nebular-seed?

[2019-02-28 11:05] yggg opened #1267 "Docs: NbTreeGrid add installation section"

[2019-03-01 07:29] aefox commented on #973
Fix for the arrow provided in https://github.com/akveo/nebular/pull/1268. Still trying to fix the menu items alignment as well ...

[2019-03-01 10:25] sergey-tihon opened #1269 "Layout Rotate Search in Safari"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Layout Rotate Search in Safari 12.0.3
<img width="1540" alt="ngx-admin_-_angular_7__bootstrap_4_admin_dashboard_template" src="https://user-images.githubusercontent.com/1197905/53631893-a23e6c80-3c24-11e9-919d-28ee120c9a05.png">

**Expected behavior:*

[2019-03-01 13:54] nnixaa commented on #1269
@sergey-tihon thanks for posting.

[2019-03-03 19:29] Roman-Simik opened #1273 "NbContextMenu stops working after parent element is "reattached""
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request

### Issue description
- _NbContextMenu_ **stops working** after parent element/component is "refreshed".

**Current behavior:**

- After "refreshing" the element/component, every _NbContextMenu_ inside that element/component stops working.
- **PS:** By refreshing I don't mean using "F5", but by `detaching` and then `

[2019-03-04 15:03] neverlose-lv opened #1274 "refresh_token key on login??"
Hey! It is rather more a question, that an issue, but I haven't find a place where to ask, so I'm asking it here.

I have an endpointm, which returns a json object with keys:
[code]

I have configured the app using the next code:

[code]

There is a key, that can be set for the `token`, but there is no way to set a configuration for the refresh_token key.
Have I missed something?
The application s

[2019-03-04 23:00] dizco commented on #1158
I'm not sure exactly why this bug is happening, but I notice that it's related to the fact that a style is added to the `html` tag with a `top` value in the negatives. The more you scroll down before opening the `nb-select`, the lower the `top` value is.

I tried to reproduce the issue in the official documentation examples and was unable to. Don't know what the difference is...

Anyone have an id

[2019-03-04 23:13] dizco commented on #1274
I guess there are a few options here.

The one I prefer is to set the `refresh_token` as an `HTTP_ONLY` cookie. This must be done server-side and ensures better security because your refresh token won't be readable from Javascript. This cookie will be present in every API request.

Another option could be to extend the `NbAuthSimpleToken`. I have setup an [untested gist](https://gist.github.com/di

[2019-03-05 08:30] #973 closed

[2019-03-05 09:01] neverlose-lv commented on #1274
So, if the backend will set the http_only cookie, and when the access-token will expire, the backend should refresh the access_token himself without additional request from the frontend?

If the cookie will not be accessible from javascript, that means that the frontend will not be able to read that cookie? So it won't be able to make a refresh_token request...

And about the 2nd choice - i didn't

[2019-03-05 12:13] Bloggerschmidt opened #1275 "icons do not work"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Starting a fresh new Angular app with Nebular default theme doesn't display the icons (e.g. search icon).

**Expected behavior:**
Displaying icons in default theme

**Steps to reproduce:**
With Anglar CLI
[code]
[code]

**Related code:**
Take a look a

[2019-03-05 15:51] yggg opened #1276 "Rebuild internal schematics on post install"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2019-03-05 19:20] m-mo opened #1277 "NbMenu - Deselect all menu items when this.findItemByUrl() returns undefined"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
When there are two NbMenu components active on a single page (for example, in the ngx-admin demo) and they both contain different NbMenuItems, both NbMenus will retain the .active class on the last NbMenuItem that was clicked, even if the router path

[2019-03-05 21:00] dizco commented on #1274
Hey @neverlose-lv,

The `HttpOnly` cookie is sent automatically with every request from your browser.

You can have an interceptor in your frontend that detects when your requests start returning 401 and then trigger a refresh token request.

That refresh request will automatically have the `refresh_token` as a cookie. Your backend just has to read the cookie and generate a new `access_token`. Hop

[2019-03-06 10:54] aefox commented on #1277
@m-mo thanks for raising this issue. it would help tremendously a [stackblitz ](https://stackblitz.com) demonstrating the issue. this makes it faster for whomever will end up fixing this issue

[2019-03-06 11:17] m-mo commented on #1277
Hi @aefox please see the stackblitz below that reproduces the issue:
https://stackblitz.com/edit/ngx-admin-1845-hkegss

[2019-03-06 12:23] yggg opened #1278 "Add auth and permissions examples to menu docs"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description
Add examples showing how to update `nb-menu` based on auth status and roles.

[2019-03-06 12:56] aefox commented on #1230
this actually works as expected as long as your `nb-option`s correctly set their `value` attribute. please see this [stackblitz](https://stackblitz.com/edit/github-kkt2hz-ugcvqu?file=src%2Fapp%2Fhome%2Fhome.component.html) for examples. If you remove the `[value]="item"` on the `nb-option`s you'll see the problem you mentioned reproduces. but this is an incorrect usage of `nb-option`. cc: @nnixaa

[2019-03-06 13:01] aefox commented on #1063
the initially raised issue with selecting the option actually works as expected as long as your `nb-option`s correctly set their `value` attribute. please see this [stackblitz](https://stackblitz.com/edit/github-kkt2hz-ugcvqu?file=src%2Fapp%2Fhome%2Fhome.component.html) for examples. If you remove the `[value]="item"` on the `nb-option`s you'll see the problem you mentioned reproduces. but this is

[2019-03-06 13:23] aefox commented on #1063
[PR](https://github.com/akveo/nebular/pull/1280) raised

[2019-03-06 14:53] aefox commented on #1277
thanks a lot for that @m-mo !
@nnixaa this needs your input. do you think it would be ok to update this block [here](https://github.com/akveo/nebular/blob/master/src/framework/theme/components/menu/menu.service.ts#L209) to do a reset of the selection, like:
[code]

I gave this a shot locally and it fixes the raised issue. But I am not sure if other scenarios would be affected or not

[2019-03-06 19:12] lobomacz commented on #1275
I am experiencing the exact same issue. Any workaround for this?

[2019-03-07 02:41] jmpmscorp opened #1281 "NbRangePicker Firefox always invalid"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
NbRangePicker is invalid in Firefox browsers, always has ng-invalid class. I have tested it with Chrome, Opera and Xiaomi mobile browser and there works without error. Only Firefox fail.

Firefox example:
![firefox rangepicker error](https://user-ima

[2019-03-07 07:03] myleshk commented on #1125
Any update on this?

[2019-03-07 07:53] yggg commented on #1275
To fix the issue, add `"./node_modules/nebular-icons/scss/nebular-icons.scss"` to styles array of your project in angular.json

[2019-03-07 08:55] aefox commented on #1235
PR for fix opened in https://github.com/akveo/nebular/pull/1282

[2019-03-07 09:30] Im-Kevin opened #1283 "Tabset custom Title Or Add Close button"

[2019-03-07 09:41] mehmetalpsumer opened #1284 "NbMenuService.onItemClick() calls even if not clicked after the first time"
### Issue type

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
"NbMenuService" component's onItemClick event is called even though I don't click to it, and unsubscribe on destroy.

**Expected behavior:**
```NbMenuService.onItemClick()``` only called on click.

**Steps to reproduce:**

I added this to he

[2019-03-07 10:50] aefox commented on #1259
I did some extra investigations. I found a way to reproduce this issue:
- navigate to the ngx-admin
- open developer tools
- move developer tools at the bottom of the window
- focus on the html tag in the explorer tab
- increase the developer tools height until the height of the html becomes smaller than 647px
- scroll at the bottom of the window
- open any dialog

Screenshot with the style on the

[2019-03-07 11:15] suppadeliux commented on #769
Hello,
Is this component still be added in a future upgrade?.
If not, do you know any way to add this in an Angular 7 app?
Thanks for your answer.

[2019-03-07 14:36] jhonattan471 opened #1285 "Datepicker on change"
* [ ] bug report
* [x ] feature request

### Issue description

Datepicker, When a user input a date, there is a way to trigger a event ? I need to have something like (change) like others inputs, so i can call my function when the date is selected.

[2019-03-07 14:54] yggg commented on #1277
Thanks @m-mo and @aefox!

Looks good to me. Since we don't have unselect event, we can ignore unselected items returned from `resetSelection`.

[2019-03-07 14:57] jhonattan471 commented on #1285
I found a solution

in the component  :

@ViewChild('rangepicker') rangepicker;

this.rangepicker.rangeChange.subscribe(e =>{
      console.log("ONCHANGE....");
});

[2019-03-07 16:05] aefox commented on #1260
Fix provided in https://github.com/akveo/nebular/pull/1282

[2019-03-07 17:10] Mubramaj commented on #1136
I can confirm this issue on Nebular 3.4.0

[2019-03-07 19:19] anthowm opened #1286 "GraphQl support"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [X ] feature request

I guess nebular need integration with graphql apis not only https apis out of the box. Maybe with apollo client for angular could be nice.

[2019-03-08 06:50] sivaadhithya commented on #924
am not able to pass the data till now
this.dialogService.open(messagecomponent, { hasBackdrop: true, closeOnBackdropClick: true,hasScroll:false,context:{id:2222,value:'ssssss'});

[2019-03-08 06:50] sivaadhithya opened #1287 "am not able to pass the data from till now nb dialog component"
am not able to pass the data till now
this.dialogService.open(messagecomponent, { hasBackdrop: true, closeOnBackdropClick: true,hasScroll:false,context: { testVar: "sssss" });
_Originally posted by @sivaadhithya in https://github.com/akveo/nebular/issues/924#issuecomment-470825199_
Error
 error TS2345: Argument of type '{ hasBackdrop: true; closeOnBackdropClick: true; hasScroll: false; context: {

[2019-03-08 15:12] erickvls commented on #1062
How can i customize my color ? For example i dont want primary,success,warning, info. i want pink. How can i change only to specific select(nb-select) using outline ?

[2019-03-09 15:26] jdjacopodario opened #1288 "No component factory found when i call NbWindow from Custom Button Ng2-SmartTable"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request

### Issue description

**Current behavior:**

**Expected behavior:**

When i call the NbWindow from a event click of one custom button into Ng2-smart-table i have the error 'No component factory found for MyComponent'. If I change the NbWindows in NbDialog all works fine.
Specific error(view co

[2019-03-09 22:31] dragonbane0 opened #1289 "Regression introduced by PR #1007 ; can't select options in nb-select"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
After updating @nebular/theme from 3.0.0 to 3.0.1 in my electron app I noticed that nb-select is now buggy and doesn't allow you to select any options (the list doesn't even come up) while it resides inside a nb-tabset (dynamically generated with a ng

[2019-03-11 06:02] nalinab commented on #1289
Same Issue Noted above..I am using Nebular 3.4.0 and angular 7  from Nebular 2.0.1 and angular 6,After upgrading the both, I am getting the issues in <nb-select> template which  is used inside <nb-stepper> in three forms, first form <nb-select>  is working ,other form's <nb-select> are not working. Please tell me when this bug will be resolved and I am in mid way of completion of my project. Do I

[2019-03-11 06:49] #689 closed

[2019-03-11 07:20] yggg commented on #1236
Yes, you can. Here is [example](https://stackblitz.com/edit/nebular-1236-2?file=src%2Fapp%2Fapp.component.ts). Notice that this example uses `nb-route-tabset`, so each tab is a separate route in your app. If you don't need tabs to be routable you can use `nb-tabset`, then you can do something like this:
[code]

See [docs](https://akveo.github.io/nebular/docs/components/tabs/overview#nbtabsetcompon

[2019-03-11 08:35] nckenn commented on #1259
for now i added this class in my styles.scss  to make it work properly :
`.cdk-global-scrollblock {
	position: initial;
	width: initial;
	overflow: hidden;
}`

[2019-03-11 09:38] aefox commented on #1259
This seems to be coming from https://github.com/angular/material2/issues/7512 and https://github.com/angular/material2/issues/7390.

I started from @nckenn 's reply above and isolated the change to be:
[code]

I have tested this fix on Edge, FF and Chrome and it works as expected (on both `ltr` and `rtl`). I wasn't able to test on IE11 because dev tools does not show me the styles for the html ele

[2019-03-11 09:39] Kolpak86 opened #1290 "Unable to close nb-datepicker pop-up by click-outside while nb-datepicker resides inside a nb-tabset"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Unable to close nb-datepicker pop-up by click-outside while nb-datepicker resides inside a nb-tabset. nb-datepicker that reside in the first tab that I outside is clicked/touched do work. nb-datepicker pop-up in all the other tabs no not closing when

[2019-03-11 11:13] Kolpak86 commented on #1290
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/30974219/54120029-c6116780-4407-11e9-9ba4-39b0c2b4a70c.gif)

[2019-03-11 11:31] yggg commented on #1251
Thanks for reporting @jmpmscorp!
Fixed in #1291.
For the time being, you can downgrade to `date-fns@2.0.0-alpha.25`, then it should work without problems.

By the way, all Nebular packages should be the same version to work properly. From issue description, I can see you use `@nebular/theme` version 3.0.0 and other @nebular packages are @3.3.0.

[2019-03-11 12:10] Kolpak86 commented on #1290
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30974219/54123086-dc232600-440f-11e9-98a0-360dbb65f702.gif)

[2019-03-11 12:43] yggg commented on #1081
Looks like it works now. Checked with native, date-fns and moment date services.

Yep. Please notice, you can use format only in pair with date-fns or moment, not native date (It doesn't support formatting).

Does anyone still have issues with writing date into input manually?

@sameerpallav regarding

You can set `date` input of `nb-datepicker` to null. Then it'll just show current month and date

[2019-03-11 14:38] H-Theking opened #1292 "nb-select not rendering options in a stepper, when not in the first page"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request

### Issue description

**Current behavior:**

I have a stepper within a window that I use for a setup wizard. The first form has several nb-selects whose options are rendered. The third form also has an nb-select. However it's options aren' rendered. When the window opens, the backend call for

[2019-03-11 19:19] jjgriff93 opened #1293 "Getting errors when trying to bind formControl to nb-select multiple"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request

### Issue description

**Current behavior:**
I'm using formBuilder and creating a form like this:
[code]

This is populating an array of boolean values, initially setting each value in the array to true as by default I want all of the nb-select options to be checked.

Then in the template I'm bi

[2019-03-12 07:17] elSuperRiton commented on #1292
Same issue here. Interestingly the select will also stop working after moving back in the stepper.
I can also confirm that it seems to be broken when used in tabs and accordion also :s

[2019-03-12 09:51] leduclinh7141 commented on #1102
I have same issue. I added NbMomentDateModule but nothing change. 2 way binding is not work. Anyone has any solution for this?

[2019-03-12 09:59] nnixaa commented on #1125
@myleshk make sure you have only one instance of `NbPasswordAuthStrategy` in your app, by registering `NbAuthModule.forRoot` only in the app module. Else post a reproducible to https://stackblitz.com/github/akveo/nebular-seed so that we can check. Thanks.

[2019-03-12 09:59] nnixaa commented on #1286
@anthowm would be a great way to contribute!

[2019-03-12 10:35] jpandaconnor opened #1294 "Token doesn't expire via HTTP request"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**

When using the NbAuthJWTInterceptor class, the token expires and will redirect the user to the login screen when the page is changed. However, when a HTTP request is made (To our back end API, it will not recognize the token as expired)

**Expected b

[2019-03-12 10:44] nnixaa commented on #1259
@aefox I guess we should try and check it doesn't introduce any performance drawbacks. I believe https://github.com/akveo/nebular/blob/master/src/framework/theme/components/cdk/overlay/_overlay.theme.scss would be a good place since we already overwriting some styles there.

[2019-03-12 11:09] nnixaa commented on #1289
Most likely related https://github.com/akveo/nebular/issues/1292

[2019-03-12 11:18] nnixaa commented on #1287
Closing as duplicate of https://github.com/akveo/nebular/issues/1261

[2019-03-12 11:18] #1287 closed

[2019-03-12 11:19] nnixaa commented on #1289
Same goes for https://github.com/akveo/nebular/issues/1290

[2019-03-12 11:20] nnixaa commented on #1289
https://github.com/akveo/nebular/issues/1273 also might be related

[2019-03-12 11:29] digitalberry-ahmed commented on #1246
I'm using NbAuthJWTToken as wrapper class to authenticate users to /pages/** and i noticed that if i change the value of the json web token from local storage the user still authenticated even with invalid token !! below my module configuration :
` NbAuthModule.forRoot({
      strategies : [
        NbPasswordAuthStrategy.setup({
          name : 'email' ,
          baseEndpoint : 'http://localhos

[2019-03-12 12:40] nnixaa commented on #1102
@leduclinh7141 could you open a new issue with a reproducible example, please? You can use https://stackblitz.com/github/akveo/nebular-seed as a starter.

[2019-03-12 12:46] nnixaa commented on #1246
@digitalberry-ahmed could you post an example of how you make this change to the token?

[2019-03-12 13:13] digitalberry-ahmed commented on #1246
Thank you for your responsiveness @nnixaa
fter the authentication , if I delete the last 4 characters of the token value no validation on token validity is made and the page remains accessible
![invalid-token](https://user-images.githubusercontent.com/36071409/54202498-78acfd00-44d0-11e9-9611-42284443067a.PNG)
![valid-jwt](https://user-images.githubusercontent.com/36071409/54202499-79459380-44d0-1

[2019-03-12 13:21] michabbb opened #1295 "flipcard like we see in the demo"
pardon, if this is not the right place for asking general questions: where is that place ? 🤔
because i didn´t find any link to a forum or anything else, i do it anyway here and apologize!

i would like to use a flipcard like we see in the [demo](http://akveo.com/ngx-admin/pages/dashboard),
but the docu gives me no info, howto put the flip-button on top, instead of bottom right 😕

![image](https://

[2019-03-12 13:53] nnixaa commented on #1246
Well this is expected behavior since Nebular cannot be aware of the external changes you made outside of the Angular.
In this very case, you need to refresh the page to notify Nebular about the changes made.
On the other hand, if you want to manually control a token from your code - you can inject `NbTokenStorage` and call `clear` method. More details on the API https://akveo.github.io/nebular/doc

[2019-03-12 14:52] JrPribs commented on #1295
@michabbb It seems to get the desired effect you are looking for you would just set `showToggleButton` to false on the component and then add your own button in the content that would ultimately call the flip cards `toggle` method orset the provided `flipped` `@Input()`

[2019-03-12 15:11] michabbb commented on #1295
@JrPribs thanks a lot, I will try! 👍

[2019-03-12 15:11] sameerpallav commented on #1081
@yggg my use case was different. For example, if the input field has a value Jan 9 1991, when i click on it it opens today's date by default and not Jan of 1991 and i have to navigate to Jan 1991 manually and 9th is selected. Shldn't it start with Jan 1991 by default if its the input

[2019-03-12 17:53] wendellmva opened #1296 "No mixin named nb-install"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request

### Issue description

**Current behavior:**
Throws an error:

    @include nb-install() {
            ^
          No mixin named nb-install
          in D:\repositories\tmp\PAC.MyAppHero ...

**Expected behavior:**

**Steps to reproduce:**
git clone https://gitlab.com/wendellmva/myapphero.git

[2019-03-13 03:50] myleshk commented on #1125
@nnixaa Hi I was not sure where to inject the strategy service and call `setOptions` as you suggested.
I'm currently using 2 actions namely login & refresh_token, and tried to inject it in `app.comonent.ts`, and it does not work. See https://stackblitz.com/edit/nebular-dynamic-auth-api-fail

So finally I have to build a CustomAuthComponent extending NbAuthComponent, inject NbPasswordAuthStrategy a

[2019-03-13 08:43] stoto34 opened #1297 "AOT Build : how setup function can be called in NbAuthModule.forRoot ?"
Hi,

I'm sorry to post this but I'm really stuck and I need to understand why. So it's not an issue, I just need help like a SOS...
I've used nebular auth strategie code to create my own system of clients consumer strategies (it could be restClient, GraphQL Client, SoapClient...). In my forRoot function in app.module of my module, I've got a setup function totally similar as Nebular auth to initia

[2019-03-13 09:16] Nilesh-Sonawane commented on #1037
Hi team ,
I am using angular 7.3.5 version and facing issue while executing application
core.js:15437 ERROR Error: Uncaught (in promise): TypeError: Class constructor OverlayContainer cannot be invoked without 'new'
TypeError: Class constructor OverlayContainer cannot be invoked without 'new'
    at NbOverlayContainerAdapter.NbOverlayContainer [as constructor] (mapping.js:233)
    at new NbOverlay

[2019-03-13 14:04] z31fbras opened #1298 "Datepicker - Set first day of the week"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request

### Issue description

**Current behavior:**
We cannot set the first day of the week on the Calendar component.
First day of the week is always Sunday.

**Expected behavior:**
I live in France and the first day of the week is Monday here.
I'd love to be able set a config parameter for the first

[2019-03-13 14:42] yggg commented on #1157
Fix is ready (#1299) and it'll land in 3.4.1.
Before the release, you could prevent this error by triggering change detection manually in the component where select is used.
[code]

[2019-03-13 14:44] yggg commented on #1293
Hi @jjgriff93!
Regarding `[formControl]="searchByTermForm.controls['filterByTypes']"` (from the code you provided).
I don't think it's possible to use `[formControl]` directive this way. According to the [source](https://github.com/angular/angular/blob/bf656d64b8fc66ad2a39dccdee59f993a6c202ed/packages/forms/src/directives/reactive_directives/form_control_directive.ts#L143) directive expects `FormC

[2019-03-13 19:26] yggg commented on #1081
@sameerpallav Now I see it, thanks for clarification 🙂
Fixed in `3.4.1` ([pull request](https://github.com/akveo/nebular/pull/1300)).

[2019-03-13 19:40] yggg opened #1302 "TreeGrid docs: remove confusing nb-fs-icon component"
Use Nebular row toggle or define nb-fs-icon in the example file.

[2019-03-14 09:44] #1251 closed

[2019-03-14 12:17] #1267 closed

[2019-03-14 12:56] #1157 closed

[2019-03-14 13:42] #1081 closed

[2019-03-14 19:40] kartik-budhiraja commented on #1286
Is this issue available?, if yes, then I would love to work on this, :)

[2019-03-14 20:12] nnixaa commented on #1286
It very much is! :)

[2019-03-14 20:37] kartik-budhiraja commented on #1286
Great, I will start working on it, will ping you guys if I have a question or get stuck, :)

[2019-03-15 01:58] yedajiang44 opened #1303 "font awesome icons size"
`font awesome`icon size too big
![QQ截图20190315095004](https://user-images.githubusercontent.com/25813145/54402657-bd6ea900-4707-11e9-8f3d-d282387281d5.jpg)
html code:
[code]
How to keep the size consistent？？？

[2019-03-15 11:29] nnixaa commented on #1286
@kartik-budhiraja sure thing. As a suggestion, we may start from tech doc where you can describe the approach, some details on configurations and corner cases. Then we can discuss the details and then move on to actual coding. It may save some time on revies and discussions on the next steps. I believe this could be a comment in this very issue, so no need in something heavy like google docs.

[2019-03-15 17:12] anthowm commented on #1286
@kartik-budhiraja @nnixaa I didnt get the notifications omg, well if you need help with your approach I can help you too, by the moment I can give you a graphql server for test if your approach works https://github.com/anthowm/graphqlpetapi-backend.

[2019-03-15 22:00] michabbb commented on #1295
okay, seems to work 😏

[code]
[code]

[code]

@JrPribs thanks for the hint!

[2019-03-15 22:00] #1295 closed

[2019-03-17 00:25] alex88 opened #1305 "Layout header with both fixed and subheader attributes"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

### Issue description

**Current behavior:**
When the page is small enough the header scrolls with the main layout content

**Expected behavior:**
When setting both `fixed` and `subheader` to a layout header I would expect it to be fixed on top instead of scroll with the page when using a mobile

[2019-03-17 01:46] xndrmd commented on #1305
@alex88  If you want it to stay fixed, remove the subheader attribute.

https://stackblitz.com/edit/github-hin584-9saukj?file=src/app/app.component.html

[2019-03-18 09:33] yggg commented on #1303
Closing as duplicate of https://github.com/akveo/ngx-admin/issues/2064

[2019-03-18 09:33] #1303 closed

[2019-03-18 15:11] nnixaa commented on #1204
## :tada: v3.4.1 (2019-02-25)
**Release Notes:**
https://github.com/akveo/nebular/blob/master/CHANGELOG.md#341-2019-03-18

#### Highlights :rocket:
✅ :speech_balloon: **Context Menu** arrow position is fixed in IE.

✅ :date: **Date Picker** fixed not starting from date typed in input:

✅ :hammer: **Bug-fixes** and improvements!

[2019-03-19 08:02] ntziolis commented on #1286
I'd love to see all components support graphql on the client side having client side resolvers  to encapsulate any business logic (with agular services inside the resolvers) vs calling services from the components directly.

Apollo should  be the ONLY service that gets passed down to components as it represents a fully typesafe api to interact with the datamodel and state of the app.

Having servi

[2019-03-19 10:39] yggg commented on #1050
Fixed

[2019-03-19 10:39] #1050 closed

[2019-03-19 10:44] yggg opened #1307 "Docs search: add current tab name to the page header"
Currently search results contain same entries for all available tabs.
https://github.com/akveo/nebular/blob/464f85e34a1bb7db55d7ce5f086832d0f4e92101/docs/app/documentation/page/page.component.html#L5

[2019-03-19 15:54] xavidram commented on #561
Good Morning,

This issue still seems to persist.

![image](https://user-images.githubusercontent.com/1348719/54621190-5b7ab000-4a35-11e9-8b8c-c8d6248ec7cb.png)

![image](https://user-images.githubusercontent.com/1348719/54621201-60d7fa80-4a35-11e9-8385-0b2d07c99f7b.png)

[2019-03-21 10:14] z31fbras opened #1308 "[Stepper] Add event for step change"
### Issue type
* [ ] bug report
* [x] feature request

### Issue description
Currently, there is no dectecting a step change in a stepper.
This prevents us from doing a lot of things with our Angular app.

It would be great to add a way to listen to events from stepper, in order to add some logic based on step change.

I found a workaround by disabling the step navigation and listen for the Next b

[2019-03-21 11:54] visyone commented on #1125
@myleshk thanks for your hint. I follow your implementations and now I can use dynamic values for strategy options.
Would be great if this configuration can be achieved in AppComponent

[2019-03-21 13:53] nnixaa opened #1309 "Migration guide to Eva"
- [ ] Generate all necessary colors based on existing in theme
- [ ] List of all variables changes
- [ ] Changes in icons setup
- [ ] How to enable css variables

[2019-03-21 13:57] xavidram opened #1310 "Nebular CSS Conflicts with Devexpress DxGrid search columns."
Good Morning,

This issue still seems to persist.

![image](https://user-images.githubusercontent.com/1348719/54621190-5b7ab000-4a35-11e9-8b8c-c8d6248ec7cb.png)

![image](https://user-images.githubusercontent.com/1348719/54621201-60d7fa80-4a35-11e9-8385-0b2d07c99f7b.png)

_Originally posted by @xavidram in https://github.com/akveo/nebular/issues/561#issuecomment-474439372_